{% extends 'base.html.twig' %}

{% block title %}{% trans %}Show FAQS{% endtrans %}{% endblock %}

{% block stylesheets %}
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" href="{{asset('assets/img/icon.ico')}}" type="image/x-icon"/>

	<!-- Fonts and icons -->
	<script src="{{asset('assets/js/plugin/webfont/webfont.min.js')}}"></script>
	<script>
		WebFont.load({
			google: {"families":["Open+Sans:300,400,600,700"]},
			custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['{{asset('assets/css/fonts.css')}}']},
			active: function() {
				sessionStorage.fonts = true;
			}
		});
	</script>
    <style>
    #home{
    margin-left: 50px;
    }
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color:#454445;
    }


    </style>
   

	<!-- CSS Files -->
	<link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/azzara.min.css')}}">

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link rel="stylesheet" href="{{asset('assets/css/demo.css')}}">
{% endblock %}
{% block Userprofile %}
						<div class="avatar-sm float-left mr-2">
							<img src="{{asset('assets/img/profile.jpg')}}" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									Hizrian
									<span class="user-level">Administrator</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="#profile">
											<span class="link-collapse">{% trans %}My Profil {% endtrans %}</span>
										</a>
									</li>
									<li>
										<a href="#edit">
											<span class="link-collapse">{% trans %}Edit Profil {% endtrans %}</span>
										</a>
									</li>
									<li>
										<a href="#settings">
											<span class="link-collapse">{% trans %}Settings{% endtrans %}</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						
						
{% endblock %}
{% block projests %}
          <li class="nav-item">
							<a  href="{{path('cms_site_list')}}">
								<i class="fas fa-circle-notch"></i>
								<p>{% trans %}Sites{% endtrans %}</p>
								<span class="caret"></span>
							</a>
                                </li>
                            
{% endblock %}

{% block page %}
          <li class="nav-item">

<a href="{{path('cms_page_list')}}">
								<i class="fas fa-copy"></i>
								<p>{% trans %}pages{% endtrans %}</p>
								<span class="caret"></span>
							</a>
                                </li>
{% endblock %}

				{% block FAQ %}
				<li class="nav-item">

				<a href="{{path('cms_faq_list')}}">
				<i class="fas fa-question-circle"></i>
				<p>{% trans %}FAQ{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				</li>
				{% endblock %}
				{% block blocks_site %}
				<li class="nav-item">

				<a data-toggle="collapse" href="#blocks_site">
				<i class="fas fa-layer-group"></i>
				<p>{% trans %}Site Block{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				<div class="collapse" id="blocks_site">
				<ul class="nav nav-collapse">
					<li>
						<a href="{{path('cms_menu_index')}}">
							<span class="sub-item">{% trans %}Menu{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_footer_index')}}">
							<span class="sub-item">{% trans %}footer{% endtrans %}</span>
						</a>
					</li>
		 <li>
						<a href="{{path('cms_service_index')}}">
							<span class="sub-item">{% trans %}Services{% endtrans %}</span>
						</a>
					</li>

				</ul>
			</div>
				</li>
				{% endblock %}
				{% block blocks %}
				<li class="nav-item">

				<a data-toggle="collapse" href="#blocks">
				<i class="fas fa-layer-group"></i>
				<p>{% trans %}Page Block{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				<div class="collapse" id="blocks">
				<ul class="nav nav-collapse">
				
					<li>
						<a href="{{path('cms_gallery_index')}}">
							<span class="sub-item">{% trans %}gallery{% endtrans %}</span>
						</a>
					</li>
			
					<li>
						<a href="{{path('cms_contactblock_index')}}">
							<span class="sub-item">{% trans %}Contact{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_imagevideo_index')}}">
							<span class="sub-item">{% trans %}Images&Video{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_header_index')}}">
							<span class="sub-item">{% trans %}Header{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_feature_index')}}">
							<span class="sub-item">{% trans %}Feature{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_team_membre_index')}}">
							<span class="sub-item">{% trans %}Team & membres{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_pricing_index')}}">
							<span class="sub-item">{% trans %}Pricing{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_pageservice_index')}}">
							<span class="sub-item">{% trans %}Page Services{% endtrans %}</span>
						</a>
					</li>

				</ul>
			</div>
				</li>
				{% endblock %}
{% block blog %}
				<li class="nav-item">

				<a data-toggle="collapse" href="#blog">
				<i class="fas fa-user-cog"></i>
				<p>{% trans %}User Blog{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				<div class="collapse" id="blog">
				<ul class="nav nav-collapse">
					<li>
						<a href="{{path('cms_list_categories')}}">
							<span class="sub-item">{% trans %}Categories{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_list_articles')}}">
							<span class="sub-item">{% trans %}Posts{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_list_tags')}}">
							<span class="sub-item">{% trans %}Tags{% endtrans %}</span>
						</a>
					</li>
					
					

				</ul>
			</div>
				</li>
				{% endblock %}
				{% block news %}
				<li class="nav-item">

				<a href="{{path('cms_news_index')}}">
				<i class="far fa-newspaper"></i>
				<p>{% trans %}News{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				</li>
				{% endblock %}
				 {% block forum %}
				<li class="nav-item">

				<a data-toggle="collapse" href="#forum">
				<i class="fas fa-cubes"></i>
				<p>{% trans %}User Forum{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				<div class="collapse" id="forum">
				<ul class="nav nav-collapse">
					<li>
						<a href="{{path('cms_forum_index')}}">
							<span class="sub-item">{% trans %}Forums{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_topic_index')}}">
							<span class="sub-item">{% trans %}Topics{% endtrans %}</span>
						</a>
					</li>
					
					

				</ul>
			</div>
				</li>
				{% endblock %}
{% block content %}
<div class="container bootstrap snippet">
 
   
    <div class="row">
<!--/col-3-->
    	<div class="col-sm-9">
            

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
             
               
					<!--
                <div class="card-header">
        <a href="#" class="btn btn-default btn-block">Frequently Asked Questions</a>
         <div class="container">
    <br />
    

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        This section contains a wealth of information, related to <strong>Youdev-it </strong> and its store. If you cannot find an answer to your question, 
        make sure to contact us. 
    </div>

    <br />

    <div class="" id="accordion">
        <div class="faqHeader">General questions</div>
        {% for faq in faqs %}
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{faq.id}}">{{faq.question}}</a>
                </h4>
            </div>
            <div id="collapseOne{{faq.id}}" class="panel-collapse collapse in">
                <div class="card-header">
                <div class="card-header">
                  {{faq.reponse}}
                </div></div>
            </div>
        </div>
        
          {% endfor %}
  -->
            <br>           
       <div id="accordion" class="accordion-secondary">
		<a href="#" class="btn btn-default btn-block">{% trans %}Frequently Asked Questions{% endtrans %}</a>
		 <br>  
       {% for faq in faqs %}
	<div class="card">

		<div class="card-header" id="headingOne{{faq.id}}" data-toggle="collapse" data-target="#collapseOne{{faq.id}}" aria-expanded="true" aria-controls="collapseOne">
			<div class="span-icon">
				<div class="fas fa-question-circle"></div>
			</div>
			<div class="span-title">
              {{faq.question}}
           </div>
			<div class="span-mode"></div>
		</div>

		<div id="collapseOne{{faq.id}}" class="collapse show" aria-labelledby="headingOne{{faq.id}}" data-parent="#accordion">
			<div class="card-body">
				{{faq.reponse}}
			</div>
		</div>
	</div>               
      {% endfor %}             
         <div class="navigation"> 

{{knp_pagination_render(faqs)}}

		 </div>    	
              
               </div> </div>
             </div><!--/tab-pane-->
            <!--/tab-pane-->
       
               
             <!--/tab-pane-->
          </div><!--/tab-content-->

        </div>
      <!--/col-9-->
    </div>
{% endblock %}
 {% block javascripts %}
 
  <script src="{{asset('assets/js/core/jquery.3.2.1.min.js')}}"></script>
<script src="{{asset('assets/js/core/popper.min.js')}}"></script>
<script src="{{asset('assets/js/core/bootstrap.min.js')}}"></script>

<!-- jQuery UI -->
<script src="{{asset('assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')}}"></script>
<script src="{{asset('assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')}}"></script>

<!-- jQuery Scrollbar -->
<script src="{{asset('assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')}}"></script>

<!-- Moment JS -->
<script src="{{asset('assets/js/plugin/moment/moment.min.js')}}"></script>

<!-- Chart JS -->
<script src="{{asset('assets/js/plugin/chart.js/chart.min.js')}}"></script>

<!-- jQuery Sparkline -->
<script src="{{asset('assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js')}}"></script>

<!-- Chart Circle -->
<script src="{{asset('assets/js/plugin/chart-circle/circles.min.js')}}"></script>

<!-- Datatables -->
<script src="{{asset('assets/js/plugin/datatables/datatables.min.js')}}"></script>

<!-- Bootstrap Notify -->
<script src="{{asset('assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')}}"></script>

<!-- Bootstrap Toggle -->
<script src="{{asset('assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')}}"></script>

<!-- jQuery Vector Maps -->
<script src="{{asset('assets/js/plugin/jqvmap/jquery.vmap.min.js')}}"></script>
<script src="{{asset('assets/js/plugin/jqvmap/maps/jquery.vmap.world.js')}}"></script>

<!-- Google Maps Plugin -->
<script src="{{asset('assets/js/plugin/gmaps/gmaps.js')}}"></script>

<!-- Sweet Alert -->
<script src="{{asset('assets/js/plugin/sweetalert/sweetalert.min.js')}}"></script>

<!-- Azzara JS -->
<script src="{{asset('assets/js/ready.min.js')}}"></script>

<!-- Azzara DEMO methods, don't include it in your project! -->
<script src="{{asset('assets/js/setting-demo.js')}}"></script>
<script src="{{asset('assets/js/demo.js')}}"></script>
 <script>
		$('#displayNotif').on('load', function(){
			var placementFrom = $('#notify_placement_from option:selected').val();
			var placementAlign = $('#notify_placement_align option:selected').val();
			var state = $('#notify_state option:selected').val();
			var style = $('#notify_style option:selected').val();
			var content = {};

			content.message = 'New Site has been added';
			content.title = 'Site notify';
			if (style == "withicon") {
				content.icon = 'fa fa-bell';
			} else {
				content.icon = 'none';
			}
			content.url = 'index.html';
			content.target = '_blank';

			$.notify(content,{
				type: state,
				placement: {
					from: placementFrom,
					align: placementAlign
				},
				time: 1000,
				delay: 0,
			});
		});
	</script>

 {% endblock %}