{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<style>
.login_form_wrapper {
    float: left;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: grey
}

.login_wrapper {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    float: left;
    width: 100%;
    background: #fff;
    padding: 50px
}

.login_wrapper a.btn {
    color: #fff;
    width: 100%;
    height: 50px;
    padding: 6px 25px;
    line-height: 36px;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 5px;
    background: #4385f5;
    font-size: 16px;
    border: 1px solid #4385f5
}

.login_wrapper a i {
    float: right;
    margin: 0;
    line-height: 35px
}

.login_wrapper a.google-plus {
    background: #db4c3e;
    border: 1px solid #db4c3e
}

.login_wrapper h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #111;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    position: relative
}

.login_wrapper .formsix-pos,
.formsix-e {
    position: relative
}

.form-group {
    margin-bottom: 15px
}

.login_wrapper .form-control {
    height: 53px;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #fafafa;
    border-radius: 3px;
    box-shadow: none;
    font-family: 'Roboto';
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fafafa
}

.login_wrapper .form-control:focus {
    color: #999;
    background-color: fafafa;
    border: 1px solid #4285f4 !important
}

.login_remember_box {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #999
}

.login_remember_box .control {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    margin: 0
}

.login_remember_box .control input {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.login_remember_box .control__indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid #999
}

.login_remember_box .forget_password {
    float: right;
    color: #db4c3e;
    line-height: 12px;
    text-decoration: underline
}

.login_btn_wrapper {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e4e4e4
}

.login_btn_wrapper a.login_btn {
    text-align: center;
    text-transform: uppercase
}

.login_message p {
    text-align: center;
    font-size: 16px;
    margin: 0
}

p {
    color: #999999;
    font-size: 14px;
    line-height: 24px
}

.login_wrapper a.login_btn:hover {
    background-color: #2c6ad4;
    border-color: #2c6ad4
}

.login_wrapper a.btn:hover {
    background-color: #2c6ad4;
    border-color: #2c6ad4
}
</style>
 <div class="wrapper wrapper-login">
<div class="container container-login animated fadeIn">
		
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<style>
	.login-form {
		width: 385px;
		margin: 30px auto;
	}
    .login-form form {        
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .login-btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .input-group-addon .fa {
        font-size: 18px;
    }
    .login-btn {
        font-size: 15px;
        font-weight: bold;
    }
	.social-btn .btn {
		border: none;
        margin: 10px 3px 0;
        opacity: 1;
	}
    .social-btn .btn:hover {
        opacity: 0.9;
    }
	.social-btn .btn-primary {
        background: #507cc0;
    }
	.social-btn .btn-info {
		background: #64ccf1;
	}
	.social-btn .btn-danger {
		background: #df4930;
	}
    .or-seperator {
        margin-top: 20px;
        text-align: center;
        border-top: 1px solid #ccc;
    }
    .or-seperator i {
        padding: 0 10px;
        background: #f7f7f7;
        position: relative;
        top: -11px;
        z-index: 1;
    }   
</style>

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
<div class="form-group">
					<label for="username" class="placeholder"><b>Username or Email</b></label>
					<input id="username" name="_username" type="text" autocomplete="username" value="{{ last_username }}" class="form-control" required>
				</div>
   <div class="form-group">
					<label for="password" class="placeholder"><b>{{ 'security.login.password'|trans }}</b></label>
					<a href="{{ path('fos_user_resetting_request') }}" class="link float-right">{% trans %}Forget Password ?{% endtrans %}</a>
					<div class="position-relative">
						<input id="password" name="_password" type="password" class="form-control" autocomplete="current-password" required>
						<div class="show-password">
							<i class="flaticon-interface"></i>
						</div>
					</div>
				</div>

   <div class="form-group form-action-d-flex mb-3">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" name="_remember_me" value="on" class="custom-control-input" id="remember_me">
						<label class="custom-control-label m-0" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
					</div>
    <input type="submit" id="_submit" class="btn btn-primary col-md-5 float-right mt-3 mt-sm-0 fw-bold" name="_submit" value="{{ 'security.login.submit'|trans }}" />
				</div>
<div class="login-account">
					<span class="msg">{% trans %}Don't have an account yet ?{% endtrans %}</span>
					<a href="{{ path('fos_user_registration_register') }}" id="show-signup" class="link">{% trans %}Sign Up{% endtrans %}</a>
				</div>
  <br>
<div id="background">
<div class="login-account">
<div class="or-seperator"><i>{% trans %}or{% endtrans %}</i></div>
        <p class="text-center">{% trans %}Login with your social media account{% endtrans %}</p>
 <div class="text-center social-btn">
            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}" class="btn btn-primary"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'linkedin'}) }}" class="btn btn-info"><i class="fa fa-linkedin"></i>&nbsp; Linkedin</a>
			<a href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}" class="btn btn-danger"><i class="fa fa-google"></i>&nbsp; Google</a>
        </div>
            
        </form>

        <div id="fb-root"></div>

        <script
        
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
        <script>
        window.fbAsyncInit = function() {
    FB.init({
      appId      : '236392778193295',
      cookie     : true,
      xfbml      : true,
      version    : 'v10.0'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   

            function fb_login() {
                FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                        // connected
                        document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                    } else {
                        // not_authorized
                        FB.login(function(response) {
                            if (response.authResponse) {
                                document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                            }
                        }, {scope:'email'});
                    }
                });
            }
        </script>
    </div>
</form>
	</div>
    </div>
    	</div>
           
