{% trans_default_domain 'FOSUserBundle' %}


<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-login">
   
    
            <div class="login-wrap" style="margin-top:100px;">

    
        <label for="username">Username or Email</label>
        <input class="form-control  placeholder-no-fix form-group"  type="text" id="username" name="username" required="required" />
    
        
     
    
        </div>
        <!-- Modal -->
    
        <!-- modal -->   
        
        
        
        <center>
        <input class="btn btn-primary" type="submit" value="Reset password"  />
        </center>
    
    
    
    
</form>
                 
