{% trans_default_domain 'FOSUserBundle' %}
{% block nom %}
{% endblock nom %}
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

<div class="login-form" style="margin-top:100px;">
    
  <div class="row">
      <div class="col-xs-12">
    {{ form_label(form.plainPassword.first) }}
    {{ form_errors(form.plainPassword.first)}}
    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control  placeholder-no-fix form-group'} })}}
  </div></div>

    
   
  <div class="row"> 
      <div class="col-xs-12">
    {{ form_label(form.plainPassword.second) }}
    {{ form_errors(form.plainPassword.second)}}
    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control form-control-solid placeholder-no-fix form-group'} })}}
  </div></div>

    
    
    
    
    {{ form_rest(form) }}
    
    </div>
    
    <div>
        <input class="btn blue" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}
