{% extends 'frontend/base_template1.html.twig' %}

{% block title %}{{page.name}}{% endblock %}
{% block stylesheet %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <link rel="stylesheet" href="{{asset('template1/css/animate.css')}}">
    
    <link rel="stylesheet" href="{{asset('template1/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('template1/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('template1/css/magnific-popup.css')}}">

    <link rel="stylesheet" href="{{asset('template1/css/bootstrap-datepicker.css')}}">
    <link rel="stylesheet" href="{{asset('template1/css/jquery.timepicker.css')}}">

    <link rel="stylesheet" href="{{asset('template1/css/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('template1/css/style.css')}}">
     <link href="{{asset('template4/assets/img/favicon.png')}}" rel="icon">
  <link href="{{asset('template4/assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="{{asset('template4/assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{{asset('template4/assets/css/style.css')}}" rel="stylesheet">
  <link href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.min.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_editor.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/code_view.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/colors.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/emoticons.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image_manager.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/line_breaker.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/table.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/char_counter.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/video.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/fullscreen.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/themes/dark.css')}}">
<style>
.navbar-right{
    margin-left:70px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6A5ACD;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
}

.dropdown-content li {
  color: black;
  text-decoration: none;
  padding-top:5px;
  padding-bottom:5px;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
{% endblock %}
 {% block nav %}

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
<div class="row justify-content-between">
					<div class="col-md-3 mb-md-0 mb-4 d-flex align-items-center">
						<a class="navbar-brand" href="#">{{site.name}}</a>
					</div>
					<div class="col-md-1">
						
					</div>
					</div>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
				<div class="order-lg-last">
        </div>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="{{ path('cms_site_view',{'name':site.name})}}" class="nav-link">Home</a></li>
            {% if (site.fAQs|length ) >0 %}

                <li class="nav-item"><a href="{{path('list_faq_front',{'id':site.id})}}" class="nav-link">FAQ</a> </li>

               {% endif %}
                <li class="nav-item"><a href="{{path('list_blog_front',{'id':site.id})}}" class="nav-link">Blog</a> </li>
	        	      {% if youdev_cms_forum(site) %}
        <li class="nav-item"><a href="{{path('list_forum_front',{'id':site.id})}}" class="nav-link">Forum</a> </li>
            {% endif %}
            {% if site.news|length >0 %}
            <li class="nav-item"><a href="{{path('list_news_front',{'name':site.name,'id':site.id})}}" class="nav-link">News</a> </li>
            {% endif %}
             {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
   <li class="nav-item dropdown"><a href="#" class="nav-link">{{item.name}}</a>

           <ul class="dropdown-content" role="listbox">
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li class="nav-item"><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li class="nav-item"><a href="https://{{sub.url}}" target="_blank" class="nav-link">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li class="nav-item"><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}"  class="nav-link">{{item.name}}</a></li>
               {% else %}
                <li class="nav-item"><a href="https://{{item.url}}" class="nav-link">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

              
	        <form class="navbar-right" method="get" action="{{path('cms_search_page',{'id':site.id})}}">
							<div class="input-group">
								<div class="input-group-prepend">
									
								</div>
								<input type="text" placeholder="Search ..." class="form-control" name="search">
                                <button type="submit" class="btn btn-search pr-1">
	<font color="white"><i class="fa fa-search search-icon"></i></font>
									</button>
							</div>
						</form>
	        </ul>
	      </div>
	    </div>
	  </nav>

    {%   endblock nav %}

    {% block content %}
    {% if page.headers|length >0 %}
    {% for header in page.headers %}
     <div class="hero-wrap">
	    <div class="home-slider owl-carousel">
	      <div class="slider-item" style="background-image:url({{vich_uploader_asset(header,'imageFile')}})">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row no-gutters slider-text align-items-center justify-content-end">
		          <div class="col-md-8 ftco-animate">
		          	<div class="text w-100">
			           {{froala_display(header.titre)}}
                  {{froala_display(header.contenu)}}
		            </div>
		          </div>
		        </div>
	        </div>
	      </div> </div>
	      </div>
        {% endfor %}
        {% endif %}
        {% if page.content != null %}
     <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
        <h2>{{page.name}}</h2>
                          </div>


        <div class="faq-list">
                 
{{froala_display(page.content)}}
        </div>

 <br>
     
      </div>
    </section>
    {% endif %}
{% if page.teamMembres|length >0 %}
	  <section class="ftco-section">
			<div class="container">
				<div class="row no-gutters justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Team &amp; Membres</span>
            <h2>Our Team</h2>
          </div>
        </div>
				<div class="row">
        {% for team in page.teamMembres %}
					<div class="col-md-4 ftco-animate d-flex">
						<div class="staff bg-primary">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url({{vich_uploader_asset(team,'imageFile')}});"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3>{{froala_display(team.name)}}</h3>
								<span class="position mb-2">{{froala_display(team.metier)}}</span>
								<div class="faded">
									<p>{{team.description}}.</p>
								
	              </div>
							</div>
						</div>
					</div>
				{% endfor %}
				
				
				
				
				</div>
			</div>
		</section>
       {% endif %}



       {% if page.pricings|length >0 %}

 <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
        </div>

        <div class="row">
{% for pricing in page.pricings %}
          <div class="col-lg-4 col-md-6 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3><img src="{{vich_uploader_asset(pricing,'imageFile')}}" width="300" height="250"></h3>
              <h4><sup>$</sup>{{pricing.prix}}<span> / {{pricing.type}}</span></h4>
             
               {{froala_display(pricing.options)}}
             
              <div class="btn-wrap">
                <button id="checkout-button" class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div>

         

         {% endfor %}

        </div>

      </div>
    </section>
{% endif %}
{% if page.features|length >0 %}
	  <section class="ftco-section">
			<div class="container">
       <div class="section-title">
          <h2>Features</h2>
        </div>
				<div class="row no-gutters justify-content-center pb-4 mb-3">
          <div class="col-md-4 heading-section text-center ftco-animate">
          </div>
        </div>
				<div class="row">
        {% for feature in page.features %}
					<div class="col-md-4 ftco-animate d-flex">
						<div class="staff bg-primary">
            {% if feature.image!= null  %}
								<img src="{{vich_uploader_asset(feature,'imageFile')}}" width="400" height="200">
						{% endif %}
							<div class="text pt-4 px-3 pb-4 text-center">
								<h3>{{feature.titre}}</h3>
								<div class="faded">
									<p>{{froala_display(feature.description)}}.</p>
								
	              </div>
							</div>
						</div>
					</div>
				{% endfor %}
				
				
				
				
				</div>
			</div>
		</section>
       {% endif %}

{% if page.imagevideos|length >0 %}

<section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
      <div class="section-title">
          <h2>Images & Videos</h2>
        </div>
    		<div class="row d-flex no-gutters">
        {% for imgvideo in page.imagevideos %}
    			<div class="col-md-12 d-flex order-md-last">
    				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center mb-4 mb-sm-0" style="background-image:url(images/about.jpg);">
    					{{froala_display(imgvideo.content)}}
    				</div>
    			</div>
    			
		        {% endfor %}
		        </div>
	        </div>
        </div>
    	</div>
    </section>
{% endif %}
















{% if page.pageServices|length >0 %}

		<section class="ftco-section">
    	<div class="container">
       <div class="section-title">
          <h2>Services</h2>
        </div>
    		<div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center heading-section ftco-animate">
          </div>
        </div>
  			<div class="row tabulation mt-4 ftco-animate">
  				<div class="col-md-4">

						<ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
             <li class="nav-item text-left">
						    <a class="nav-link active py-4" data-toggle="tab" href="#services{{page.pageServices[0].id}}"><span class="flaticon-chiropractic mr-2"></span>{{page.pageServices[0].name}}</a>
						  </li>
                              {% for service in page.pageServices %}
                   {% if service.id != page.pageServices[0].id %}
						  <li class="nav-item text-left">
						    <a class="nav-link  py-4" data-toggle="tab" href="#services{{service.id}}"><span class="flaticon-chiropractic mr-2"></span>{{service.name}}</a>
						  </li>
              {% endif %}
						              {% endfor %}

						</ul>
					</div>
					<div class="col-md-8">
						<div class="tab-content">
            <div class="tab-pane container p-0 active" id="services{{page.pageServices[0].id}}">
						  	<div class="img" style="background-image: url({{vich_uploader_asset(page.pageServices[0],'imageFile')}});"></div>
						  	<h3><a href="#">{{page.pageServices[0].name}}</a></h3>
						  	<p>{{page.pageServices[0].description}}</p>
						  </div>
            {% for service in page.pageServices %}
             {% if service.id != page.pageServices[0].id %}
						  <div class="tab-pane container p-0 fade" id="services{{service.id}}">
						  	<div class="img" style="background-image: url({{vich_uploader_asset(service,'imageFile')}});"></div>
						  	<h3><a href="#">{{service.name}}</a></h3>
						  	<p>{{service.description}}</p>
						  </div>
              {% endif %}
						 {% endfor %}
						  
						</div>
					</div>
				</div>
    	</div>
    </section>


{% endif %}
{% if page.galleries|length >0 %}
<section class="ftco-section ftco-no-pt ftco-no-pb">
			<div class="container">
      <div class="section-title">
          <h2>Gallery</h2>
        </div>
      
				<div class="row no-gutters">
         {% for gallery in page.galleries %}
                  {% for image in gallery.images %}
          <div class="col-md-3 ftco-animate">
            <div class="work img d-flex align-items-center" style="background-image: url({{ asset('/upload/'~ image.name) }});">
            	<a href="{{ asset('/upload/'~ image.name) }}" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="fa fa-expand"></span>
	    				</a>
            	<div class="desc w-100 px-4 text-center pt-5 mt-5">
	              <div class="text w-100 mb-3 mt-4">
	              </div>
              </div>
            </div>
          </div>
        {% endfor %}
         {% endfor %}
         
          
        
        </div>
			</div>
		</section>
    {% endif %}

{% if page.contacts|length >0 %}

    <section class="ftco-section bg-light">
    	<div class="container">
       <div class="section-title">
          <h2>Contact Us</h2>
        </div>
      
    		<div class="row justify-content-center">
    		
					<div class="col-md-12">
						<div class="wrapper">
							<div class="row no-gutters">
								<div class="col-md-8 d-flex">
									<div class="contact-wrap w-100 p-md-5 p-4">
										<h3 class="mb-4">Get in touch</h3>
                    {% for label, messages in app.flashes('messagesent',[]) %}
                        {% for message in messages %}
                            <div class="alert alert-success flash-notice ">
                                {{ message }}
                            </div>
                         {% endfor %}
                        {% endfor %}
										<form method="POST" id="contactForm" action="{{path('send_mail',{'id':page.id,'ids':site.id})}}" class="contactForm">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<input type="text" class="form-control" name="name" id="name" placeholder="Name">
													</div>
												</div>
												<div class="col-md-6"> 
													<div class="form-group">
														<input type="email" class="form-control" name="email" id="email" placeholder="Email">
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<textarea name="message" class="form-control" id="edit" name="message" cols="30" rows="7" placeholder="Message"></textarea>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<input type="submit" value="Send Message" class="btn btn-primary">
														<div class="submitting"></div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-md-4 d-flex align-items-stretch">
                {% if site.footers|length >0 %}
                {% for footer in site.footers %}

									<div class="info-wrap bg-primary w-100 p-lg-5 p-4">
										<h3 class="mb-4 mt-md-4">Contact us</h3>
					        	<div class="dbox w-100 d-flex align-items-start">
					        		<div class="icon d-flex align-items-center justify-content-center">
					        			<span class="fa fa-map-marker"></span>
					        		</div>
					        		<div class="text pl-3">
						            <p><span>Address:</span> {{footer.adresse}}</p>
						          </div>
					          </div>
					        	<div class="dbox w-100 d-flex align-items-center">
					        		<div class="icon d-flex align-items-center justify-content-center">
					        			<span class="fa fa-phone"></span>
					        		</div>
					        		<div class="text pl-3">
						            <p><span>Phone:</span> <a href="tel://{{footer.phone}}">{{footer.phone}}</a></p>
						          </div>
					          </div>
					        	<div class="dbox w-100 d-flex align-items-center">
					        		<div class="icon d-flex align-items-center justify-content-center">
					        			<span class="fa fa-paper-plane"></span>
					        		</div>
					        		<div class="text pl-3">
						            <p><span>Email:</span> <a href="mailto:{{footer.emailcontact}}">{{footer.emailcontact}}</a></p>
						          </div>
					          </div>
					       {% endfor %}
                 {% endif %}
				          </div>
								</div>
							</div>
						</div>
					</div>
				</div>
    	</div>
    </section>
{% endif %}
    {% endblock %}



    {% block footer %}
   {% if (site.footers|length) > 0 %}

  <br>

 <footer class="footer ftco-section ftco-no-pt">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-7 col-lg">
            <div class="ftco-footer-widget py-9 py-md-5">
              <h2 class="logo"><a href="#">{{site.name}}</a></h2>
              <p>{{site.description}}.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-8">
               {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
      {% if footer.linktwitter != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linktwitter}}" target="_blank"><span class="fa fa-twitter"></span></a></li>
                {% endif %}
                {% if footer.linkfacebook != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linkfacebook}}" target="_blank"><span class="fa fa-facebook"></span></a></li>
                {% endif %}
                 {% if footer.linklinkedin != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linklinkedin}}" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                {% endif %}
                 {% if footer.linkgithub != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linkgithub}}" target="_blank"><span class="fa fa-github"></span></a></li>
                {% endif %}
                  {% endfor %}
                    {% endif %}
              </ul>
            </div>
          </div>
          <div class="col-md-5 col-lg">
            <div class="ftco-footer-widget ml-md-5 py-5">
              <h2 class="ftco-heading-2">Useful Link</h2>
              <ul class="list-unstyled">
            <li><a href="{{ path('cms_site_view',{'name':site.name})}}" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Home</a></li>

                     {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="" class="py-1 d-block"><span class="fa fa-check mr-3"></span>{{item.name}}</a>

<ul>
        {% for sub in item.subItems %}
            {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}" class="py-1 d-block"><span class="fa fa-check mr-3"></span>{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank" class="py-1 d-block"><span class="fa fa-check mr-3"></span>{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}" class="py-1 d-block"><span class="fa fa-check mr-3"></span>{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}" class="py-1 d-block"><span class="fa fa-check mr-3"></span>{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li> <a href="{{path('list_faq_front',{'id':site.id})}}" class="py-1 d-block"><span class="fa fa-check mr-3"></span>FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Blog</a> </li>

              </ul>
            </div>
          </div>
          {% if ((site.services)|length >0) %}
           <div class="col-md-4 col-lg">
            <div class="ftco-footer-widget ml-md-3 py-5">
              <h2 class="ftco-heading-2">Services</h2>
              <ul class="list-unstyled">
                     {% for service in site.services %}
       
                   
                <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>{{service.name}}</a></li>
                 {% endfor %}

              </ul>
            </div>
          </div>
          {% endif %}
          <div class="col-md-6 col-lg">
            <div class="ftco-footer-widget py-4 py-md-5">
            	<h2 class="ftco-heading-2">Contact information</h2>
            	<div class="block-23 mb-3">
	              <ul>
                 {% for footer in site.footers %}
	                <li><span class="icon fa fa-map-marker"></span><span class="text">{{footer.adresse}}</span></li>
	                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">{{footer.phone}}</span></a></li>
	                <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">{{footer.emailcontact}}</span></a></li>
	              {% endfor %}
                </ul>
	            </div>
            </div>
          </div>
          <div class="col-md-7 col-lg">
             <div class="ftco-footer-widget bg-primary p-4 py-5">
              <h2 class="ftco-heading-2">Join our Newsletter</h2>
              <div class="opening-hours">
              	 <form>
              	 <input type="text" name="name" placeholder="Join Us" class="form-control">
                 <br>
              	<input type="submit" value="Subscribe" class="btn btn-success">
              	
             
            
              </form>
              </div>
            </div>
          </div>
        
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | By {{site.name}}
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>



{% endif %}

    {%   endblock %}







    {% block javascript %}
<script src="{{asset('template1/js/jquery.min.js')}}"></script>
  <script src="{{asset('template1/js/jquery-migrate-3.0.1.min.js')}}"></script>
  <script src="{{asset('template1/js/popper.min.js')}}"></script>
  <script src="{{asset('template1/js/jquery.easing.1.3.js')}}"></script>
  <script src="{{asset('template1/js/jquery.waypoints.min.js')}}"></script>
  <script src="{{asset('template1/js/jquery.stellar.min.js')}}"></script>
  <script src="{{asset('template1/js/jquery.animateNumber.min.js')}}"></script>
  <script src="{{asset('template1/js/bootstrap-datepicker.js')}}"></script>
  <script src="{{asset('template1/js/jquery.timepicker.min.js')}}"></script>
  <script src="{{asset('template1/js/owl.carousel.min.js')}}"></script>
  <script src="{{asset('template1/js/jquery.magnific-popup.min.js')}}"></script>
  <script src="{{asset('template1/js/scrollax.min.js')}}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{{asset('template1/js/google-map.js')}}"></script>
  <script src="{{asset('template1/js/main.js')}}"></script>






  <script src="{{asset('template4/assets/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/waypoints/jquery.waypoints.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/venobox/venobox.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('template4/assets/js/main.js')}}"></script>


  <script src="https://js.stripe.com/v3/"></script>


     <script type="text/javascript">
      // Create an instance of the Stripe object with your publishable API key
      var stripe = Stripe('pk_test_51IfYN7FoJvPd8QoJ5sFw5nsEVq9PTPVIzaI5H4bDD8q4AZe2JRbJHBNJ4Z9BaWAK8KVpb43kiFBloUhnf2AeWYQe00zeUHVmcT');
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch('/create-checkout-session', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });
    </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
 <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/froala_editor.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/align.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_beautifier.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_view.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/colors.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/draggable.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/emoticons.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_size.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_family.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image_manager.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/line_breaker.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/link.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/lists.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_format.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/video.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/table.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/url.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/entities.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/char_counter.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/inline_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/save.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/fullscreen.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/languages/ro.js')}}"></script>
<script>
    (function () {
      new FroalaEditor("#edit", {
        enter: FroalaEditor.ENTER_P,
        toolbarInline: false,
        initOnClick: false,
	

        toolbarButtons: [ ['bold', 'italic', 'underline', 'strikeThrough', 'textColor', 'backgroundColor'], ['paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent'], ['insertImage', 'insertLink','undo', 'redo'] ]
      })
    })()
  </script>

    {%   endblock %}