{% extends 'frontend/base_template1.html.twig' %}

{% block title %}Blog Detail{% endblock %}
{% block stylesheet %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <link rel="stylesheet" href="{{asset('template1/css/animate.css')}}">
    
    <link rel="stylesheet" href="{{asset('template1/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('template1/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('template1/css/magnific-popup.css')}}">

    <link rel="stylesheet" href="{{asset('template1/css/bootstrap-datepicker.css')}}">
    <link rel="stylesheet" href="{{asset('template1/css/jquery.timepicker.css')}}">

    <link rel="stylesheet" href="{{asset('template1/css/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('template1/css/style.css')}}">
        <link rel="stylesheet" href="{{ asset('assets2/dist/sweetalert2.min.css')}}">


    
<link href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.min.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_editor.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/code_view.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/colors.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/emoticons.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image_manager.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/line_breaker.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/table.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/char_counter.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/video.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/fullscreen.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css')}}">
      <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/themes/dark.css')}}">


      <style>
.navbar-right{
    margin-left:70px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6A5ACD;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
}

.dropdown-content li {
  color: black;
  text-decoration: none;
  padding-top:5px;
  padding-bottom:5px;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
{% endblock %}
 {% block nav %}

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
<div class="row justify-content-between">
					<div class="col-md-3 mb-md-0 mb-4 d-flex align-items-center">
						<a class="navbar-brand" href="#">{{site.name}}</a>
					</div>
					<div class="col-md-1">
						
					</div>
					</div>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
				<div class="order-lg-last">
        </div>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="{{ path('cms_site_view',{'name':site.name})}}"  class="nav-link">Home</a></li>
           {% if (site.fAQs|length ) >0 %}

                <li class="nav-item"><a href="{{path('list_faq_front',{'id':site.id})}}" class="nav-link">FAQ</a> </li>

               {% endif %}
                <li class="nav-item"><a href="{{path('list_blog_front',{'id':site.id})}}" class="nav-link">Blog</a> </li>
       {% if youdev_cms_forum(site) %}
        <li class="nav-item"><a href="{{path('list_forum_front',{'id':site.id})}}" class="nav-link">Forum</a> </li>
            {% endif %}
             {% if site.news|length >0 %}
            <li class="nav-item"><a href="{{path('list_news_front',{'name':site.name,'id':site.id})}}" class="nav-link">News</a> </li>
            {% endif %}

             {% for menu in site.menus %}
             {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
 <li class="nav-item dropdown"><a href="#" class="nav-link">{{item.name}}</a>

           <ul class="dropdown-content" role="listbox">
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li class="nav-item"><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li class="nav-item"><a href="https://{{sub.url}}" target="_blank" class="nav-link">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li class="nav-item"><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}"  class="nav-link">{{item.name}}</a></li>
               {% else %}
                <li class="nav-item"><a href="https://{{item.url}}" class="nav-link">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

              
	         <form class="navbar-right" method="get" action="{{path('cms_search_page',{'id':site.id})}}">
							<div class="input-group">
								<div class="input-group-prepend">
									
								</div>
								<input type="text" placeholder="Search ..." class="form-control" name="search">
                                <button type="submit" class="btn btn-search pr-1">
	<font color="white"><i class="fa fa-search search-icon"></i></font>
									</button>
							</div>
						</form>
	        </ul>
	      </div>
	    </div>
	  </nav>

    {%   endblock nav %}

    {% block content %}
   
    <section class="hero-wrap hero-wrap-2" style="background-image: url('');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
            <h1 class="mb-0 bread">Messages Topic</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
          	<p>
            </p>
            <h2 class="mb-3">{{topic.titre}}</h2>
            <p>{{froala_display(topic.contenu)}}</p>
           
      




            <div class="pt-5 mt-5">
              <h3 class="mb-5">{{topic.messagesTopics|length}} messages</h3>
              <ul class="comment-list">
                {% for message in list_messages %}
                <li class="comment">
                  <div class="vcard bio">
                   {% if message.users != null %}
                    <img src="{{asset('uploads/img/experts/')}}{{message.users.photoname}}" >
                   {% else %}
                  <img src="{{asset('template2/images/guest.jfif')}}" >
                 
                 {% endif %}
                  </div>
                  <div class="comment-body">
                    <h3>{{message.pseudo}}</h3>
                    <div class="meta">{{message.createdat|date("D m,Y")}} at {{message.createdat|date("H:i")}}</div>
                    <p>	<div class="fr-view">
                        <p>{{froala_display(message.contenu)}}</p></div></p>
                   	{% if app.request.server.get("REMOTE_ADDR") == message.ip  or ( app.user!= null and app.user.id == message.users.id) %}
                    <p><a class="btn-sm btn-danger" id="{{message.id}}" onClick="swal({
  title: 'Are you sure!',
  text: 'you want to delete this message ?',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'yes, I confirm',
  cancelButtonText: 'No',
  confirmButtonClass: 'btn-success',
  cancelButtonClass: 'btn-danger',
  buttonsStyling: true
}).then(function () {
  swal(
    'Deleted',
    '{{ message.contenu}}',
    'success'
  ).then(function (){window.location.replace('{{path('cms_delete_message_topic',{'id':message.id,'idt':topic.id,'ids':site.id})}}')})
}, function (dismiss) {
  // dismiss can be 'cancel', 'overlay',
  // 'close', and 'timer'
  if (dismiss === 'cancel') {
    swal(
      'cancel',
      'No comments deleted :)',
      'error'
    )
  }
})">Delete</a>
							  <a class=" btn-sm btn-warning" href="{{path('cms_update_message_form',{'id':message.id,'idt':topic.id,'ids':site.id})}}">Update</a></p>



                    {% endif %}
                  </div>
                </li>

                {% endfor %}

                
              </ul>
              <!-- END comment-list -->
              
              <div class="comment-form-wrap pt-5">
               <div class="navigation">
            {{knp_pagination_render(list_messages)}}
               </div>
                <h3 class="mb-5">Leave a message</h3>
                	{% if idc != 0 %}
			{% for messages in topic.messagesTopics %}
			{% if messages.id== idc %}
                <form method="POST" action="{{path('cms_update_message_topic',{'id':idc,'idt':topic.id,'ids':site.id})}}"  class="p-5 bg-light">
			  <div class="editor">
			  <div class="form-group">
                    <label for="message">Message</label>
			  <textarea id='edit' value="{{messages.contenu}}" name="contenu" class="form-control" rows="1" placeholder="What are you thinking?" style="margin-top: 0px; margin-bottom: 0px; height: 61px;">{{froala_display(messages.contenu)}}</textarea>
    </div>
            </div><br>    
               <div class="form-group">
                    <input type="submit" value="Update Comment" class="btn btn-primary">
                  </div>
                   </form>
               {% endif %}{% endfor %}
               {% else %}
               
               
                                                 {% if topic.messagestate== true %}

               
                <form action="{{path('cms_add_message_topic',{'id':topic.id,'ids':site.id})}}" class="p-5 bg-light" method="post">
                 
                     <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" required required class="form-control" name="name" placeholder="Your Name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" required required class="form-control" name="email" placeholder="Your Email">
                  </div>
                  <div class="form-group">
                 <label for="email">Message</label>

                    <textarea name="contenu" required required id="edit" value="contenu" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="submit" value="Post Message" class="btn btn-primary">
                  </div>

                </form>
                  {% else %}
                <div class="p-5 bg-light">
                  <p> Messages are disabled</p>
                  
                </div>
               {% endif %}
                {% endif %}
              </div>
            </div>

          </div> <!-- .col-md-8 -->
         
            
           
          </div>

        </div>
      </div>
    </section> <!-- .section -->
	
    {% endblock %}



    {% block footer %}
     {% if (site.footers|length) > 0 %}

  <br>

 <footer class="footer ftco-section ftco-no-pt">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg">
            <div class="ftco-footer-widget py-4 py-md-5">
              <h2 class="logo"><a href="#">{{site.name}}</a></h2>
              <p>{{site.description}}.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
               {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
      {% if footer.linktwitter != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linktwitter}}" target="_blank"><span class="fa fa-twitter"></span></a></li>
                {% endif %}
                {% if footer.linkfacebook != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linkfacebook}}" target="_blank"><span class="fa fa-facebook"></span></a></li>
                {% endif %}
                 {% if footer.linklinkedin != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linklinkedin}}" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                {% endif %}
                 {% if footer.linkgithub != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linkgithub}}" target="_blank"><span class="fa fa-github"></span></a></li>
                {% endif %}
                  {% endfor %}
                    {% endif %}
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg">
            <div class="ftco-footer-widget ml-md-5 py-5">
              <h2 class="ftco-heading-2">Useful Link</h2>
              <ul class="list-unstyled">
                   <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>

                     {% for menu in site.menus %}
                  {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="" class="py-1 d-block"><span class="fa fa-check mr-3"></span>{{item.name}}</a>

               <ul>
        {% for sub in item.subItems %}
            {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}" class="py-1 d-block"><span class="fa fa-check mr-3"></span>{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank" class="py-1 d-block"><span class="fa fa-check mr-3"></span>{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}" class="py-1 d-block"><span class="fa fa-check mr-3"></span>{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}" class="py-1 d-block"><span class="fa fa-check mr-3"></span>{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li> <a href="{{path('list_faq_front',{'id':site.id})}}" class="py-1 d-block"><span class="fa fa-check mr-3"></span>FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Blog</a> </li>

              </ul>
            </div>
          </div>
            {% if ((site.services)|length >0) %}
           <div class="col-md-4 col-lg">
            <div class="ftco-footer-widget ml-md-3 py-5">
              <h2 class="ftco-heading-2">Services</h2>
              <ul class="list-unstyled">
                     {% for service in site.services %}
       
                   
                <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>{{service.name}}</a></li>
                 {% endfor %}

              </ul>
            </div>
          </div>
          {% endif %}
          <div class="col-md-6 col-lg">
            <div class="ftco-footer-widget py-4 py-md-5">
            	<h2 class="ftco-heading-2">Contact information</h2>
            	<div class="block-23 mb-3">
	              <ul>
                 {% for footer in site.footers %}
	                <li><span class="icon fa fa-map-marker"></span><span class="text">{{footer.adresse}}</span></li>
	                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">{{footer.phone}}</span></a></li>
	                <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">{{footer.emailcontact}}</span></a></li>
	              {% endfor %}
                </ul>
	            </div>
            </div>
          </div>
          <div class="col-md-6 col-lg">
             <div class="ftco-footer-widget bg-primary p-4 py-5">
              <h2 class="ftco-heading-2">Join our Newsletter</h2>
              <div class="opening-hours">
              	 <form>
              	 <input type="text" name="name" placeholder="Join Us" class="form-control">
                 <br>
              	<input type="submit" value="Subscribe" class="btn btn-success">
              	
             
            
              </form>
              </div>
            </div>
          </div>
        
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | By {{site.name}}
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>



{% endif %}
    {%   endblock %}







    {% block javascript %}
    

  
 <script src="{{ asset('assets2/dist/sweetalert2.js')}}"></script>
<script src="{{asset('template1/js/jquery.min.js')}}"></script>
  <script src="{{asset('template1/js/jquery-migrate-3.0.1.min.js')}}"></script>
  <script src="{{asset('template1/js/popper.min.js')}}"></script>
  <script src="{{asset('template1/js/bootstrap.min.js')}}"></script>
  <script src="{{asset('template1/js/jquery.easing.1.3.js')}}"></script>
  <script src="{{asset('template1/js/jquery.waypoints.min.js')}}"></script>
  <script src="{{asset('template1/js/jquery.stellar.min.js')}}"></script>
  <script src="{{asset('template1/js/jquery.animateNumber.min.js')}}"></script>
  <script src="{{asset('template1/js/bootstrap-datepicker.js')}}"></script>
  <script src="{{asset('template1/js/jquery.timepicker.min.js')}}"></script>
  <script src="{{asset('template1/js/owl.carousel.min.js')}}"></script>
  <script src="{{asset('template1/js/jquery.magnific-popup.min.js')}}"></script>
  <script src="{{asset('template1/js/scrollax.min.js')}}"></script>
  <script src="{{asset('template1/js/main.js')}}"></script>


    

 
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/froala_editor.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/align.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_beautifier.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_view.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/colors.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/draggable.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/emoticons.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_size.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_family.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image_manager.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/line_breaker.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/link.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/lists.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_format.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/video.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/table.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/url.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/entities.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/char_counter.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/inline_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/save.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/fullscreen.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/languages/ro.js')}}"></script>
<script>
    (function () {
      new FroalaEditor("#edit", {
        enter: FroalaEditor.ENTER_P,
        initOnClick: false,
		theme: 'dark',

        toolbarButtons: [ ['bold', 'italic', 'underline', 'strikeThrough', 'textColor', 'backgroundColor', 'emoticons'], ['paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent'], ['insertImage', 'insertLink', 'insertFile', 'insertVideo', 'undo', 'redo', 'insertTable', 'insertBlock'] ]
      })
    })()
  </script>
    {%   endblock %}