{% for notificationItem in notificationList|reverse[:5] %}
                        {% if notificationItem.isSeen() %}
                                       <a href="#">
                                                <span class="notif-icon notif-success"> <i class="fa fa-bell"></i> </span>

                                                   
                                                <div class="notif-content">
                                                    <span class="block">
                                                         {{ notificationItem.notification.getMessage() }}
													</span>
                                                    <span class="time">{{ notificationItem.notification.getDate()|date("d/m/Y H:i:s" )  }}</span>
                                                </div>
                                               
                                                  
                                            </a>

  
    {% else %} 
     
                                     <a href="#">
                                                <div class="notif-icon notif-danger"><span> <i class="fa fa-bell"></i> </span></div>

                                                <div class="notif-content">
                                                    <span class="block">
                                                         {{ notificationItem.notification.getMessage() }}
													</span>
                                                    <span class="time">{{ notificationItem.notification.getDate()|date("d/m/Y H:i:s" )  }}</span>
                                                </div>
                                               
                                                   
                                            </a>
                                      

  <script src="{{asset('assets/js/core/jquery.3.2.1.min.js')}}"></script>

<!-- jQuery UI -->
 <script>
        $("#{{notificationItem.notification.id}}").on('click', function(){
           
            $.ajax({
                url:'{{path('seen_list',{'lu':notificationItem.notification.id})}}',
                type: "GET",
                dataType: "json",

 
                data: {
                },
                async: true,
                success:function(){
        $('{{notificationItem.notification.id}}').html(); // rafraichi toute ta DIV "bien sur il lui faut un id "
    }
            });
           $("#youdev").load(location.href+" #youdev>*","");
         return false;
            

}); 


    </script>  
{% endif %}

                                            {% endfor %}
