{% extends "@FOSUser/layout1.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block nom %}
     <h2>Gmail De Confirmation</h2>
{% endblock nom %}
{% block fos_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock fos_user_content %}
