{% extends "@FOSUser/layout1.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block nom %}
     <h2>G_I Bienvenue</h2>
{% endblock nom %}
{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'| trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
