{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up </title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{asset('fonts/material-icon/css/material-design-iconic-font.min.css')}}">
    <link rel="stylesheet" href="{{asset('vendor/nouislider/nouislider.min.css')}}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
</head>

<body>

    <div class="main">

        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="{{asset('images/logo_title.png')}}" alt="">
                    <div class="signup-img-content">
                        <h2>Register now </h2>
                        <p>Try Our Usefull CMS !</p>

                    </div>
                </div>
                <div class="signup-form">
                <br>
   {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="first_name" >{{ form_label(form.username)}}</label>
                                            </span>
                                                {{ form_errors(form.username) }}
                                                {{ form_widget(form.username) }}
                                </div>
                                <div class="form-input">
                                    <label for="email">{{ form_label(form.email)}}</label>
                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email) }} 
                                </div>
                               
                                <div class="form-input">
                                    <label for="phone_number">{{ form_label(form.plainPassword.first)}}</label>
                                    {{ form_errors(form.plainPassword.first) }}
                                    {{ form_widget(form.plainPassword.first) }}
                                </div>
                                <div class="form-input">
                                    <label for="phone_number">{{ form_label(form.plainPassword.second)}}</label>
                                    {{ form_errors(form.plainPassword.second) }}
                                    {{ form_widget(form.plainPassword.second) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-select">
                                    <div class="label-flex">
                                        <label for="meal_preference"> </label>
                                    </div>
                                  <div class="form-input">
                                  <img id="blah" src="{{ asset('assets/img/icone_compte.png')}}" alt="logo" class="img-responsive pic-bordered " style=" border-radius: 8px;" width="400px" height="400px"/> 
                                                <br>
                                    {{ form_errors(form.photo) }}  
     

<div class="custom-file">
                                    {{ form_widget(form.photo,{'attr':{'class':'custom-file-input','id':'customFile'}})}}

  <label class="custom-file-label" for="customFile">Choose file</label>
</div>
                                </div>
                                </div>
                               
                                                                  {{ form_rest(form) }}

                        <div class="form-submit">
                            <input type="submit" value="Submit" class="submit" id="submit" name="sign up" />
                            <input type="reset" value="Reset" class="submit" id="reset" name="reset" />
                        </div>
                    {{ form_end(form) }}
                                                    <br>

                                        <a href="{{ path("fos_user_security_login") }}">Already Have a Account?</a>

                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>
    <script type='text/javascript' src='//code.jquery.com/jquery-1.9.1.js'></script>
                                                
      <script type='text/javascript'>//<![CDATA[
$(window).load(function(){
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
             
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
             
            reader.readAsDataURL(input.files[0]);
        }
    }
     
    $('#fos_user_registration_form_photo').change(function(){
        readURL(this);
    });
});//]]> 
 
</script>           
    <script src="{{asset('vendor/nouislider/nouislider.min.js')}}"></script>
    <script src="{{asset('vendor/wnumb/wNumb.js')}}"></script>
    <script src="{{asset('vendor/jquery-validation/dist/jquery.validate.min.js')}}"></script>
    <script src="{{asset('vendor/jquery-validation/dist/additional-methods.min.js')}}"></script>
    <script src="{{asset('js/main.js')}}"></script>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>