{% extends 'base.html.twig' %}

{% block title %}{% trans %} Lists Sites {% endtrans %}{% endblock %}

{% block stylesheets %}
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" href="{{asset('assets/img/icon.ico')}}" type="image/x-icon"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

	<!-- Fonts and icons -->
	<script src="{{asset('assets/js/plugin/webfont/webfont.min.js')}}"></script>
	<script>
		WebFont.load({
			google: {"families":["Open+Sans:300,400,600,700"]},
			custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['{{asset('assets/css/fonts.css')}}']},
			active: function() {
				sessionStorage.fonts = true;
			}
		});
	</script>
    <style>
    #home{
    margin-left: 50px;
    }
	.modal-header {
    background-color: #414141;
    }

	#msn{
    color: #ffffff;
    }
	
    </style>
    

	<!-- CSS Files -->
	<link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/azzara.min.css')}}">

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link rel="stylesheet" href="{{asset('assets/css/demo.css')}}">

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.1.0/sweetalert2.min.css" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{{ asset('assets2/global/plugins/datatables/datatables.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets2/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets2/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{ asset('assets2/global/css/components-rounded.min.css')}}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{ asset('assets2/global/css/plugins.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{{ asset('assets2/layouts/layout/css/layout.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets2/layouts/layout/css/custom.min.css')}}" rel="stylesheet" type="text/css" />
          <link rel="stylesheet" href="{{ asset('assets2/dist/sweetalert2.min.css')}}">
{% endblock %}
{% block Userprofile %}
						<div class="avatar-sm float-left mr-2">
							<img src="{{asset('assets/img/profile.jpg')}}" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									Hizrian
									<span class="user-level">Administrator</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="#profile">
											<span class="link-collapse">{% trans %}My Profil {% endtrans %}</span>
										</a>
									</li>
									<li>
										<a href="#edit">
											<span class="link-collapse">{% trans %}Edit Profil {% endtrans %}</span>
										</a>
									</li>
									<li>
										<a href="#settings">
											<span class="link-collapse">{% trans %}Settings{% endtrans %}</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						
						
{% endblock %}
{% block projests %}
          <li class="nav-item">
							<a  href="{{path('cms_site_list')}}">
								<i class="fas fa-circle-notch"></i>
								<p>{% trans %}Sites{% endtrans %}</p>
								<span class="caret"></span>
							</a>
                                </li>
                            
{% endblock %}

{% block page %}
          <li class="nav-item">

<a href="{{path('cms_page_list')}}">
								<i class="fas fa-copy"></i>
								<p>{% trans %}pages{% endtrans %}</p>
								<span class="caret"></span>
							</a>
                                </li>
{% endblock %}

				{% block FAQ %}
				<li class="nav-item">

				<a href="{{path('cms_faq_list')}}">
				<i class="fas fa-question-circle"></i>
				<p>{% trans %}FAQ{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				</li>
				{% endblock %}
				{% block blocks_site %}
				<li class="nav-item">

				<a data-toggle="collapse" href="#blocks_site">
				<i class="fas fa-layer-group"></i>
				<p>{% trans %}Site Block{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				<div class="collapse" id="blocks_site">
				<ul class="nav nav-collapse">
					<li>
						<a href="{{path('cms_menu_index')}}">
							<span class="sub-item">{% trans %}Menu{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_footer_index')}}">
							<span class="sub-item">{% trans %}footer{% endtrans %}</span>
						</a>
					</li>
		 <li>
						<a href="{{path('cms_service_index')}}">
							<span class="sub-item">{% trans %}Services{% endtrans %}</span>
						</a>
					</li>

				</ul>
			</div>
				</li>
				{% endblock %}
				{% block blocks %}
				<li class="nav-item">

				<a data-toggle="collapse" href="#blocks">
				<i class="fas fa-layer-group"></i>
				<p>{% trans %}Page Block{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				<div class="collapse" id="blocks">
				<ul class="nav nav-collapse">
				
					<li>
						<a href="{{path('cms_gallery_index')}}">
							<span class="sub-item">{% trans %}gallery{% endtrans %}</span>
						</a>
					</li>
			
					<li>
						<a href="{{path('cms_contactblock_index')}}">
							<span class="sub-item">{% trans %}Contact{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_imagevideo_index')}}">
							<span class="sub-item">{% trans %}Images&Video{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_header_index')}}">
							<span class="sub-item">{% trans %}Header{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_feature_index')}}">
							<span class="sub-item">{% trans %}Feature{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_team_membre_index')}}">
							<span class="sub-item">{% trans %}Team & membres{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_pricing_index')}}">
							<span class="sub-item">{% trans %}Pricing{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_pageservice_index')}}">
							<span class="sub-item">{% trans %}Page Services{% endtrans %}</span>
						</a>
					</li>

				</ul>
			</div>
				</li>
				{% endblock %}
{% block blog %}
				<li class="nav-item">

				<a data-toggle="collapse" href="#blog">
				<i class="fas fa-user-cog"></i>
				<p>{% trans %}User Blog{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				<div class="collapse" id="blog">
				<ul class="nav nav-collapse">
					<li>
						<a href="{{path('cms_list_categories')}}">
							<span class="sub-item">{% trans %}Categories{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_list_articles')}}">
							<span class="sub-item">{% trans %}Posts{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_list_tags')}}">
							<span class="sub-item">{% trans %}Tags{% endtrans %}</span>
						</a>
					</li>
					
					

				</ul>
			</div>
				</li>
				{% endblock %}
				{% block news %}
				<li class="nav-item">

				<a href="{{path('cms_news_index')}}">
				<i class="far fa-newspaper"></i>
				<p>{% trans %}News{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				</li>
				{% endblock %}
				 {% block forum %}
				<li class="nav-item">

				<a data-toggle="collapse" href="#forum">
				<i class="fas fa-cubes"></i>
				<p>{% trans %}User Forum{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				<div class="collapse" id="forum">
				<ul class="nav nav-collapse">
					<li>
						<a href="{{path('cms_forum_index')}}">
							<span class="sub-item">{% trans %}Forums{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_topic_index')}}">
							<span class="sub-item">{% trans %}Topics{% endtrans %}</span>
						</a>
					</li>
					
					

				</ul>
			</div>
				</li>
				{% endblock %}
{% block content %}
  
<br>
 <div class="page-bar">
                        
                        {% for label, messages in app.flashes('site',[]) %}
    {% for message in messages %}
        <div class="alert alert-success flash-notice ">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
        <!-- BEGIN THEME LAYOUT STYLES 

                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="{{path('index')}}">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <a href="{{ path('cms_site_list') }}">List Site</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                               
                            </ul>
                            <div class="page-toolbar">
                                <div class="btn-group pull-right">
                                    <a href="{{ path('cms_site_ajouter') }}" type="button" class="btn btn-primary">Add New</a>
                                  
                                </div>
                            </div>
                        </div>-->
               <div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
											<i class="fa fa-plus"></i>
											{% trans %}Add Site{% endtrans %}
										</button>
									</div>
								</div>
								<div class="card-body">
									<!-- Modal -->
									<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header no-bd">
													<h5 class="modal-title">
													<font color="white">
														<span class="fw-mediumbold">
														{% trans %}New Site{% endtrans %}</span> 
														</font>
													</h5>
													<font color="white">
													<button type="button" id ="msn"class="close" onclick="close()" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button></font>
												</div>
												<div class="modal-body">
													<p class="small">{% trans %}Create a new Site using this form, make sure you fill them all{% endtrans %}</p>
													<form method="POST" action="{{path('cms_add_site')}}">
														<div class="row">
															<div class="col-sm-12">
																<div class="form-group form-group-default">
																	<label>{% trans %}Name{% endtrans %}</label>
																	<input  type="text" class="form-control" required name="name" placeholder="site name">
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group form-group-default">
																	<label>{% trans %}Description{% endtrans %}</label>
																	<textarea  type="text" class="form-control" required name="description" placeholder="site description"></textarea>
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group form-group-default">
																	<label>{% trans %}Url{% endtrans %}</label>
																	<input  type="text" class="form-control" required name="url" placeholder="site url">
																</div>
															</div>
																
															
															</div>
														
														
                                                        <div class="modal-footer no-bd">
													<button type="submit"  class="btn btn-primary" value="Add">{% trans %}Add{% endtrans %}</button>
													<button type="button" class="btn btn-danger" onclick="close()" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
												</div>
											</div>
													</form>
												</div>
												</div></div>
									
       <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-dark">
                                            <i class="icon-settings font-dark"></i>
                                            <span class="caption-subject bold uppercase">{% trans %}Site List{% endtrans %}</span>
                                        </div>
                                        <div class="tools"> </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                                            <thead>
                                                 <tr>
                                                    <th>{% trans %}Site name{% endtrans %}</th>
                                                      <th>{% trans %}Date Creation{% endtrans %}</th>
                                                      <th>{% trans %}Published{% endtrans %}</th>
                                                      
										               <th>{% trans %}Theme{% endtrans %}</th>

                                                      
													     <th>{% trans %}Logo&Services{% endtrans %}</th>
														 <th>{% trans %}View site{% endtrans %}</th>
														 <th>{% trans %}View Services{% endtrans %}</th>
														

														
                                                    <th>{% trans %}Action{% endtrans %}</th>
                                                    
                                                </tr>
                                            </thead>
                                            
                                            <tbody>
                                                
                                                 {% for sites in site %}
                                                <tr>
                                                    <td>{{sites.name}}</td>
													   <td>{{sites.created_at|date("m/d/Y-H:i:s")}}</td> 
                                                      {% if sites.published==false %}  
                                                  <td><a href="{{path('pub_site',{'id':sites.id})}}" class="btn-sm btn-danger">{% trans %}No{% endtrans %}</a> 
                                                  
                                                  </td> 
                                                  {% elseif sites.published== true %}
                                                  <td><a href="{{path('pub_site',{'id':sites.id})}}" class="btn-sm btn-success">{% trans %} Yes{% endtrans %}</a></td> 
                                                  {% endif %}
                                               
												  {% if sites.theme=="default"%}
												   <td>Default <br><br><a href="{{path('cms_add_theme_site',{'id':sites.id})}}" class="btn-sm btn-primary">{% trans %}Update{% endtrans %}</a></td> 
												   {% else %}
                                              <td>{{sites.theme}}<br><br><a href="{{path('cms_add_theme_site',{'id':sites.id})}}" class="btn-sm btn-primary">{% trans %}Update{% endtrans %}</a></td> 


												   {% endif %} 
												  {% if sites.logo ==null %}
													    <td><a class="btn btn-default" href="{{path('cms_site_update',{'id':sites.id,'idsite':"null"})}}">{% trans %}Add{% endtrans %}</a></td> 
														 {% else %}
													<td><img width="80" height="80" src="{{ vich_uploader_asset(sites,'imageFile') }}" alt="{{ sites.logo }}"><a align="center" class=" btn-default" href="{{path('cms_site_update',{'id':sites.id,'idsite':"null"})}}">{% trans %}Update{% endtrans %}</td></td>
                                                         {% endif %}

														 <td><a class="btn btn-default fa fa-eye" href="{{path('cms_site_view',{'name':sites.name})}}"  target="_blank">{% trans %}View{% endtrans %} </a></td>

                                                        <td><a class="btn btn-default" href="{{path('cms_site_view_services',{'id':sites.id})}}"  target="_blank">{% trans %}View{% endtrans %}</a></td>

                                                    <td>
													
												{% if app.session.get('_locale') == 'en' %}

													<a class="btn btn-icon-only red" id="{{sites.id}}" onClick="swal({
											title: 'Are you sure!',
											text: 'you want to delete this site ?',
											showCancelButton: true,
											confirmButtonColor: '#3085d6',
											cancelButtonColor: '#d33',
											confirmButtonText: 'yes, I confirm',
											cancelButtonText: 'No',
											confirmButtonClass: 'btn-success',
											cancelButtonClass: 'btn-danger',
											buttonsStyling: true
											}).then(function () {
											swal(
												'Deleted',
												'{{ sites.name}}',
												'success'
											).then(function (){window.location.replace('{{ path('cms_site_delete',{'id':sites.id,'idsite':"null"})}}')})
											}, function (dismiss) {
											// dismiss can be 'cancel', 'overlay',
											// 'close', and 'timer'
											if (dismiss === 'cancel') {
												swal(
												'cancel',
												'No site deleted :)',
												'error'
												)
											}
											})"><i class="fa fa-trash"></i></a>
											{% elseif app.session.get('_locale') == 'ar' %} 




                                         	<a class="btn btn-icon-only red" id="{{sites.id}}" onClick="swal({
											title: 'هل أنت متأكد !',
											text: 'تريد حذف هذا الموقع ?',
											showCancelButton: true,
											confirmButtonColor: '#3085d6',
											cancelButtonColor: '#d33',
											confirmButtonText: 'نعم، أنا أؤكد',
											cancelButtonText: 'لا',
											confirmButtonClass: 'btn-success',
											cancelButtonClass: 'btn-danger',
											buttonsStyling: true
											}).then(function () {
											swal(
												'Deleted',
												'{{ sites.name}}',
												'success'
											).then(function (){window.location.replace('{{ path('cms_site_delete',{'id':sites.id,'idsite':"null"})}}')})
											}, function (dismiss) {
											// dismiss can be 'cancel', 'overlay',
											// 'close', and 'timer'
											if (dismiss === 'cancel') {
												swal(
												'إلغاء ',
												'لم يتم حذف أي موقع :)',
												'error'
												)
											}
											})"><i class="fa fa-trash"></i></a>
                                            {% elseif app.session.get('_locale') =='fr' %} 




                                         	<a class="btn btn-icon-only red" id="{{sites.id}}" onClick="swal({
											title: 'Es-tu sûr !',
											text: 'vous souhaitez supprimer ce site    ?',
											showCancelButton: true,
											confirmButtonColor: '#3085d6',
											cancelButtonColor: '#d33',
											confirmButtonText: 'oui, je confirme',
											cancelButtonText: 'Non',
											confirmButtonClass: 'btn-success',
											cancelButtonClass: 'btn-danger',
											buttonsStyling: true
											}).then(function () {
											swal(
												'Deleted',
												'{{ sites.name}}',
												'success'
											).then(function (){window.location.replace('{{ path('cms_site_delete',{'id':sites.id,'idsite':"null"})}}')})
											}, function (dismiss) {
											// dismiss can be 'cancel', 'overlay',
											// 'close', and 'timer'
											if (dismiss === 'cancel') {
												swal(
												'annulee',
												'aucun site supprimé :)',
												'error'
												)
											}
											})"><i class="fa fa-trash"></i></a>
                                   
                                               {% elseif app.session.get('_locale') =='de' %} 




                                         	<a class="btn btn-icon-only red" id="{{sites.id}}" onClick="swal({
											title: 'Bist du sicher !',
											text: 'Sie möchten diese Website löschen   ?',
											showCancelButton: true,
											confirmButtonColor: '#3085d6',
											cancelButtonColor: '#d33',
											confirmButtonText: 'Ja, ich bestätige',
											cancelButtonText: 'Nein',
											confirmButtonClass: 'btn-success',
											cancelButtonClass: 'btn-danger',
											buttonsStyling: true
											}).then(function () {
											swal(
												'Deleted',
												'{{ sites.name}}',
												'success'
											).then(function (){window.location.replace('{{ path('cms_site_delete',{'id':sites.id,'idsite':"null"})}}')})
											}, function (dismiss) {
											// dismiss can be 'cancel', 'overlay',
											// 'close', and 'timer'
											if (dismiss === 'cancel') {
												swal(
												'Abbrechen',
												'Keine Website gelöscht :)',
												'error'
												)
											}
											})"><i class="fa fa-trash"></i></a>

											{% endif %}
                                                    
         <button class="btn btn-icon-only yellow fa fa-edit" data-toggle="modal" data-target="#addRowModal{{sites.id}}">
										</button>
										<button class="btn btn-icon-only blue fa fa-eye" data-toggle="modal" data-target="#addRowModalview{{sites.id}}">
										</button>
                                                    
                                          <div class="modal fade" id="addRowModal{{sites.id}}" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header no-bd">
													<h5 class="modal-title">
													<font color="white">
														<span class="fw-mediumbold">
														{% trans %}Update{% endtrans %}</span> 
														<span class="fw-light">
															{% trans %}Site{% endtrans %}
														</span></font>
													</h5>
													<font color="white">
													<button type="button" class="close" onclick="close()" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button></font>
												</div>
												<div class="modal-body">
													<form method="POST" action="{{ path('cms_update_site',{'id':sites.id})}}">
														<div class="row">
															<div class="col-sm-12">
																<div class="form-group form-group-default">
																	<label>{% trans %}Name{% endtrans %}</label>
																	<input type="text" value="{{sites.name}}" class="form-control" required name="name1" placeholder="site name">
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group form-group-default">
																	<label>{% trans %}Description{% endtrans %}</label>
																	<textarea   class="form-control" required name="description1" placeholder="site description">{{sites.description}}</textarea>
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group form-group-default">
																	<label>{% trans %}Url{% endtrans %}</label>
																	<input  type="text" class="form-control" value="{{sites.url}}" required name="url1" placeholder="site url">
																</div>
															</div>
														</div>
														
													
                                                        <div class="modal-footer no-bd">
													<button type="submit"  class="btn btn-default" value="">{% trans %}update{% endtrans %}</button>
													<button type="button" class="btn btn-danger" onclick="close()" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
												</div>
											</div>
													</form>
												</div>
												</div></div>          
  <div class="modal fade" id="addRowModalview{{sites.id}}" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header no-bd">
													<h5 class="modal-title">
													<font color="white">
														<span class="fw-mediumbold">
														{% trans %}Site Informations{% endtrans %}</span> 
														<span class="fw-light">
															{% trans %}Details{% endtrans %}
														</span></font>
													</h5>
													<font color="white">
													<button type="button" class="close" onclick="close()" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button></font>
												</div>
												<div class="modal-body">
													<form method="POST" action="#">
														<div class="row">
																			<div class="col-sm-6">
																<div class="form-group form-group-default">
																	<label class="form-control-label" for="input-username">{% trans %}name{% endtrans %}</label>
																	<input  type="text" class="form-control form-control-alternative" disabled value="{{sites.name}}">
																</div>
															</div>
														
															<div class="col-md-6">
																<div class="form-group form-group-default">
																	<label class="form-control-label" for="input-username">{% trans %}Created by{% endtrans %}</label>
																	<input  type="text" class="form-control form-control-alternative" disabled value="{{sites.author}}">
																</div>
															</div>
                                             
                                                             <div class="col-md-6">
																<div class="form-group form-group-default">
																	<label class="form-control-label" for="input-username">{% trans %}Created AT{% endtrans %}</label>
																	<input  type="text" class="form-control form-control-alternative" disabled value="{{sites.created_at|date("m/d/Y-H:i:s")}}">
																</div>
															</div>
                                                             <div class="col-md-6">
																<div class="form-group form-group-default">
																	<label class="form-control-label" for="input-username">{% trans %}Last Update{% endtrans %}</label>
																	<input  type="text" class="form-control form-control-alternative" disabled value="{{sites.updated_at|date("m/d/Y-H:i:s")}}">
																</div>
															</div>
															 <div class="col-md-6">
																<div class="form-group form-group-default">
																	<label class="form-control-label" for="input-username">{% trans %}Url{% endtrans %}</label>
																	<input  type="text" class="form-control form-control-alternative" disabled value="{{sites.url}}">
																</div>
															</div>
															 <div class="col-md-6">
																<div class="form-group form-group-default">
																	<label class="form-control-label" for="input-username">{% trans %}Logo{% endtrans %}</label>
                                                     {% if sites.logo != null %}
													  
													<img width="80" height="80" src="{{ vich_uploader_asset(sites,'imageFile') }}" alt="{{ sites.logo }}"><a align="center" class=" btn-default" href="{{path('cms_site_update',{'id':sites.id,'idsite':"null"})}}">Update
                                                         {% endif %}																</div>
															</div>
														 <div class="col-md-6">
																<div class="form-group form-group-default">
																	<label class="form-control-label" for="input-username">{% trans %}Template{% endtrans %}</label>
																	<input  type="text" class="form-control form-control-alternative" disabled value="{{sites.theme}}">
																</div>
															</div>
														</div>
														
													
                                                        <div class="modal-footer no-bd">
													<button type="button" class="btn btn-danger" onclick="close()" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
												</div>
											</div>
													</form>
												</div>
												</div></div>
                                                     </td>                           
                                                     
                                                            
                                                     
         
                                                
                                                </tr>
                        

                                                 {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                               
                            </div>
                        </div>    



{% if siteinvit != null %}



    <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-dark">
                                            <i class="icon-settings font-dark"></i>
                                            <span class="caption-subject bold uppercase">{% trans %}Site Invit Lists{% endtrans %}</span>
                                        </div>
                                        <div class="tools"> </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover" id="sample_2">
                                            <thead>
                                                 <tr>
                                                    <th>{% trans %}name{% endtrans %}</th>
													 <th>{% trans %}View site{% endtrans %}</th>

                                                      
                                                      <th>{% trans %}Created by{% endtrans %}</th>
										               <th>{% trans %}Theme{% endtrans %}</th>
													   <th>{% trans %}View Posts{% endtrans %}</th>

                                                          <th>{% trans %}View Pages{% endtrans %}</th>
													     <th>{% trans %}Logo&Services{% endtrans %}</th>
														 <th>{% trans %}View Services{% endtrans %}</th>
														  <th>{% trans %}View News{% endtrans %}</th>
														 <th>{% trans %}View Blocks{% endtrans %}</th>
														

														
                                                    <th>{% trans %}Action{% endtrans %}</th>
                                                    
                                                </tr>
                                            </thead>
                                            
                                            <tbody>
                                                
                                                 {% for sitesi in siteinvit %}
                                                <tr>
                                                    <td>{{sitesi.sites.name}}</td>
											<td><a class="btn btn-default fa fa-eye" href="{{path('cms_site_view',{'name':sitesi.sites.name})}}"  target="_blank">{% trans %}View{% endtrans %}</a></td>

                                                     
                                                 
                                                  <td>{{sitesi.sites.author}}</td>
												   {% if sitesi.role == "ROLE_MODERATOR"%}
												  {% if sitesi.sites.theme=="default"%}
												   <td>Default <br><br><a href="{{path('cms_add_theme_site',{'id':sitesi.sites.id})}}" class="btn-sm btn-primary">{% trans %}Update{% endtrans %}</a></td> 
												   {% else %}
                                              <td>{{sitesi.sites.theme}}<br><br><a href="{{path('cms_add_theme_site',{'id':sitesi.sites.id})}}" class="btn-sm btn-primary">{% trans %}Update{% endtrans %}</a></td> 
                                                     {% endif %}

												   {% else %}
												   <td>Not Allowed</td>
												   {% endif %}
													<td><a class="btn btn-default" href="{{path('cms_post_invit_view',{'name':sitesi.createdby,'idsite':sitesi.sites.id})}}"  target="_blank">{% trans %}View{% endtrans %} </a></td>

												   {% if sitesi.role == "ROLE_MODERATOR" or sitesi.role=="ROLE_EDITOR" %}
													<th><a class="btn btn-default" href="{{path('cms_page_invit_view',{'idsite':sitesi.sites.id,'name':sitesi.createdby})}}"  target="_blank">{% trans %}View {% endtrans %}</a></th>
													{% endif %}
                                                    {% if sitesi.role == "ROLE_MODERATOR" %}
												  {% if sitesi.sites.logo ==null %}
													    <td><a class="btn btn-default" href="{{path('cms_site_update',{'id':sitesi.sites.id,'idsite':sitesi.sites.id})}}">{% trans %}Add{% endtrans %}</a></td> 
														 {% else %}
													<td><img width="80" height="80" src="{{ vich_uploader_asset(sitesi.sites,'imageFile') }}" alt="{{ sitesi.sites.logo }}"><a align="center" class=" btn-default" href="{{path('cms_site_update',{'id':sitesi.sites.id,'idsite':sitesi.sites.id})}}">{% trans %}Update{% endtrans %}</td></td>
                                                         {% endif %}


                                                        <td><a class="btn btn-default" href="{{path('cms_site_view_servicesInvit',{'id':sitesi.sites.id})}}"  target="_blank">{% trans %}View{% endtrans %}</a></td>
														<td><a class="btn btn-default" href="{{path('cms_invit_view_news',{'id':sitesi.sites.id})}}"  target="_blank">{% trans %}View{% endtrans %}</a></td>

													<td><a class="btn btn-default" href="{{path('cms_site_view_siteblock',{'id':sitesi.sites.id})}}"  target="_blank">{% trans %}View{% endtrans %}</a></td>
													<td>
												{% if app.session.get('_locale') =='en' %}

													<a class="btn btn-icon-only red" id="{{sitesi.sites.id}}" onClick="swal({
											title: 'Are you sure!',
											text: 'you want to delete this site ?',
											showCancelButton: true,
											confirmButtonColor: '#3085d6',
											cancelButtonColor: '#d33',
											confirmButtonText: 'yes, I confirm',
											cancelButtonText: 'No',
											confirmButtonClass: 'btn-success',
											cancelButtonClass: 'btn-danger',
											buttonsStyling: true
											}).then(function () {
											swal(
												'Deleted',
												'{{ sitesi.sites.name}}',
												'success'
											).then(function (){window.location.replace('{{ path('cms_site_delete',{'id':sitesi.sites.id,'idsite':sitesi.sites.id})}}')})
											}, function (dismiss) {
											// dismiss can be 'cancel', 'overlay',
											// 'close', and 'timer'
											if (dismiss === 'cancel') {
												swal(
												'cancel',
												'No site deleted :)',
												'error'
												)
											}
											})"><i class="fa fa-trash"></i></a>
											{% elseif app.session.get('_locale') =='ar' %} 




                                         	<a class="btn btn-icon-only red" id="{{sitesi.sites.id}}" onClick="swal({
											title: 'هل أنت متأكد !',
											text: 'تريد حذف هذا الموقع ?',
											showCancelButton: true,
											animation:true,
											confirmButtonColor: '#3085d6',
											cancelButtonColor: '#d33',
											confirmButtonText: 'نعم، أنا أؤكد',
											cancelButtonText: 'لا',
											confirmButtonClass: 'btn-success',
											cancelButtonClass: 'btn-danger',
											buttonsStyling: true
											}).then(function () {
											swal(
												'Deleted',
												'{{ sitesi.sites.name}}',
												'success'
											).then(function (){window.location.replace('{{ path('cms_site_delete',{'id':sitesi.sites.id,'idsite':sitesi.sites.id})}}')})
											}, function (dismiss) {
											// dismiss can be 'cancel', 'overlay',
											// 'close', and 'timer'
											if (dismiss === 'cancel') {
												swal(
												'إلغاء ',
												'لم يتم حذف أي موقع :)',
												'error'
												)
											}
											})"><i class="fa fa-trash"></i></a>
                                            {% elseif app.session.get('_locale') =='fr' %} 




                                         	<a class="btn btn-icon-only red" id="{{sitesi.sites.id}}" onClick="swal({
											title: 'Es-tu sûr !',
											text: 'vous souhaitez supprimer ce site    ?',
											showCancelButton: true,
											confirmButtonColor: '#3085d6',
											cancelButtonColor: '#d33',
											confirmButtonText: 'oui, je confirme',
											cancelButtonText: 'Non',
											confirmButtonClass: 'btn-success',
											cancelButtonClass: 'btn-danger',
											buttonsStyling: true
											}).then(function () {
											swal(
												'Deleted',
												'{{ sitesi.sites.name}}',
												'success'
											).then(function (){window.location.replace('{{ path('cms_site_delete',{'id':sitesi.sites.id,'idsite':sitesi.sites.id})}}')})
											}, function (dismiss) {
											// dismiss can be 'cancel', 'overlay',
											// 'close', and 'timer'
											if (dismiss === 'cancel') {
												swal(
												'annulee',
												'aucun site supprimé :)',
												'error'
												)
											}
											})"><i class="fa fa-trash"></i></a>
                                   
                                               {% elseif app.session.get('_locale') =='de' %} 




                                         	<a class="btn btn-icon-only red" id="{{sitesi.sites.id}}" onClick="swal({
											title: 'Bist du sicher !',
											text: 'Sie möchten diese Website löschen   ?',
											showCancelButton: true,
											confirmButtonColor: '#3085d6',
											cancelButtonColor: '#d33',
											confirmButtonText: 'Ja, ich bestätige',
											cancelButtonText: 'Nein',
											confirmButtonClass: 'btn-success',
											cancelButtonClass: 'btn-danger',
											buttonsStyling: true
											}).then(function () {
											swal(
												'Deleted',
												'{{ sitesi.sites.name}}',
												'success'
											).then(function (){window.location.replace('{{ path('cms_site_delete',{'id':sitesi.sites.id,'idsite':sitesi.sites.id})}}')})
											}, function (dismiss) {
											// dismiss can be 'cancel', 'overlay',
											// 'close', and 'timer'
											if (dismiss === 'cancel') {
												swal(
												'Abbrechen',
												'Keine Website gelöscht :)',
												'error'
												)
											}
											})"><i class="fa fa-trash"></i></a>

											{% endif %}                                   
         <button class="btn btn-icon-only yellow fa fa-edit" data-toggle="modal" data-target="#addRowModal{{sitesi.sites.id}}">
										</button>
										<button class="btn btn-icon-only blue fa fa-eye" data-toggle="modal" data-target="#addRowModalview2{{sitesi.sites.id}}">
										</button>
    
                                          <div class="modal fade" id="addRowModal{{sitesi.sites.id}}" tabindex="-1" role="dialog" aria-hidden="true">
										{% if sitesi.role == "ROLE_MODERATOR" %}

										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header no-bd">
													<h5 class="modal-title">
													<font color="white">
														<span class="fw-mediumbold">
														{% trans %}Update{% endtrans %}</span> 
														<span class="fw-light">
															{% trans %}Site{% endtrans %}
														</span></font>
													</h5>
													<font color="white">
													<button type="button" class="close" onclick="close()" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button></font>
												</div>
												<div class="modal-body">
													<form method="POST" action="{{ path('cms_update_site',{'id':sitesi.sites.id})}}">
														<div class="row">
															<div class="col-sm-12">
																<div class="form-group form-group-default">
																	<label>{% trans %}Name{% endtrans %}</label>
																	<input type="text" value="{{sitesi.sites.name}}" class="form-control" required name="name1" placeholder="site name">
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group form-group-default">
																	<label>{% trans %}Description{% endtrans %}</label>
																	<textarea   class="form-control" required name="description1" placeholder="site description">{{sitesi.sites.description}}</textarea>
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-group form-group-default">
																	<label>{% trans %}Url{% endtrans %}</label>
																	<input  type="text" class="form-control" value="{{sitesi.sites.url}}" required name="url1" placeholder="site url">
																</div>
															</div>
														</div>
														
													
                                                        <div class="modal-footer no-bd">
													<input type="submit"  class="btn btn-default" value="update">
													<button type="button" class="btn btn-danger" onclick="close()" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
												</div>
											</div>
													</form>
												</div>
												</div>
												{% else %}

                                             	<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header no-bd">
													<h5 class="modal-title">
													<font color="white">
														<span class="fw-mediumbold">
														{% trans %}Update{% endtrans %}</span> 
														<span class="fw-light">
															{% trans %}Site{% endtrans %}
														</span></font>
													</h5>
													<font color="white">
													<button type="button" class="close" onclick="close()" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button></font>
												</div>
												<div class="modal-body">
													
														{% trans %}Not Allowed{% endtrans %}
													
                                                        <div class="modal-footer no-bd">
													<input type="submit"  class="btn btn-default" value="update">
													<button type="button" class="btn btn-danger" onclick="close()" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
												</div>
											</div>
													</form>
												</div>
												</div>



												{% endif %}
												
												
												
												</div>
												<div class="modal fade" id="addRowModalview2{{sitesi.sites.id}}" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header no-bd">
													<h5 class="modal-title">
													<font color="white">
														<span class="fw-mediumbold">
														{% trans %}Site Informations{% endtrans %}</span> 
														<span class="fw-light">
															{% trans %}Details{% endtrans %}
														</span></font>
													</h5>
													<font color="white">
													<button type="button" class="close" onclick="close()" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button></font>
												</div>
												<div class="modal-body">
													<form method="POST" action="#">
														<div class="row">
																			<div class="col-md-6">
																<div class="form-group form-group-default">
																	<label class="form-control-label" for="input-username">{% trans %}name{% endtrans %}</label>
																	<input  type="text" class="form-control form-control-alternative" disabled value="{{sitesi.sites.name}}">
																</div>
															</div>
														
															<div class="col-md-6">
																<div class="form-group form-group-default">
																	<label class="form-control-label" for="input-username">{% trans %}Created by{% endtrans %}</label>
																	<input  type="text" class="form-control form-control-alternative" disabled value="{{sitesi.sites.author}}">
																</div>
															</div>
                                             
                                                             <div class="col-md-6">
																<div class="form-group form-group-default">
																	<label class="form-control-label" for="input-username">{% trans %}Created AT{% endtrans %}</label>
																	<input  type="text" class="form-control form-control-alternative" disabled value="{{sitesi.sites.created_at|date("m/d/Y-H:i:s")}}">
																</div>
															</div>
                                                             <div class="col-md-6">
																<div class="form-group form-group-default">
																	<label class="form-control-label" for="input-username">{% trans %}Last Update{% endtrans %}</label>
																	<input  type="text" class="form-control form-control-alternative" disabled value="{{sitesi.sites.updated_at|date("m/d/Y-H:i:s")}}">
																</div>
															</div>
															 <div class="col-md-6">
																<div class="form-group form-group-default">
																	<label class="form-control-label" for="input-username">{% trans %}Url{% endtrans %}</label>
																	<input  type="text" class="form-control form-control-alternative" disabled value="{{sitesi.sites.url}}">
																</div>
															</div>
															 <div class="col-md-6">
																<div class="form-group form-group-default">
																	<label class="form-control-label" for="input-username">{% trans %}Logo{% endtrans %}</label>
                                                     {% if sitesi.sites.logo != null %}
													  
													<img width="80" height="80" src="{{ vich_uploader_asset(sitesi.sites,'imageFile') }}" alt="{{ sitesi.sites.logo }}"><a align="center" class=" btn-default" href="{{path('cms_site_update',{'id':sitesi.sites.id,'idsite':"null"})}}">Update
                                                         {% endif %}</div>
															</div>
														 <div class="col-md-12">
																<div class="form-group form-group-default">
																	<label class="form-control-label" for="input-username">{% trans %}Template{% endtrans %}</label>
																	<input  type="text" class="form-control form-control-alternative" disabled value="{{sitesi.sites.theme}}">
																</div>
															</div>
														</div>
														
													
                                                        <div class="modal-footer no-bd">
													<button type="button" class="btn btn-danger" onclick="close()" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
												</div>
											</div>
													</form>
												</div>
												</div></div>          
                                                    
                                                     </td>  
													 {% else %}                         
                                                     <td>{% trans %}Not Allow{% endtrans %}</td>
													 <td>{% trans %}Not Allow{% endtrans %}</td>
													 <td>{% trans %}Not Allow{% endtrans %}</td>
                                                            {% endif %}
                                                     
         
                                                
                                                </tr>
                        

                                                 {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                               
                            </div>
                        </div>












{% endif %}
	





  
{% endblock %}
 {% block javascripts %}
  <script src="{{asset('assets/js/core/jquery.3.2.1.min.js')}}"></script>
<script src="{{asset('assets/js/core/popper.min.js')}}"></script>
<script src="{{asset('assets/js/core/bootstrap.min.js')}}"></script>

<!-- jQuery UI -->
<script src="{{asset('assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')}}"></script>
<script src="{{asset('assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')}}"></script>

<!-- jQuery Scrollbar -->
<script src="{{asset('assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')}}"></script>

<!-- Moment JS -->
<script src="{{asset('assets/js/plugin/moment/moment.min.js')}}"></script>

<!-- Chart JS -->
<script src="{{asset('assets/js/plugin/chart.js/chart.min.js')}}"></script>

<!-- jQuery Sparkline -->
<script src="{{asset('assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js')}}"></script>

<!-- Chart Circle -->
<script src="{{asset('assets/js/plugin/chart-circle/circles.min.js')}}"></script>

<!-- Datatables -->

<!-- Bootstrap Notify -->
<script src="{{asset('assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')}}"></script>

<!-- Bootstrap Toggle -->
<script src="{{asset('assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')}}"></script>

<!-- jQuery Vector Maps -->
<script src="{{asset('assets/js/plugin/jqvmap/jquery.vmap.min.js')}}"></script>
<script src="{{asset('assets/js/plugin/jqvmap/maps/jquery.vmap.world.js')}}"></script>

<!-- Google Maps Plugin -->
<script src="{{asset('assets/js/plugin/gmaps/gmaps.js')}}"></script>

<!-- Sweet Alert -->
<script src="{{asset('assets/js/plugin/sweetalert/sweetalert.min.js')}}"></script>

<!-- Azzara JS -->
<script src="{{asset('assets/js/ready.min.js')}}"></script>

<!-- Azzara DEMO methods, don't include it in your project! -->
<script src="{{asset('assets/js/setting-demo.js')}}"></script>
<script src="{{asset('assets/js/demo.js')}}"></script>



 <script src="{{ asset('assets2/dist/sweetalert2.js')}}"></script>

        <script src="{{ asset('assets2/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{{ asset('assets2/global/scripts/datatable.js')}}" type="text/javascript"></script>
        <script src="{{ asset('assets2/global/plugins/datatables/datatables.min.js')}}" type="text/javascript"></script>
        <script src="{{ asset('assets2/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js')}}" type="text/javascript"></script>
        <script src="{{ asset('assets2/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{{ asset('assets2/pages/scripts/table-datatables-buttons.min.js')}}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{{ asset('assets2/layouts/layout/scripts/demo.min.js')}}" type="text/javascript"></script>
         <script src="https://cdn.jsdelivr.net/sweetalert2/6.1.0/sweetalert2.min.js"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        <script>
            $(document).ready(function()
            {
                $('#clickmewow').click(function()
                {
                    $('#radio1003').attr('checked', 'checked');
                });
            })
        

        </script>       
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
$('select').select2();

</script>

 {% endblock %}