{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Profil{% endtrans %}{% endblock %}

{% block stylesheets %}
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" href="{{asset('assets/img/icon.ico')}}" type="image/x-icon"/>

	<!-- Fonts and icons -->
	<script src="{{asset('assets/js/plugin/webfont/webfont.min.js')}}"></script>
	<script>
		WebFont.load({
			google: {"families":["Open+Sans:300,400,600,700"]},
			custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['{{asset('assets/css/fonts.css')}}']},
			active: function() {
				sessionStorage.fonts = true;
			}
		});
	</script>
    <style>
    #home{
    margin-left: 50px;
    }
    </style>
    

	<!-- CSS Files -->
	<link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/azzara.min.css')}}">

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link rel="stylesheet" href="{{asset('assets/css/demo.css')}}">
{% endblock %}
{% block Userprofile %}
						<div class="avatar-sm float-left mr-2">
							<img src="{{asset('assets/img/profile.jpg')}}" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									Hizrian
									<span class="user-level">Administrator</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="#profile">
											<span class="link-collapse">{% trans %}My Profil {% endtrans %}</span>
										</a>
									</li>
									<li>
										<a href="#edit">
											<span class="link-collapse">{% trans %}Edit Profil {% endtrans %}</span>
										</a>
									</li>
									<li>
										<a href="#settings">
											<span class="link-collapse">{% trans %}Settings{% endtrans %}</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						
						
{% endblock %}
{% block projests %}
          <li class="nav-item">
							<a  href="{{path('cms_site_list')}}">
								<i class="fas fa-circle-notch"></i>
								<p>{% trans %}Sites{% endtrans %}</p>
								<span class="caret"></span>
							</a>
                                </li>
                            
{% endblock %}

{% block page %}
          <li class="nav-item">

<a href="{{path('cms_page_list')}}">
								<i class="fas fa-copy"></i>
								<p>{% trans %}pages{% endtrans %}</p>
								<span class="caret"></span>
							</a>
                                </li>
{% endblock %}

				{% block FAQ %}
				<li class="nav-item">

				<a href="{{path('cms_faq_list')}}">
				<i class="fas fa-question-circle"></i>
				<p>{% trans %}FAQ{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				</li>
				{% endblock %}
				{% block blocks_site %}
				<li class="nav-item">

				<a data-toggle="collapse" href="#blocks_site">
				<i class="fas fa-layer-group"></i>
				<p>{% trans %}Site Block{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				<div class="collapse" id="blocks_site">
				<ul class="nav nav-collapse">
					<li>
						<a href="{{path('cms_menu_index')}}">
							<span class="sub-item">{% trans %}Menu{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_footer_index')}}">
							<span class="sub-item">{% trans %}footer{% endtrans %}</span>
						</a>
					</li>
		 <li>
						<a href="{{path('cms_service_index')}}">
							<span class="sub-item">{% trans %}Services{% endtrans %}</span>
						</a>
					</li>

				</ul>
			</div>
				</li>
				{% endblock %}
				{% block blocks %}
				<li class="nav-item">

				<a data-toggle="collapse" href="#blocks">
				<i class="fas fa-layer-group"></i>
				<p>{% trans %}Page Block{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				<div class="collapse" id="blocks">
				<ul class="nav nav-collapse">
				
					<li>
						<a href="{{path('cms_gallery_index')}}">
							<span class="sub-item">{% trans %}gallery{% endtrans %}</span>
						</a>
					</li>
			
					<li>
						<a href="{{path('cms_contactblock_index')}}">
							<span class="sub-item">{% trans %}Contact{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_imagevideo_index')}}">
							<span class="sub-item">{% trans %}Images&Video{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_header_index')}}">
							<span class="sub-item">{% trans %}Header{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_feature_index')}}">
							<span class="sub-item">{% trans %}Feature{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_team_membre_index')}}">
							<span class="sub-item">{% trans %}Team & membres{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_pricing_index')}}">
							<span class="sub-item">{% trans %}Pricing{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_pageservice_index')}}">
							<span class="sub-item">{% trans %}Page Services{% endtrans %}</span>
						</a>
					</li>

				</ul>
			</div>
				</li>
				{% endblock %}
{% block blog %}
				<li class="nav-item">

				<a data-toggle="collapse" href="#blog">
				<i class="fas fa-user-cog"></i>
				<p>{% trans %}User Blog{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				<div class="collapse" id="blog">
				<ul class="nav nav-collapse">
					<li>
						<a href="{{path('cms_list_categories')}}">
							<span class="sub-item">{% trans %}Categories{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_list_articles')}}">
							<span class="sub-item">{% trans %}Posts{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_list_tags')}}">
							<span class="sub-item">{% trans %}Tags{% endtrans %}</span>
						</a>
					</li>
					
					

				</ul>
			</div>
				</li>
				{% endblock %}
				{% block news %}
				<li class="nav-item">

				<a href="{{path('cms_news_index')}}">
				<i class="far fa-newspaper"></i>
				<p>{% trans %}News{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				</li>
				{% endblock %}
				 {% block forum %}
				<li class="nav-item">

				<a data-toggle="collapse" href="#forum">
				<i class="fas fa-cubes"></i>
				<p>{% trans %}User Forum{% endtrans %}</p>
				<span class="caret"></span>
				</a>
				<div class="collapse" id="forum">
				<ul class="nav nav-collapse">
					<li>
						<a href="{{path('cms_forum_index')}}">
							<span class="sub-item">{% trans %}Forums{% endtrans %}</span>
						</a>
					</li>
					<li>
						<a href="{{path('cms_topic_index')}}">
							<span class="sub-item">{% trans %}Topics{% endtrans %}</span>
						</a>
					</li>
					
					

				</ul>
			</div>
				</li>
				{% endblock %}
{% block content %}
<div class="container bootstrap snippet">
    <div class="card">
                <div class="card-header">
 {{ form_start(form) }} 
   
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">

  <img id="ttt" src="{{asset('uploads/img/experts/')}}{{user.photoname}}" alt="logo" class="img-responsive pic-bordered " style=" border-radius: 8px;" width="300px" height="300px"/>     <br>
        {{ form_errors(form.photo) }}  
     </br>

<div class="custom-file">
{{ form_widget(form.photo,{'attr':{'class':'custom-file-input','id':'customFile'}})}}

  <label class="custom-file-label" for="customFile">{% trans %}Choose file{% endtrans %}</label>
</div>
      </div></hr><br>

          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                      <div class="form-group">
                          
                          <div class="col-xs-7">
                         
                              <label for="first_name"><h4>{% trans %}Username{% endtrans %}</h4></label>
                              {{ form_errors(form.username) }}
                        {{ form_widget(form.username, { 'attr': {'class': 'form-control form-group has-success'} }) }}                          </div>
                      </div>
                     
          
                  
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>{% trans %}Email{% endtrans %}</h4></label>
                             {{ form_errors(form.email) }}
                                                {{ form_widget(form.email, { 'attr': {'class': 'form-control form-group has-success'} }) }}
                          </div>
                      </div>
                     
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>{% trans %}Password{% endtrans %}</h4></label>
                              {{ form_errors(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control form-group has-success'} }) }}
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>{% trans %}Confirm Password{% endtrans %}</h4></label>
                             {{ form_errors(form.plainPassword.second) }}
                                                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control form-group has-success'} }) }}
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                                {{ form_rest(form) }}
                              	<button class="btn  btn-primary" type="submit" value="">{% trans %}Save Changes{% endtrans %}</button>
                                <button class="btn  btn-danger" type="reset" value="">{% trans %}Reset{% endtrans %}</button>

                            </div>
                      </div>
              	</form>
              <hr>
              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">
               
               <h2></h2>
               
               <hr>
           
               
             </div><!--/tab-pane-->
       
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div>
        {{ form_end(form) }}<!--/col-9-->
    </div>
{% endblock %}
 {% block javascripts %}
  <script src="{{asset('assets/js/core/jquery.3.2.1.min.js')}}"></script>
<script src="{{asset('assets/js/core/popper.min.js')}}"></script>
<script src="{{asset('assets/js/core/bootstrap.min.js')}}"></script>

<!-- jQuery UI -->
<script src="{{asset('assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')}}"></script>
<script src="{{asset('assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')}}"></script>

<!-- jQuery Scrollbar -->
<script src="{{asset('assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')}}"></script>

<!-- Moment JS -->
<script src="{{asset('assets/js/plugin/moment/moment.min.js')}}"></script>

<!-- Chart JS -->
<script src="{{asset('assets/js/plugin/chart.js/chart.min.js')}}"></script>

<!-- jQuery Sparkline -->
<script src="{{asset('assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js')}}"></script>

<!-- Chart Circle -->
<script src="{{asset('assets/js/plugin/chart-circle/circles.min.js')}}"></script>

<!-- Datatables -->
<script src="{{asset('assets/js/plugin/datatables/datatables.min.js')}}"></script>

<!-- Bootstrap Notify -->
<script src="{{asset('assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')}}"></script>

<!-- Bootstrap Toggle -->
<script src="{{asset('assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')}}"></script>

<!-- jQuery Vector Maps -->
<script src="{{asset('assets/js/plugin/jqvmap/jquery.vmap.min.js')}}"></script>
<script src="{{asset('assets/js/plugin/jqvmap/maps/jquery.vmap.world.js')}}"></script>

<!-- Google Maps Plugin -->
<script src="{{asset('assets/js/plugin/gmaps/gmaps.js')}}"></script>

<!-- Sweet Alert -->
<script src="{{asset('assets/js/plugin/sweetalert/sweetalert.min.js')}}"></script>

<!-- Azzara JS -->
<script src="{{asset('assets/js/ready.min.js')}}"></script>

<!-- Azzara DEMO methods, don't include it in your project! -->
<script src="{{asset('assets/js/setting-demo.js')}}"></script>
<script src="{{asset('assets/js/demo.js')}}"></script>
    <script>
$(document).ready(function() {

    
    var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#ttt').attr('src', e.target.result);
            }
    
            reader.readAsDataURL(input.files[0]);
        }
    }
    

    $("#fos_user_profile_form_photo").on('change', function(){
        readURL(this);
    });
});
</script>


 {% endblock %}