<!doctype html>
<html lang="en">

  <head>
    <title{% block title %} {% endblock %}</title>
    
   {% block stylesheet %}
{% endblock stylesheet %}
  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap" id="home-section">
{% block header %}
    
 

   {% endblock %}
    
   

    

   {% block content %}

    {% endblock %}
    
{% block footer %}
 
{% endblock %}
    </div>
{% block javascript %}
 {% endblock %}

  </body>

</html>

