{% extends 'Theme/base1.html.twig' %}

    {% block title %} 
blog    
    {% endblock title %}
    {% block stylesheet %}
    

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{asset('template2/fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{asset('template2/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/bootstrap-datepicker.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/jquery.fancybox.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/fonts/flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/aos.css')}}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{asset('template2/css/style.css')}}">

 {% endblock stylesheet %}
{% block header %}
    
    

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="#">Yoodev-it</a>
              </div>
            </div>

            <div class="col-9  text-right">
              

              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>

              

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class="active"><a href="{{path('cms_demo_themes',{'id':id})}}" class="nav-link">Home</a></li>
                  <li><a href="{{path('cms_demo_service_themes',{'id':id})}}" class="nav-link">Services</a></li>
                  <li><a href="{{path('cms_demo_shop_themes',{'id':id})}}" class="nav-link">Barber Shop</a></li>
                  <li><a href="{{path('cms_demo_about_themes',{'id':id})}}" class="nav-link">About</a></li>
                  <li><a href="{{path('cms_demo_blog_themes',{'id':id})}}" class="nav-link">Blog</a></li>
                  <li><a href="{{path('cms_demo_contact_themes',{'id':id})}}" class="nav-link">Contact</a></li>
                </ul>
              </nav>
            </div>

            
          </div>
        </div>

      </header>

   {% endblock %}
    
{% block content %}

    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('{{asset('template2/images/hero_1.jpg')}}')">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-7">
              <h1 class="mb-3">Blog Posts</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta veritatis in tenetur doloremque, maiores doloribus officia iste. Dolores.</p>
              <p><a href="#" class="btn btn-primary">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="#">
                <img src="{{asset('template2/images/img_1.jpg')}}" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="#">Lorem ipsum dolor sit amet</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="#">
                <img src="{{asset('template2/images/img_2.jpg')}}" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="#">Lorem ipsum dolor sit amet</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="#">
                <img src="{{asset('template2/images/img_3.jpg')}}" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="#">Lorem ipsum dolor sit amet</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="#">
                <img src="{{asset('template2/images/img_1.jpg')}}" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="single.html">Lorem ipsum dolor sit amet</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="#">
                <img src="{{asset('template2/images/img_2.jpg')}}" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="single.html">Lorem ipsum dolor sit amet</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="#">
                <img src="{{asset('template2/images/img_3.jpg')}}" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="#">Lorem ipsum dolor sit amet</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
              </div>
            </div>
          </div>
        

          <div class="col-12 mt-5 text-center">
            <span class="p-3">1</span>
            <a href="#" class="p-3">2</a>
            <a href="#" class="p-3">3</a>
            <a href="#" class="p-3">4</a>
          </div>
        </div>
      </div>
    </div>

    
    <div class="site-section section-3" data-stellar-background-ratio="0.5" style="background-image: url('{{asset('template2/images/hero_1.jpg')}}');">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-7 text-center mb-5">
            <h2 class="text-white scissors primary-color-icon text-center">Quality Haircut</h2>
            <p class="lead text-white mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quo doloribus, suscipit libero, voluptate aliquam.</p>
            <p><a href="#" class="btn btn-primary">Contact Us Now</a></p>
          </div>
        </div>
      </div>
    </div>



 {% endblock content  %}   

  {% block footer %}
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <img src="{{asset('template2/images/img_1.jpg')}}" alt="Image" class="img-fluid mb-5">
            <h2 class="footer-heading mb-3">About Us</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
          <div class="col-lg-8 ml-auto">
            <div class="row">
              <div class="col-lg-6 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <h2 class="footer-heading mb-4">Newsletter</h2>
                <form action="#" class="d-flex" class="subscribe">
                  <input type="text" class="form-control mr-3" placeholder="Email">
                  <input type="submit" value="Send" class="btn btn-primary">
                </form>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Yoodev-it</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>
{% endblock footer %}
{% block javascript %}
    <script src="{{asset('template2/js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery-migrate-3.0.0.js')}}"></script>
    <script src="{{asset('template2/js/popper.min.js')}}"></script>
    <script src="{{asset('template2/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('template2/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.sticky.js')}}"></script>
    <script src="{{asset('template2/js/jquery.waypoints.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.animateNumber.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.fancybox.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.stellar.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.easing.1.3.js')}}"></script>
    <script src="{{asset('template2/js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{asset('template2/js/aos.js')}}"></script>

    <script src="{{asset('template2/js/main.js')}}"></script>

{% endblock  %}

