{% extends 'frontend/base_template2.html.twig' %}

    {% block title %} 
{{page.name}}    
    {% endblock title %}
    {% block stylesheet %}
    

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{asset('template2/fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{asset('template2/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/bootstrap-datepicker.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/jquery.fancybox.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/fonts/flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/aos.css')}}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{asset('template2/css/style.css')}}">
{% if site.logo != null %}
     <link href="{{vich_uploader_asset(site,'imageFile')}}" rel="icon">
  <link href="{{vich_uploader_asset(site,'imageFile')}}" rel="apple-touch-icon">
{% endif %}
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{asset('template4/assets/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{asset('template4/assets/css/style.css')}}" rel="stylesheet">

  <link href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.min.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_editor.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/code_view.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/colors.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/emoticons.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image_manager.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/line_breaker.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/table.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/char_counter.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/video.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/fullscreen.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/themes/dark.css')}}">

<style>

.site-navbar{
    background-Color:#1B2631;

}
.site-footer{
    background-Color:#1B2631;

}

.navbar-right{
}
#but{
  margin-left:10px
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFAF0;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
}

.dropdown-content li {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

</style>



 {% endblock stylesheet %}
{% block header %}
    
    

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="#">{{site.name}}</a>
                
              </div>
              
            </div>

            <div class="col-9  text-right">
              

              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>

              

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                   <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>
                      
                        {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}" class="nav-link">FAQ</a> </li>

               {% endif %}
               
                <li><a href="{{path('list_blog_front',{'id':site.id})}}" class="nav-link">Blog</a> </li>
              {% if youdev_cms_forum(site) %}
                <li><a href="{{path('list_forum_front',{'id':site.id})}}" class="nav-link">Forum</a> </li>
                {% endif %}
                 {% if site.news|length >0 %}
                  <li><a href="{{path('list_news_front',{'name':site.name,'id':site.id})}}" class="nav-link">News</a> </li>
                {% endif %}
                 	 {% for menu in site.menus %}
                    {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
       <li  class="dropdown"><a href="#" class="">{{item.name}}</a>

<ul class="dropdown-content" role="listbox">
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank" class="nav-link">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}"  class="nav-link">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}" class="nav-link">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

             
	   <li><form class="navbar-rights" method="get" action="{{path('cms_search_page',{'id':site.id})}}">
							<div class="input-group">
							
								<input type="text" placeholder="Search ..." class="form-control" name="search">
                                <button type="submit" class="btn btn-primary" id="but">
	Search
									</button>
							</div>
						</form></li>
              </nav>
            </div>

            
          </div>
        </div>

      </header>

   {% endblock %}
    
{% block content %}
  
{% if page.headers|length >0 %}
    {% for header in page.headers %}
  <div class="ftco-blocks-cover-1">
      <div class="site-section-cover " data-stellar-background-ratio="0.5" style="background-image: url('{{vich_uploader_asset(header,'imageFile')}}')">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10">
             
            {{froala_display(header.titre)}}
              <p> {{froala_display(header.contenu)}}  </p> 
            </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>





    {% endfor %}
    {% endif %}
    {% if page.content != null %}
 
<section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

            <br>           
       <div id="accordion" class="accordion-secondary">
		 <br>  
      
	<div class="card">
    {{ froala_display(page.content) }}
	
	</div>               
            
              <br>
     	
              
               </div> </div>
          
     
    </section>
    {% endif %}
 {% if page.teamMembres|length >0 %}

 <div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-7 text-center mb-5">
            <h2 class="scissors text-center">Team & Membres </h2>
          </div>
        </div>
        <div class="row">
        {% for team in page.teamMembres %}
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2">
              <div class="d-flex v-card align-items-center mb-4">
                <img src="{{vich_uploader_asset(team,'imageFile')}}" alt="Image" class="img-fluid mr-3">
                <span>{{froala_display(team.metier)}}
                
                
                </span>
              </div>
              <blockquote>
                <p>{{team.description}}</p>
              </blockquote>
            </div>
          </div>
                       {% endfor %}

              
            </div>
          </div>
          
        </div>
      </div>
    </div>
{% endif %}
{% if page.pricings|length >0 %}
<div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center  mb-5">
          <div class="col-md-7 text-center">
            <h3 class="scissors text-center">Services &amp; Pricing</h3>
            <p class="text-center">
              <a href="#" class="btn btn-primary custom-prev">Prev</a>
              <a href="#" class="btn btn-primary custom-next">Next</a>
            </p>
          </div>

        </div>
        <div class="row">
          <div class="col-12">

            <div class="nonloop-block-13 owl-carousel d-flex">
              
             

            {% for pricing in page.pricings %}

              <div class="item-1 h">
                <img src="{{vich_uploader_asset(pricing,'imageFile')}}" alt="Image" width="300" height="250">
                <div class="item-1-contents">
                  <h3>{{pricing.titre}}</h3>
                  <h4><sup>$</sup>{{pricing.prix}}<span> / {{pricing.type}}</span></h4>
                     <br>
                  {{froala_display(pricing.options)}}
                   <button id="checkout-button" class="btn btn-primary">Buy Now</button>
                </div>
                
              </div>
             {% endfor %}
            </div>
            
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if page.features|length >0 %}
   

    <div class="site-section bg-light">
      <div class="container">
                  <h3 class="scissors text-center">Features</h3>

        <div class="row">
          {% for feature in  page.features %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
            {% if feature.image!= null %}
              <a href="#">
                <img src="{{vich_uploader_asset(feature,'imageFile')}}" alt="Image"
                 class="img-fluid">
              </a>
              {% endif %}
              <div class="post-entry-1-contents">
                
                <h2><a href="#">{{feature.titre}}</a></h2>
                <p>{{froala_display(feature.description)}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
   {% if page.imagevideos|length >0 %}
  <div class="site-section">
      <div class="container">
      <h3 class="scissors text-center">Images & Videos</h3>
        <div class="row">
        {% for imgvideo in page.imagevideos %}
          <div class="col-lg-12 col-md-12 ">
            {{froala_display(imgvideo.content)}}
          </div>
          
          {% endfor %}
          </div> </div> </div> 
  {% endif %}

   {% if page.pageServices|length >0 %}
    <div class="site-section">
      <div class="container">
      <h3 class="scissors text-center">Services</h3>
        <div class="row">
        {% for service in page.pageServices %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="service-1 dark">
                    <img src="{{vich_uploader_asset(service,'imageFile')}}">

              <div class="service-1-contents">
                <h3>{{service.name}}</h3>
                <p>{{service.description}}</p>
              </div>
            </div>
          </div>
          
         

          {% endfor %}
          
      

        </div>
      </div>
    </div>
    {% endif %}

     {% if page.galleries|length >0 %}
    <div class="site-section">
      <div class="container">
      <h3 class="scissors text-center">Gallery</h3>
        <div class="row">
        {% for gallery in page.galleries %}
           {% for image in gallery.images %}

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="service-1 dark">
                    <img src="{{asset('/upload/' ~ image.name)}}" width="200" height="200" >

              
            </div>
          </div>
          
         
          {% endfor %}

          {% endfor %}
          
      

        </div>
      </div>
    </div>
    {% endif %}
    {% if page.contacts|length >0 %}
<div class="site-section bg-light" >
      <div class="container">
         <h3 class="scissors text-center">Contact Us</h3>
          {% for label, messages in app.flashes('messagesent',[]) %}
                        {% for message in messages %}
                            <div class="alert alert-success flash-notice ">
                                {{ message }}
                            </div>
                         {% endfor %}
                        {% endfor %}
        <div class="row">
       
          <div class="col-lg-8 mb-5" >
            <form action="{{path('send_mail',{'id':page.id,'ids':site.id})}}" method="post">
              <div class="form-group row">
                <div class="col-md-6 mb-4 mb-lg-0">
                  <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
                <div class="col-md-6">
                  <input type="email" class="form-control" name="email" placeholder="Email">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="subject">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <textarea name="message" id="edit" class="form-control" placeholder="Write your message." cols="30" rows="10"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 mr-auto">
                  <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Send Message">
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-4 ml-auto">
            <div class="bg-white p-3 p-md-5">
              <h3 class="text-black mb-4">Contact Info</h3>
                 {% if (site.footers|length) > 0 %}
                 {% for footer in site.footers %}
              <ul class="list-unstyled footer-link">
                <li class="d-block mb-3">
                  <span class="d-block text-black">Address:</span>
                  <span>{{footer.adresse}}</span></li>
                <li class="d-block mb-3"><span class="d-block text-black">Phone:</span><span>+216 {{footer.phone}}</span></li>
                <li class="d-block mb-3"><span class="d-block text-black">Email:</span><span>{{footer.emailcontact}}</span></li>
              </ul>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}




























 {% endblock   %}   

  {% block footer %}
    {% if (site.footers|length) > 0 %}

  <br>
     <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
  {% if site.logo != null %}
          <img src="{{ vich_uploader_asset(site,'imageFile') }}" class="img-fluid mb-5" />
          {% else %}
            <h3>{{site.name}}</h3> {% endif %}       
                <h2 class="footer-heading mb-3">About Us</h2>
                <p>{{site.description}}</p>
          </div>
          <div class="col-lg-10 ml-auto">
            <div class="row">
              <div class="col-lg-2 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>

                   {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

<ul>
        {% for sub in item.subItems %}
           
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}" >{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li> <a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
                </ul>
              </div>
              {% if ((site.services)| length >0) %}
              <div class="col-lg-1 ml-auto">
                <h2 class="footer-heading mb-4">Services</h2>
                <ul class="list-unstyled">
                   {% for service in site.services %}
     
                   
                 
                <li><a href="#">{{service.name}}</a></li>

                   {% endfor %}
                </ul>
              </div>
              {% endif %}
               <div class="col-lg-3 ml-auto">
                <h2 class="footer-heading mb-4">Contact Informations</h2>
                <ul class="list-unstyled">

                 {% for footer in site.footers %}
                <li><a href="#">{{footer.adresse}}</a></li>
	                <li><a href="#">{{footer.phone}}</a></li>
	                <li><a href="#">{{footer.emailcontact}}</a></li>
                  {% endfor %}
                  </ul>
              </div>
              <div class="col-lg-5">
                <h2 class="footer-heading mb-4">Newsletter</h2>
                <form action="#" class="d-flex" class="subscribe">
                  <input type="text" class="form-control" placeholder="Email">
                  <input type="submit" value="Subscribe" class="btn btn-primary">
                </form>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart text-danger" aria-hidden="true"></i>  {{site.name}}
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>
    {% endif %}
{% endblock footer %}
{% block javascript %}
    <script src="{{asset('template2/js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery-migrate-3.0.0.js')}}"></script>
    <script src="{{asset('template2/js/popper.min.js')}}"></script>
    <script src="{{asset('template2/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('template2/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.sticky.js')}}"></script>
    <script src="{{asset('template2/js/jquery.waypoints.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.animateNumber.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.fancybox.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.stellar.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.easing.1.3.js')}}"></script>
    <script src="{{asset('template2/js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{asset('template2/js/aos.js')}}"></script>

    <script src="{{asset('template2/js/main.js')}}"></script>





    <script src="https://js.stripe.com/v3/"></script>


     <script type="text/javascript">
      // Create an instance of the Stripe object with your publishable API key
      var stripe = Stripe('pk_test_51IfYN7FoJvPd8QoJ5sFw5nsEVq9PTPVIzaI5H4bDD8q4AZe2JRbJHBNJ4Z9BaWAK8KVpb43kiFBloUhnf2AeWYQe00zeUHVmcT');
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch('/create-checkout-session', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });
    </script>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
 <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/froala_editor.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/align.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_beautifier.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_view.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/colors.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/draggable.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/emoticons.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_size.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_family.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image_manager.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/line_breaker.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/link.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/lists.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_format.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/video.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/table.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/url.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/entities.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/char_counter.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/inline_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/save.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/fullscreen.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/languages/ro.js')}}"></script>
<script>
    (function () {
      new FroalaEditor("#edit", {
        enter: FroalaEditor.ENTER_P,
        toolbarInline: false,
        initOnClick: false,
	

        toolbarButtons: [ ['bold', 'italic', 'underline', 'strikeThrough', 'textColor', 'backgroundColor'], ['paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent'], ['insertImage', 'insertLink','undo', 'redo'] ]
      })
    })()
  </script>
{% endblock  %}

