{% extends 'frontend/base_template2.html.twig' %}

    {% block title %} 
       Lists Topics    
    {% endblock title %}
    {% block stylesheet %}
    

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{asset('template2/fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{asset('template2/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/bootstrap-datepicker.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/jquery.fancybox.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/fonts/flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/aos.css')}}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{asset('template2/css/style.css')}}">

	<link rel="stylesheet" href="{{asset('assets/css/azzara.min.css')}}">
{% if site.logo != null %}
     <link href="{{vich_uploader_asset(site,'imageFile')}}" rel="icon">
  <link href="{{vich_uploader_asset(site,'imageFile')}}" rel="apple-touch-icon">
{% endif %}

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{asset('template4/assets/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/aos/aos.css')}}" rel="stylesheet">

  <style>
.navbar-right{
    padding-left:0px;
}
.site-footer{
    background-Color:#1B2631;

}

#but{
  margin-left:10px
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFAF0;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
}

.dropdown-content li {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
 .site-navbar{
    background-Color:#1B2631;

}
  </style>

    

 {% endblock stylesheet %}
{% block header %}
    
    

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="#">{{site.name}}</a>
              </div>
            </div>

            <div class="col-9  text-right">
              

              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>

              

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                    <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>
                 {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}" class="nav-link">FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}" class="nav-link">Blog</a> </li>
                {% if youdev_cms_forum(site) %}
                <li><a href="{{path('list_forum_front',{'id':site.id})}}" class="nav-link">Forum</a> </li>
                {% endif %}
                 {% if site.news|length >0 %}
                  <li><a href="{{path('list_news_front',{'name':site.name,'id':site.id})}}" class="nav-link">News</a> </li>
                {% endif %}

                  	 {% for menu in site.menus %}
                  {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                  <li  class="dropdown"><a href="#" class="">{{item.name}}</a>

<ul class="dropdown-content" role="listbox">
               {% for sub in item.subItems %}
               {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank" class="nav-link">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}"  class="nav-link">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}" class="nav-link">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               
	         
              </nav>
            </div>

            
          </div>
        </div>

      </header>

   {% endblock %}
    
{% block content %}
  


    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
            {% for topic in list_topics %}
          <div class="col-lg-12 col-md-12 mb-4">
            <div class="post-entry-1 h-100">
              <a href="#">
                
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="#">{{topic.titre}}</a></h2>
                <span class="meta d-inline-block mb-3">{{topic.createdat|date('M j,Y')}}<span class="mx-2">by</span> <a href="#">{{topic.createdby}}</a></span>
                
                <p>{{froala_display(topic.contenu)}}</p>

                <p>
                <a href="{{path('cms_view_messages_topic',{'id':topic.id,'ids':site.id})}}" class="btn btn-primary">View messages</a>
                </p>
              </div>
            </div>
          </div>
  {% endfor %}
 
      </div>
          <div class="navigation">
       {{ knp_pagination_render(list_topics) }}
                   </div> 
    </div>
 {% endblock content  %}   

  {% block footer %}
     {% if (site.footers|length) > 0 %}

  <br>
     <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
  {% if site.logo != null %}
          <img src="{{ vich_uploader_asset(site,'imageFile') }}" class="img-fluid mb-5" />
          {% else %}
            <h3>{{site.name}}</h3> {% endif %}       
                <h2 class="footer-heading mb-3">About Us</h2>
                <p>{{site.description}}</p>
          </div>
          <div class="col-lg-10 ml-auto">
            <div class="row">
              <div class="col-lg-2 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
          <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>

                   {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

<ul>
        {% for sub in item.subItems %}
           
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}" >{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li> <a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
                </ul>
              </div>
              {% if ((site.services)| length >0) %}
              <div class="col-lg-1 ml-auto">
                <h2 class="footer-heading mb-4">Services</h2>
                <ul class="list-unstyled">
                   {% for service in site.services %}
     
                   
                 
                <li><a href="#">{{service.name}}</a></li>

                   {% endfor %}
                </ul>
              </div>
              {% endif %}
               <div class="col-lg-3 ml-auto">
                <h2 class="footer-heading mb-4">Contact Informations</h2>
                <ul class="list-unstyled">
                 {% for footer in site.footers %}
                <li><a href="#">{{footer.adresse}}</a></li>
	                <li><a href="#">{{footer.phone}}</a></li>
	                <li><a href="#">{{footer.emailcontact}}</a></li>
                  {% endfor %}
                  </ul>
              </div>
              <div class="col-lg-5">
                <h2 class="footer-heading mb-4">Newsletter</h2>
                <form action="#" class="d-flex" class="subscribe">
                  <input type="text" class="form-control" placeholder="Email">
                  <input type="submit" value="Subscribe" class="btn btn-primary">
                </form>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart text-danger" aria-hidden="true"></i>  {{site.name}}
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>
    {% endif %}
{% endblock footer %}
{% block javascript %}
    <script src="{{asset('template2/js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery-migrate-3.0.0.js')}}"></script>
    <script src="{{asset('template2/js/popper.min.js')}}"></script>
    <script src="{{asset('template2/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('template2/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.sticky.js')}}"></script>
    <script src="{{asset('template2/js/jquery.waypoints.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.animateNumber.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.fancybox.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.stellar.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.easing.1.3.js')}}"></script>
    <script src="{{asset('template2/js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{asset('template2/js/aos.js')}}"></script>

    <script src="{{asset('template2/js/main.js')}}"></script>

{% endblock  %}

