{% extends 'frontend/base_template2.html.twig' %}

    {% block title %} 
       Messages Topic  
    {% endblock title %}
    {% block stylesheet %}
    

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{asset('template2/fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{asset('template2/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/bootstrap-datepicker.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/jquery.fancybox.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('template2/fonts/flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('template2/css/aos.css')}}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{asset('template2/css/style.css')}}">
    <link rel="stylesheet" href="{{ asset('assets2/dist/sweetalert2.min.css')}}">
{% if site.logo != null %}
     <link href="{{vich_uploader_asset(site,'imageFile')}}" rel="icon">
  <link href="{{vich_uploader_asset(site,'imageFile')}}" rel="apple-touch-icon">
{% endif %}

<link href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.min.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_editor.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/code_view.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/colors.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/emoticons.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image_manager.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/line_breaker.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/table.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/char_counter.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/video.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/fullscreen.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css')}}">
      <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/themes/dark.css')}}">



     <style>

.site-footer{
    background-Color:#1B2631;

}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFAF0;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
}

.dropdown-content li {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
 .site-navbar{
    background-Color:#1B2631;

}
  </style>

 {% endblock stylesheet %}
{% block header %}
    
    

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="#">{{site.name}}</a>
              </div>
            </div>

            <div class="col-9  text-right">
              

              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>

              

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>
                {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}" class="nav-link">FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}" class="nav-link">Blog</a> </li>
                 {% if youdev_cms_forum(site) %}
                <li><a href="{{path('list_forum_front',{'id':site.id})}}" class="nav-link">Forum</a> </li>
                {% endif %}
                 {% if site.news|length >0 %}
                  <li><a href="{{path('list_news_front',{'name':site.name,'id':site.id})}}" class="nav-link">News</a> </li>
                {% endif %}

                  	 {% for menu in site.menus %}
                      {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
     <li  class="dropdown"><a href="#" class="">{{item.name}}</a>

<ul class="dropdown-content" role="listbox">
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank" class="nav-link">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}"  class="nav-link">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}" class="nav-link">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

              
	          
              </nav>
            </div>

            
          </div>
        </div>

      </header>

   {% endblock %}
    
{% block content %}
  


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 blog-content">
          <H3><b>{{topic.titre}}</b></H3>
            <p class="lead">{{froala_display(topic.contenu)}}</p>


           


            <div class="pt-5">
              <h3 class="mb-5">{{topic.messagesTopics|length}} messages</h3>
              <ul class="comment-list">
              {% for message in list_messages %}
                <li class="comment">
                  <div class="vcard bio">
                  {% if message.users != null %}
                    <img src="{{asset('uploads/img/experts/')}}{{message.users.photoname}}">
                   {% else %}
                  <img src="{{asset('template2/images/guest.jfif')}}">
                 
                 {% endif %}
                  </div>
                  <div class="comment-body">
                    <h3>{{message.pseudo}}</h3>
                    <div class="meta"> {{message.createdat|date("D m,Y")}} at {{message.createdat|date("H:i")}}</div>
                    <p>	<div class="fr-view">
                        <p>{{froala_display(message.contenu)}}</p></div></p>
                        	{% if app.request.server.get("REMOTE_ADDR") == message.ip or ( app.user!= null and app.user.id == message.users.id) %}
                    <p><a class=" btn-sm btn-primary" id="{{message.id}}" onClick="swal({
  title: 'Are you sure!',
  text: 'you want to delete this message ?',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'yes, I confirm',
  cancelButtonText: 'No',
  confirmButtonClass: 'btn-success',
  cancelButtonClass: 'btn-danger',
  buttonsStyling: true
}).then(function () {
  swal(
    'Deleted',
    '{{ message.contenu}}',
    'success'
  ).then(function (){window.location.replace('{{path('cms_delete_message_topic',{'id':message.id,'idt':topic.id,'ids':site.id})}}')})
}, function (dismiss) {
  // dismiss can be 'cancel', 'overlay',
  // 'close', and 'timer'
  if (dismiss === 'cancel') {
    swal(
      'cancel',
      'No message deleted :)',
      'error'
    )
  }
})">Delete</a>
							  <a class="btn-sm btn-success" href="{{path('cms_update_message_form',{'id':message.id,'idt':topic.id,'ids':site.id})}}">Update</a></p>



                    {% endif %}
                  </div>
                </li>

               {% endfor %}
               
                  </ul>
               
 
                
            
              <!-- END comment-list -->
              
              <div class="comment-form-wrap pt-5">
              <div class="navigation">
            {{knp_pagination_render(list_messages)}}
               </div>
                </br>
                <h3 class="mb-5">Leave a message</h3>
                	{% if idc != 0 %}
			{% for messages in topic.messagesTopics %}
			{% if messages.id== idc %}
                <form method="POST" action="{{path('cms_update_message_topic',{'id':idc,'idt':topic.id,'ids':site.id})}}">
			  <div class="editor">
			  <div class="form-group">
                    <label for="message">Message</label>
			  <textarea id='edit' value="{{messages.contenu}}" name="contenu" class="form-control" rows="1" placeholder="What are you thinking?" style="margin-top: 0px; margin-bottom: 0px; height: 61px;">{{froala_display(messages.contenu)}}</textarea>
    </div>
            </div><br>    
               <div class="form-group">
                    <input type="submit" value="Update Comment" class="btn btn-primary">
                  </div>
               {% endif %}{% endfor %}
               {% else %}
               
               
               
                                                 {% if topic.messagestate== true %}

                <form action="{{path('cms_add_message_topic',{'id':topic.id,'ids':site.id})}}" method="post">
                 
                     <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" required class="form-control" name="name" placeholder="Your Name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" required class="form-control" name="email" placeholder="Your Email">
                  </div>
                  <div class="form-group">
                 <label for="email">Message</label>

                    <textarea name="contenu" required  id="edit" value="contenu" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="submit" value="Post Message" class="btn btn-primary">
                  </div>

                </form>
                {% else %}
                <h3 class="form-control">Messages are disabled</h3>

                {% endif %}

                {% endif %}
              </div>
            </div>

          </div>
         
          
        </div>
      </div>
    </div>

    
 {% endblock content  %}   

  {% block footer %}
     {% if (site.footers|length) > 0 %}

  <br>
     <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
  {% if site.logo != null %}
          <img src="{{ vich_uploader_asset(site,'imageFile') }}" class="img-fluid mb-5" />
          {% else %}
            <h3>{{site.name}}</h3> {% endif %}       
                <h2 class="footer-heading mb-3">About Us</h2>
                <p>{{site.description}}</p>
          </div>
          <div class="col-lg-10 ml-auto">
            <div class="row">
              <div class="col-lg-2 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>

                   {% for menu in site.menus %}
                  {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

<ul>
        {% for sub in item.subItems %}
           
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}" >{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li> <a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
                </ul>
              </div>
              {% if ((site.services)| length >0) %}
              <div class="col-lg-1 ml-auto">
                <h2 class="footer-heading mb-4">Services</h2>
                <ul class="list-unstyled">
                   {% for service in site.services %}
     
                   
                 
                <li><a href="#">{{service.name}}</a></li>

                   {% endfor %}
                </ul>
              </div>
              {% endif %}
               <div class="col-lg-3 ml-auto">
                <h2 class="footer-heading mb-4">Contact Informations</h2>
                <ul class="list-unstyled">
                 {% for footer in site.footers %}
                <li><a href="#">{{footer.adresse}}</a></li>
	                <li><a href="#">{{footer.phone}}</a></li>
	                <li><a href="#">{{footer.emailcontact}}</a></li>
                  {% endfor %}
                  </ul>
              </div>
              <div class="col-lg-5">
                <h2 class="footer-heading mb-4">Newsletter</h2>
                <form action="#" class="d-flex" class="subscribe">
                  <input type="text" class="form-control" placeholder="Email">
                  <input type="submit" value="Subscribe" class="btn btn-primary">
                </form>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart text-danger" aria-hidden="true"></i>  {{site.name}}
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>
    {% endif %}
{% endblock footer %}
{% block javascript %}
    <script src="{{asset('template2/js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery-migrate-3.0.0.js')}}"></script>
    <script src="{{asset('template2/js/popper.min.js')}}"></script>
    <script src="{{asset('template2/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('template2/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.sticky.js')}}"></script>
    <script src="{{asset('template2/js/jquery.waypoints.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.animateNumber.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.fancybox.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.stellar.min.js')}}"></script>
    <script src="{{asset('template2/js/jquery.easing.1.3.js')}}"></script>
    <script src="{{asset('template2/js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{asset('template2/js/aos.js')}}"></script>

    <script src="{{asset('template2/js/main.js')}}"></script>
 <script src="{{ asset('assets2/dist/sweetalert2.js')}}"></script>






    
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
 <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/froala_editor.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/align.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_beautifier.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_view.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/colors.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/draggable.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/emoticons.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_size.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_family.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image_manager.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/line_breaker.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/link.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/lists.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_format.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/video.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/table.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/url.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/entities.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/char_counter.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/inline_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/save.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/fullscreen.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/languages/ro.js')}}"></script>
<script>
    (function () {
      new FroalaEditor("#edit", {
        enter: FroalaEditor.ENTER_P,
        initOnClick: false,
		theme: 'dark',

        toolbarButtons: [ ['bold', 'italic', 'underline', 'strikeThrough', 'textColor', 'backgroundColor', 'emoticons'], ['paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent'], ['insertImage', 'insertLink', 'insertFile', 'insertVideo', 'undo', 'redo', 'insertTable', 'insertBlock'] ]
      })
    })()
  </script>

{% endblock  %}

