<html>
	<head>
		<title>{% trans %}Posts Lists{% endtrans %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{asset('assets3/css/main.css')}}" />
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{asset('assets/css/azzara.min.css')}}">

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link rel="stylesheet" href="{{asset('assets/css/demo.css')}}">

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.1.0/sweetalert2.min.css" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{{ asset('assets2/global/plugins/datatables/datatables.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets2/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets2/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{ asset('assets2/global/css/components-rounded.min.css')}}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{ asset('assets2/global/css/plugins.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{{ asset('assets2/layouts/layout/css/layout.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets2/layouts/layout/css/custom.min.css')}}" rel="stylesheet" type="text/css" />
          <link rel="stylesheet" href="{{ asset('assets2/dist/sweetalert2.min.css')}}">
	</head>
	
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="#">Youdev-it</a></h1>
          
            
        </header>

        <!-- Menu -->
       
<br>
        <!-- Main -->
        <div id="main">
        <br>
{% for art in list_art %}
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="{{path('cms_show_articles',{'id':art.id})}}">{{art.titre}}</a></h2>
                        <p>{{art.slug}}</p>
                        <p>
                        {% for ml in art.categories%}

                         <span class="badge badge-danger">{{ml.name}}</span>
                        {% endfor%}<p>
                    </div>
                    <div class="meta">
                        <time class="published" datetime="2015-11-01">{{art.created_at|date('M j,y')}}</time>
                        <a href="#" class="author"><span class="name">{{art.users.username}}</span><img src="{{asset('uploads/img/experts/')}}{{art.users.photoname}}" alt="" /></a>
                    </div>
                </header>
                <a href="{{path('cms_show_articles',{'id':art.id})}}" class="image featured"><img width="300" height="300" src="{{ vich_uploader_asset(art,'imageFile') }}" alt="" /></a>
                <p>{{art.contenu}}.</p>
                <footer>
                    <ul class="actions">
                        <li><a href="{{path('cms_show_articles',{'id':art.id})}}" class="btn btn-default">{% trans %}Continue Reading{% endtrans %}</a></li>
                    </ul>
                    <ul class="stats">
                        <li><a href="#" class="icon solid fa-comment">{{art.commentaire|length}}</a></li>
                    </ul>
                </footer>
            </article>
{% endfor %}
 

            <!-- Pagination -->
            <ul class="actions pagination">
                <div class="navigation">
                {{knp_pagination_render(list_art)}}
                </div>
            </ul>

        </div>

        <!-- Sidebar -->
        <section id="sidebar">

            <!-- Intro -->
            <section id="intro">
            <br>
                <header>
                    <h2>{% trans %}Categories Lists{% endtrans %} </h2>
                    <p> {% trans %}find another posts by categories{% endtrans %}</p>
                </header>
            </section>

            <!-- Mini Posts -->
            <section>
                <div class="mini-posts">
                   {% for cat in list_cat %}
                    <!-- Mini Post -->
                    <article class="mini-post">
                        <header>
                            <h3><a href="{{path('cms_show_categories',{'id':cat.id})}}">{{cat.name}}</a></h3>
                            <time class="published" datetime="2015-10-20">{{cat.created_at|date("M d ,Y")}}</time>
                            <a href="#" class="author">{{cat.createdby}}</a>
                        </header>
                    </article>

                   <div class="navigation">
                {{knp_pagination_render(list_cat)}}
                </div>
                    {% endfor %}
                    

                    

                </div>
            </section>

        

            <!-- About -->
           

        </section>

    </div>


 
 <script src="{{asset('assets3/js/jquery.min.js')}}"></script>
			<script src="{{asset('assets3/js/browser.min.js')}}"></script>
			<script src="{{asset('assets3/js/breakpoints.min.js')}}"></script>
			<script src="{{asset('assets3/js/util.js')}}"></script>
			<script src="{{asset('assets3/js/main.js')}}"></script>
 
 	</body>
</html>