 <link href="{{asset('assets4/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ asset('assets4/css/style.css')}}" rel="stylesheet">
 
<link rel="stylesheet" href="{{ asset('assets5/css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/elegant-icons.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/nice-select.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/magnific-popup.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/jquery-ui.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/slicknav.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/style.css')}}" type="text/css">


<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>{{site.name}}</h3>
            <p>
            {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
             {{footer.adresse}}<br><br>
              <strong>Phone:</strong> {{footer.phone}}<br>
              <strong>Email:</strong>{{footer.emailcontact}}<br>
              {% endfor %}
              {% endif %}
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
                 {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

<ul>
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><i class="bx bx-chevron-right"></i> <a href="{{ path('cms_view_page',{'id':sub.url_page.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><i class="bx bx-chevron-right"></i> <a href="https://{{sub.url}}" target="_blank">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('cms_view_page',{'id':item.url_page.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><i class="bx bx-chevron-right"></i> <a href="https://{{item.url}}" >{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><i class="bx bx-chevron-right"></i> <a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li><i class="bx bx-chevron-right"></i> <a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
            </ul>
          </div>

         

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Join Us to make new experinece</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>{{site.name}}</span></strong>. All Rights Reserved
        </div>
       
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
      {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
      {% if footer.linktwitter != null %}
        <a href="{{footer.linktwitter}}" class="twitter"><i class="bx bxl-twitter"></i></a>
        {% endif %}
        {% if footer.linkfacebook != null %}
        <a href="{{footerlinkfacebook}}" class="facebook"><i class="bx bxl-facebook"></i></a>
        {% endif %}
        {% if footer.linklinkedin != null %}
        <a href="{{footer.linklinkedin}}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        {% endif %}
        {% if footer.linkgithub != null %}
        <a href="{{footer.linkgithub}}" class="github"><i class="bx bxl-github"></i></a>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </footer>