{% extends 'frontend/base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}


	<link rel="stylesheet" href="{{asset('assets/css/azzara.min.css')}}">

  <!-- Favicons -->
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{asset('assets4/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ asset('assets4/css/style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets5/css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/elegant-icons.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/nice-select.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/magnific-popup.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/jquery-ui.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/slicknav.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/style.css')}}" type="text/css">
  
  <style>

 .navbar-right{
    margin-left:330px;
   }

</style>

<!-- End Google Tag Manager -->


{% endblock %}
 {% block menu_site %}



   {% if site.logo != null %}
      <h1 class="logo mr-auto"> <a href="#" class="logo mr-auto"><img  width="100" src="{{ vich_uploader_asset(site,'imageFile') }}" alt="" /></a>
</h1>

{% else %}
 <h1 class="logo mr-auto">{{site.name}}</h1>{% endif %}
      <!-- Uncomment below if you prefer to use an image logo -->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
                       <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>



              {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
                {% if youdev_cms_forum(site) %}
                <li><a href="{{path('list_forum_front',{'id':site.id})}}">Forum </a> </li>
                 {% endif %}
                   {% if site.news|length >0 %}
                <li><a href="{{path('list_news_front',{'name':site.name,'id':site.id})}}">News </a> </li>
                 {% endif %}
          {% for menu in site.menus %}
          {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

           <ul>
          {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}" >{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

              
 <form class="navbar-right" method="get" action="{{path('cms_search_page',{'id':site.id})}}">
							<div class="input-group">
								<div class="input-group-prepend">
									
								</div>
								<input type="text" placeholder="Search ..." class="form-control" name="search">
                                <button type="submit" class="btn btn-search pr-1">
	<font color="black"><i class="fa fa-search search-icon"></i></font>
									</button>
							</div>
						</form>
            </ul>

      </nav><!-- .nav-menu -->


   <!-- End Header -->


    {%   endblock %}

    {% block content %}
   {% if page != null %}




 {% if page.headers|length >0 %}
    {% for header in page.headers %}
  <div class="ftco-blocks-cover-1">
      <div class="site-section-cover " data-stellar-background-ratio="0.5" style="background-image: url('{{vich_uploader_asset(header,'imageFile')}}')">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10">
             <br>
            {{froala_display(header.titre)}}
            <br>
               <p>  {{froala_display(header.contenu)}}   </p>
            </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>







    {% endfor %}
    {% endif %}
    {% if page.content != null %}
<section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

            <br>           
       <div id="accordion" class="accordion-secondary">
		 <br>  
      
	<div class="card">
    {{ froala_display(page.content) }}
	
	</div>               
            
              <br>
     	
              
               </div> </div>
          
     
    </section>
{% endif %}
  {% if page.teamMembres|length >0 %}
  
 <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team & Membre</h2>
        </div>

        <div class="owl-carousel testimonials-carousel">
       {% for team in page.teamMembres %}
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{team.description}}             
             <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{{vich_uploader_asset(team,'imageFile')}}" width="80" height="80" class="testimonial-img" alt="">
            {{froala_display(team.name)}}
           {{froala_display(team.metier)}}
          </div>

         {% endfor %}

        </div>

      </div>
    </section>

{% endif %}

{% if page.pricings|length >0 %}

 <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
        </div>

        <div class="row">
{% for pricing in page.pricings %}
          <div class="col-lg-4 col-md-6 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3><img src="{{vich_uploader_asset(pricing,'imageFile')}}" width="300" height="250"></h3>
              <h4><sup>$</sup>{{pricing.prix}}<span> / {{pricing.type}}</span></h4>
             
               {{froala_display(pricing.options)}}
             
              <div class="btn-wrap">
                   <button id="checkout-button">Buy Now</button>
 
              </div>
            </div>
          </div>

         

         {% endfor %}

        </div>

      </div>
    </section>
{% endif %}
{% if page.features|length >0 %}
<section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Features</h2>
        </div>

        <div class="row">
        {% for feature in page.features %}
          <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="{{vich_uploader_asset(feature,'imageFile')}}"></div>
              <h4 class="title">{{feature.titre}}</h4>
              <p class="description">{{froala_display(feature.description)}}</p>
            </div>
          </div>

          {% endfor %}

          

        </div>

      </div>
    </section>
    {% endif %}


{% if page.ImageVideos|length >0 %}    
<section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Image & Videos</h2>
        </div>
        <div class="row">
        {% for imgvideo in page.ImageVideos %}
          <div class="col-lg-12 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
           {{froala_display(imgvideo.content)}}
          </div>
          
        </div>
{% endfor %}
      </div>
    </section>
{% endif %}








    {% if page.pageServices|length >0 %}
 <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
        </div>

        <div class="row">
        {% for service in page.pageServices %}
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="{{vich_uploader_asset(service,'imageFile')}}"></div>
              <h4 class="title"><a href="">{{service.name}}</a></h4>
              <p class="description">{{service.description}}</p>
            </div>
          </div>

         
{% endfor %}

         

        </div>

      </div>
    </section>


{% endif %}

{% if page.galleries|length >0 %}
 <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
        </div>

      
        <div class="row portfolio-container">
         {% for gallery in page.galleries %}
                  {% for image in gallery.images %}

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ asset('/upload/'~ image.name) }}" height="200" width="200" alt="">
              <div class="portfolio-info">
              
                <div class="portfolio-links">
                  <a href="{{ asset('/upload/'~ image.name) }}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
  {% endfor %}
        {% endfor %}  

         


        

          

        </div>

      </div>
    </section>

{% endif %}
{% if page.contacts|length >0 %}
 <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>
      
        <div class="row">
          {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h5>Location:</h5>
                <p>{{footer.adresse}}</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h5>Email:</h5>
                <p>{{footer.emailcontact}}</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h5>Phone:</h5>
                <p>{{footer.phone}}</p>
              </div>

            </div>

          </div>
          {% endfor %}
          {% endif %}
          <div class="col-lg-8 ">
          {% for label, messages in app.flashes('messagesent',[]) %}
                        {% for message in messages %}
                            <div class="alert alert-success flash-notice ">
                                {{ message }}
                            </div>
                         {% endfor %}
                        {% endfor %}
            <form action="{{path('send_mail',{'id':page.id,'ids':site.id})}}" method="post" >
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" required/>
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" required />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
			  <textarea id='edit'  name="message" class="form-control" rows="10" ></textarea>
                <div class="validate"></div>
              </div>
             
              <div class="text-center"><button type="submit" class="btn btn-primary">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
{% endif %}































{% endif %}

<!-- Messenger Plug-in Discussion Code -->
   <!-- Messenger Plug-in Discussion Code -->
    
 <br>
    <!-- Blog Section Begin -->
    {% if (list_art|length >0) %}
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                {% for art in list_art %}
                    <div class="blog__item">
                        <div class="blog__item__img">
                            <img src="{{ vich_uploader_asset(art,'imageFile') }}"  width="80" height="300" alt="">
                        </div>
                        <div class="blog__item__text">
                            <h3><a href="./blog-details.html">{{art.titre}}</a></h3>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>  {{art.created_at|date('M j,y')}}</li>
                                <li><i class="fa fa-user"></i>{{art.users.username}}</li>
                            </ul>
                            <p>{{art.contenu}}</p>
                            <a href="{{path('cms_article_read_more',{'id':art.id,'ids':site.id})}}" class="btn btn-default">Continue Reading <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                 
                  <div class="navigation">
       {{ knp_pagination_render(list_art) }}
                   </div>
 
                </div>
              
            </div>
        </div>
    </section>
{% endif %}
 

  

     

        

            <!-- About -->
           

       {% if (faqs|length >0) %}
    <section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
      <h2>Find Answer for your questions here</h2>
      <img src="{{ asset('assets4/img/hero-img.png')}}" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
    </div>

  </section>
<section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>
            <br>           
       <div id="accordion" class="accordion-secondary">
		 <br>  
       {% for faq in faqs %}
	<div class="card">

		<div class="card-header" id="headingOne{{faq.id}}" data-toggle="collapse" data-target="#collapseOne{{faq.id}}" aria-expanded="true" aria-controls="collapseOne">
			<div class="span-icon">
			</div>
			<div class="span-title">
              {{faq.question}}
           </div>
			<div class="span-mode"></div>
		</div>

		<div id="collapseOne{{faq.id}}" class="collapse show" aria-labelledby="headingOne{{faq.id}}" data-parent="#accordion">
			<div class="card-body">
				{{faq.reponse}}
			</div>
		</div>
	</div>               
      {% endfor %}             
              <br>
      <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div class="navigation">
       {{ knp_pagination_render(faqs) }}
                   </div>
        </div></div>	
              
               </div> </div>
          
     
    </section>





    <!-- Messenger Plug-in Discussion Code -->
    
{% endif %}
    {%   endblock %}



    {% block footer %}
     {% if (site.footers|length) > 0 %}

  <br>

<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
          {% if site.logo != null %}
          <img src="{{ vich_uploader_asset(site,'imageFile') }}" width="70" />
          {% else %}
            <h3>{{site.name}}</h3>
            {% endif %}
            <p>
            {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
             {{footer.adresse}}<br><br>
              <strong>Phone:</strong> {{footer.phone}}<br>
              <strong>Email:</strong>{{footer.emailcontact}}<br>
              {% endfor %}
              {% endif %}
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
                 {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><i class="bx bx-chevron-right"></i><a href="">{{item.name}}</a>

<ul>
        {% for sub in item.subItems %}
           
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><i class="bx bx-chevron-right"></i> <a href="https://{{item.url}}" >{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><i class="bx bx-chevron-right"></i> <a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li><i class="bx bx-chevron-right"></i> <a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
            </ul>
          </div>
          {% if((site.services)|length >0) %}
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Services</h4>
            <ul>
                 {% for service in site.services %}
       
                <li><i class="bx bx-chevron-right"></i> <a href="#">{{service.name}}</a> </li>
                {% endfor %}
            </ul>
          </div>
          {% endif %}
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Join Us to make new experinece</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>{{site.name}}</span></strong>. All Rights Reserved
        </div>
       
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
      {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
      {% if footer.linktwitter != "" %}
        <a href="https://{{footer.linktwitter}}" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
        {% endif %}
        {% if footer.linkfacebook != "" %}
        <a href="https://{{footer.linkfacebook}}" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
        {% endif %}
        {% if footer.linklinkedin != "" %}
        <a href="https://{{footer.linklinkedin}}" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
        {% endif %}
        {% if footer.linkgithub != "" %}
        <a href="https://{{footer.linkgithub}}" class="github" target="_blank"><i class="bx bxl-github"></i></a>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </footer>





   {% endif %}





    {%   endblock %}







    {% block javascripts %}

 <script src="{{asset('assets4/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{asset('assets4/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/venobox/venobox.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('assets4/js/main.js')}}"></script>

    {%   endblock %}