{% extends 'frontend/base.html.twig' %}

{% block title %}Messages Topic{% endblock %}
{% block stylesheets %}


	<link rel="stylesheet" href="{{asset('assets/css/azzara.min.css')}}">

  <!-- Favicons -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{asset('assets4/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ asset('assets4/css/style.css')}}" rel="stylesheet">
           <link rel="stylesheet" href="{{ asset('assets2/dist/sweetalert2.min.css')}}">

<link rel="stylesheet" href="{{ asset('assets5/css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/elegant-icons.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/nice-select.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/magnific-popup.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/jquery-ui.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/slicknav.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/style.css')}}" type="text/css">
<style>
#bgi{
    background-image:"{{ asset('assets5/img/breadcrumb/breadcrumb-bg.jpg')}}"
}


</style>

	<link rel="stylesheet" href="{{asset('assets/css/azzara.min.css')}}">



<link href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.min.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_editor.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/code_view.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/colors.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/emoticons.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image_manager.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/line_breaker.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/table.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/char_counter.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/video.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/fullscreen.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css')}}">
      <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/themes/dark.css')}}">

  
  
  	<link rel="stylesheet" href="{{asset('assets/css/demo.css')}}">

  




     <style>
    #home{
    margin-left: 50px;
    }
body{margin-top:20px;}

.content-item {
    padding:30px 0;
	background-color:#FFFFFF;
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight:400;
	font-size:20px;
	color:#555555;
	margin:10px 0 15px;
	padding:0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#FFFFFF;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#F0F0F0;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}


#comments {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}

#comments form {
	margin-bottom:30px;
}

#comments .btn {
	margin-top:7px;
}

#comments form fieldset {
	clear:both;
}

#comments form textarea {
	height:100px;
}

#comments .media {
	border-top:1px dashed #DDDDDD;
	padding:20px 0;
	margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
	max-width:80px;
}

#comments .media h4 {
	margin:0 0 10px;
}

#comments .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#comments .media p {
	margin-bottom:15px;
	text-align:justify;
}

#comments .media-detail {
	margin:0;
}

#comments .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}

#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments .media-detail li:last-child {
	padding-right:0;
}

#comments .media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
}

textarea {
  resize: none;
    padding-left: 0px;

}
.pull-left2 {
  margin-left: 50px;
  margin-top:5px;
  padding-right:0px;
}
div#editor {
      width: 50%;
      margin: auto;
      text-align: center;
    }
.navbar-right{
    margin-left:330px;
   }
    </style>
{% endblock %}

 {% block menu_site %}




   
   {% if site.logo != null %}
      <h1 class="logo mr-auto"> <a href="#" class="logo mr-auto"><img  width="100" src="{{ vich_uploader_asset(site,'imageFile') }}" alt="" /></a>
</h1>

{% else %}
 <h1 class="logo mr-auto">{{site.name}}</h1>{% endif %}
      <!-- Uncomment below if you prefer to use an image logo -->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
                <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>
                {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
                                {% if youdev_cms_forum(site) %}

                <li><a href="{{path('list_forum_front',{'id':site.id})}}">Forum </a> </li>
                {% endif %}
                  {% if site.news|length >0 %}
                <li><a href="{{path('list_news_front',{'name':site.name,'id':site.id})}}">News </a> </li>
                 {% endif %}

        {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

                <ul>
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}" >{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               
 <form class="navbar-right" method="get" action="{{path('cms_search_page',{'id':site.id})}}">
							<div class="input-group">
								<div class="input-group-prepend">
									
								</div>
								<input type="text" placeholder="Search ..." class="form-control" name="search">
                                <button type="submit" class="btn btn-search pr-1">
	<font color="black"><i class="fa fa-search search-icon"></i></font>
									</button>
							</div>
						</form>
            </ul>

      </nav><!-- .nav-menu -->


   <!-- End Header -->

 
    {%   endblock %}

    {% block content %}
<br>
<br>
<br>
<div class="container bootstrap snippet">
<br>
  <div class="card">
	<div class="card-body">
		<h5 class="card-title mb-2 "><b>{{topic.titre}}</b></h5>

		<p class="card-text">{{froala_display(topic.contenu)}}</p>
        		
               
        
	</div>          		<li class="fa fa-tags"> posted by:{{topic.createdby}}</li>
</div>
	<div class="panel">
  <div class="panel-body">
    
  </div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="content-item" id="comments">
    <div class="container">   
    	<div class="row">

            <div class="col-sm-8"> 
			{% if idc != 0 %}
			{% for message in list_messages %}
			{% if message.id == idc %}
			  <form method="POST" action="{{path('cms_update_message_topic',{'id':idc,'idt':topic.id,'ids':site.id})}}">
      
			  <div class="editor">
			  
			  <textarea id='edit' value="{{message.contenu}}" name="contenu" class="form-control input-pill" rows="1" placeholder="What are you thinking?" style="margin-top: 0px; margin-bottom: 0px; height: 61px;">{{froala_display(message.contenu)}}</textarea>
    </div>
	
	<div class="mar-top clearfix">
      <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Update</button>
     {% endif %}     {% endfor %}
	      {% else %}

                   {% if topic.messagestate == true %}

<form method="POST" action="{{path('cms_add_message_topic',{'id':topic.id,'ids':site.id})}}">
<div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text"  required class="form-control" placeholder="input your name" name="name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email"  required class="form-control"  placeholder="input your email" name="email">
                  </div>
			  <div class="editor">
			                      <label for="email">Message</label>

			  <textarea id='edit'  name="contenu" class="form-control input-pill" rows="1" placeholder="What are you thinking?" style="margin-top: 0px; margin-bottom: 0px; height: 61px;"></textarea>
    </div>
	
	<div class="mar-top clearfix">
      <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Post Message</button>

		      
    </div></form>
    {% else %}

<h2> messages are disabled</h2>

     {% endif %}
      {% endif %}
                <br><br>
                <h3>{{topic.messagesTopics|length}} message</h3>
                {% for message in list_messages %}
                <!-- COMMENT 1 - START -->
                <div class="media">
                {% if message.users != null %}
                    <img src="{{asset('uploads/img/experts/')}}{{message.users.photoname}}" class="pull-left" >
                   {% else %}
                  <img src="{{asset('template2/images/guest.jfif')}}" class="pull-left" >
                 
                 {% endif %}
                   
                    <div class="media-body">
                        <h4 class="media-heading">{{message.pseudo}}</h4>
					               <div class="fr-view">
                        <p>{{froala_display(message.contenu)}}</p></div>
                        <ul class="list-unstyled list-inline media-detail pull-left">
                            <li><i class="fa fa-calendar"></i>{{message.createdat|date("d/m/y")}}
							{% if app.request.server.get("REMOTE_ADDR") == message.ip  or ( app.user!= null and app.user.id == message.users.id) %}
							 <a class="btn btn-sm btn-danger" id="{{message.id}}" onClick="swal({
  title: 'Are you sure!',
  text: 'you want to delete this message ?',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'yes, I confirm',
  cancelButtonText: 'No',
  confirmButtonClass: 'btn-success',
  cancelButtonClass: 'btn-danger',
  buttonsStyling: true
}).then(function () {
  swal(
    'Deleted',
    '{{ message.contenu}}',
    'success'
  ).then(function (){window.location.replace('{{path('cms_delete_message_topic',{'id':message.id,'idt':topic.id,'ids':site.id})}}')})
}, function (dismiss) {
  // dismiss can be 'cancel', 'overlay',
  // 'close', and 'timer'
  if (dismiss === 'cancel') {
    swal(
      'cancel',
      'No message deleted :)',
      'error'
    )
  }
})">Delete</a>
							  <a class="btn btn-sm btn-default" href="{{path('cms_update_message_form',{'id':message.id,'idt':topic.id,'ids':site.id})}}">Update</a>
							  {% endif %}</li>
                        </ul>
                       
                    </div>
                </div>
                 {% endfor %}
      
                </div>
                <!-- COMMENT 4 - END -->
            
            </div>
        </div>

       <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div class="navigation">
       {{ knp_pagination_render(list_messages) }}
                   </div>
        </div></div>
    </div>
</section>
    {%   endblock %}



    {% block footer %}
   {% if (site.footers|length) > 0 %}

  <br>

<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
          {% if site.logo != null %}
          <img src="{{ vich_uploader_asset(site,'imageFile') }}" width="70" />
          {% else %}
            <h3>{{site.name}}</h3>
            {% endif %}
            <p>
            {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
             {{footer.adresse}}<br><br>
              <strong>Phone:</strong> {{footer.phone}}<br>
              <strong>Email:</strong>{{footer.emailcontact}}<br>
              {% endfor %}
              {% endif %}
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
                 {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><i class="bx bx-chevron-right"></i><a href="">{{item.name}}</a>

<ul>
        {% for sub in item.subItems %}
           
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><i class="bx bx-chevron-right"></i> <a href="https://{{item.url}}" >{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><i class="bx bx-chevron-right"></i> <a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li><i class="bx bx-chevron-right"></i> <a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
            </ul>
          </div>

           {% if((site.services)|length >0) %}
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Services</h4>
            <ul>
                 {% for service in site.services %}
       
                <li><i class="bx bx-chevron-right"></i> <a href="#">{{service.name}}</a> </li>
                {% endfor %}
            </ul>
          </div>
          {% endif %}

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Join Us to make new experinece</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>{{site.name}}</span></strong>. All Rights Reserved
        </div>
       
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
    {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
      {% if footer.linktwitter != "" %}
        <a href="https://{{footer.linktwitter}}" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
        {% endif %}
        {% if footer.linkfacebook != "" %}
        <a href="https://{{footer.linkfacebook}}" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
        {% endif %}
        {% if footer.linklinkedin != "" %}
        <a href="https://{{footer.linklinkedin}}" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
        {% endif %}
        {% if footer.linkgithub != "" %}
        <a href="https://{{footer.linkgithub}}" class="github" target="_blank"><i class="bx bxl-github"></i></a>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </footer>





   {% endif %}
    {%   endblock %}







    {% block javascripts %}
 <script src="{{ asset('assets2/dist/sweetalert2.js')}}"></script>

 <script src="{{asset('assets4/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{asset('assets4/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/venobox/venobox.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('assets4/js/main.js')}}"></script>







<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
 <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/froala_editor.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/align.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_beautifier.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_view.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/colors.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/draggable.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/emoticons.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_size.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_family.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image_manager.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/line_breaker.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/link.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/lists.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_format.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/video.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/table.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/url.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/entities.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/char_counter.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/inline_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/save.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/fullscreen.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/languages/ro.js')}}"></script>
<script>
    (function () {
      new FroalaEditor("#edit", {
        initOnClick: false,
		theme: 'dark',

        toolbarButtons: [ ['bold', 'italic', 'underline', 'strikeThrough', 'textColor', 'backgroundColor', 'emoticons'], ['paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent'], ['insertImage', 'insertLink', 'insertFile', 'insertVideo', 'undo', 'redo'] ]
      })
    })()
  </script>
    {%   endblock %}