{% extends 'frontend/base.html.twig' %}

{% block title %}FAQ{% endblock %}
{% block stylesheets %}


	<link rel="stylesheet" href="{{asset('assets/css/azzara.min.css')}}">

  <!-- Favicons -->
  <link href="{{asset('assets4/img/favicon.png')}}" rel="icon">
  <link href="{{asset('assets4/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{asset('assets4/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{asset('assets4/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ asset('assets4/css/style.css')}}" rel="stylesheet">




<link rel="stylesheet" href="{{ asset('assets5/css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/elegant-icons.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/nice-select.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/magnific-popup.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/jquery-ui.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/slicknav.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets5/css/style.css')}}" type="text/css">
 <style>

 .navbar-right{
    margin-left:330px;
   }

</style>

{% endblock %}
 {% block menu_site %}




 
   {% if site.logo != null %}
      <h1 class="logo mr-auto"> <a href="#" class="logo mr-auto"><img  width="100" src="{{ vich_uploader_asset(site,'imageFile') }}" alt="" /></a>
</h1>

{% else %}
 <h1 class="logo mr-auto">{{site.name}}</h1>{% endif %}
      <!-- Uncomment below if you prefer to use an image logo -->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
            <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>
            {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
                                {% if youdev_cms_forum(site) %}

                <li><a href="{{path('list_forum_front',{'id':site.id})}}">Forum </a> </li>
                {% endif %}
                  {% if site.news|length >0 %}
                <li><a href="{{path('list_news_front',{'name':site.name,'id':site.id})}}">News </a> </li>
                 {% endif %}


                 {% for menu in site.menus %}
                 {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

          <ul>
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}" >{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               
 <form class="navbar-right" method="get" action="{{path('cms_search_page',{'id':site.id})}}">
							<div class="input-group">
								<div class="input-group-prepend">
									
								</div>
								<input type="text" placeholder="Search ..." class="form-control" name="search">
                                <button type="submit" class="btn btn-search pr-1">
	<font color="black"><i class="fa fa-search search-icon"></i></font>
									</button>
							</div>
						</form>
            </ul>

      </nav><!-- .nav-menu -->


   <!-- End Header -->

 
    {%   endblock %}

    {% block content %}

<section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
      <h2>Find Answer for your questions here</h2>
      <img src="{{ asset('assets4/img/hero-img.png')}}" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
    </div>

  </section>
<section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>
            <br>           
       <div id="accordion" class="accordion-secondary">
		 <br>  
       {% for faq in faqs %}
	<div class="card">

		<div class="card-header" id="headingOne{{faq.id}}" data-toggle="collapse" data-target="#collapseOne{{faq.id}}" aria-expanded="true" aria-controls="collapseOne">
			<div class="span-icon">
			</div>
			<div class="span-title">
              {{faq.question}}
           </div>
			<div class="span-mode"></div>
		</div>

		<div id="collapseOne{{faq.id}}" class="collapse show" aria-labelledby="headingOne{{faq.id}}" data-parent="#accordion">
			<div class="card-body">
				{{faq.reponse}}
			</div>
		</div>
	</div>               
      {% endfor %}             
              <br>
      <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div class="navigation">
       {{ knp_pagination_render(faqs) }}
                   </div>
        </div></div>	
              
               </div> </div>
          
     
    </section>










    {%   endblock %}



    {% block footer %}
      {% if (site.footers|length) > 0 %}

  <br>

<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
          {% if site.logo != null %}
          <img src="{{ vich_uploader_asset(site,'imageFile') }}" width="70" />
          {% else %}
            <h3>{{site.name}}</h3>
            {% endif %}
            <p>
            {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
             {{footer.adresse}}<br><br>
              <strong>Phone:</strong> {{footer.phone}}<br>
              <strong>Email:</strong>{{footer.emailcontact}}<br>
              {% endfor %}
              {% endif %}
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
                 {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><i class="bx bx-chevron-right"></i><a href="">{{item.name}}</a>

<ul>
        {% for sub in item.subItems %}
           
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><i class="bx bx-chevron-right"></i> <a href="https://{{item.url}}" >{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><i class="bx bx-chevron-right"></i> <a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li><i class="bx bx-chevron-right"></i> <a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
            </ul>
          </div>

           {% if((site.services)|length >0) %}
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Services</h4>
            <ul>
                 {% for service in site.services %}
       
                <li><i class="bx bx-chevron-right"></i> <a href="#">{{service.name}}</a> </li>
                {% endfor %}
            </ul>
          </div>
          {% endif %}

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Join Us to make new experinece</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>{{site.name}}</span></strong>. All Rights Reserved
        </div>
       
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
     {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
      {% if footer.linktwitter != "" %}
        <a href="https://{{footer.linktwitter}}" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
        {% endif %}
        {% if footer.linkfacebook != "" %}
        <a href="https://{{footer.linkfacebook}}" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
        {% endif %}
        {% if footer.linklinkedin != "" %}
        <a href="https://{{footer.linklinkedin}}" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
        {% endif %}
        {% if footer.linkgithub != "" %}
        <a href="https://{{footer.linkgithub}}" class="github" target="_blank"><i class="bx bxl-github"></i></a>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </footer>





   {% endif %}
    {%   endblock %}







    {% block javascripts %}

 <script src="{{asset('assets4/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{asset('assets4/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/venobox/venobox.min.js')}}"></script>
  <script src="{{asset('assets4/vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('assets4/js/main.js')}}"></script>





  

    {%   endblock %}