<!DOCTYPE html>
<html lang="en">

<head>
<title>{% block title %} {% endblock %}</title>
{% block stylesheet %}
{% endblock %}
</head>

<body>
{% block header %}
 {% endblock  %}
 
  {% block content %}
 
{% endblock %}
 {% block footer %}
 

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>
{% endblock %}
  {% block  javascript %}
 {% endblock %}

</body>

</html>