<!DOCTYPE html>
<html lang="zxx">

<head>
<title>{% block title %} {% endblock %}</title>
{% block stylesheet %} 
    {% endblock  %} 
</head>

<body>
 {% block header %}



{% endblock %}
  {% block content %}
  {% endblock %}
  {% block footer %}
  {% endblock %}
 
{% block javascript %}
{% endblock %}
</body>

</html>