<!DOCTYPE html>
<html lang="en">
  <head>
    <title{% block title %}{% endblock %}</title>
   {% block stylesheet %}
   {% endblock %}
  </head>
  <body>

    {% block nav %}		
	{% endblock %}
   {% block content %}



    {% endblock %}

   {% block footer %}
    


  
  {% endblock %}

  {% block javascript %}


  {% endblock %}
    
  </body>
</html>