<!DOCTYPE html>
<html lang="en">

<head>
  

  <title>{% block title %}{% endblock %}</title>
 

   {% block stylesheets %}
   {% endblock %}
</head>

<body>
<!-- Messenger Plug-in Discussion Code -->
  
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

    {% block menu_site %}
    {%   endblock %}

    </div>
  </header><!-- End Header -->


  <main id="main">

   {% block content %}
   {% endblock %}

</main>
    <!-- ======= Features Section ======= -->
    <!-- End Features Section -->

    <!-- ======= Steps Section ======= -->
  
   

   

    

  

   
 

   

  <!-- ======= Footer ======= -->
  <footer id="footer">
{% block footer %}



{% endblock %}
</footer>
  <!-- Vendor JS Files -->
   {% block javascripts %}

   {% endblock %}
</body>

</html>