<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title%}{% endblock %}</title>
{{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
	<link rel="stylesheet" href="{{asset('/build/app.css')}}">
 
     {% endblock %}
  
<style>
#zzzz{
	color: #fff;
	margin-right: 5px;
}
#cdcd{
margin-left: 0px;
margin-right: 10px;

}
#cdcd2{
margin-left: 0%;
margin-right: 100px;

}
#tlfe{
	margin-left: 2px;
}
.ddddd{
	margin-left: 2px;
}
</style>
</head>
<body>
	<!-- Messenger Plug-in Discussion Code -->
   
	<div class="wrapper" >
		<!--
			Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
		-->
		<div class="main-header" data-background-color="purple" id="youdev">
			<!-- Logo Header -->
			<div class="logo-header">
				
				<a href="{{path('index')}}" class="logo">
					<font color="white">Yoodev-it CMS</font>
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="fa fa-bars"></i>
					</span>
				</button>
				<button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
				<div class="navbar-minimize">
					<button class="btn btn-minimize btn-rounded">
						<i class="fa fa-bars"></i>
					</button>
				</div>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg" >
				
				<div class="container-fluid">
					<div class="collapse" id="search-nav">
						<form class="navbar-left navbar-form nav-search mr-md-2">
							<div class="input-group">
								<div class="input-group-prepend">
									<button type="submit" class="btn btn-search pr-1">
										<i class="fa fa-search search-icon"></i>
									</button>
								</div>
								<input type="text" placeholder="Search ..." class="form-control">
							</div>
						</form>
					</div>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                     
						<li class="nav-item toggle-nav-search hidden-caret">
							<a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
								<i class="fa fa-search"></i>
							</a>
						</li>
					
						<li class="nav-item">
							<font color="white">
						<a class=" profile-pic btn btn-primary" id="zzzz"  href="{{path('cms_UserInvit_index')}}" aria-expanded="false">
				          {% trans %}User Invit{% endtrans %}
							</a>
						</font></li>
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item" >
							<font color="white">
						<a class="btn btn-default"  id="cdcd" href="{{path('cms_users_list')}}" aria-expanded="false">
				          {% trans %}User List{% endtrans %}
							</a>
						</font></li>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item" >
							<font color="white">
						<a  class="btn btn-default" id="cdcd2"  href="{{path('cms_list_themes')}}" aria-expanded="false">
				          {% trans %}Themes{% endtrans %}
							</a>
						</font></li>
						{% endif %}
						
						 <li class="nav-item dropdown hidden-caret" >
                            <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="notification">{{ mgilet_notification_unseen_count(app.user) }}</span>
                            </a>
                            <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                                <li>
                                   <div class="dropdown-title d-flex justify-content-between align-items-center">
                                        Notifications
                                        <button id ="notifi" class="btn btn-primary btn-border btn-sm btn-round">Mark all as read</button>
  <script src="{{asset('assets/js/core/jquery.3.2.1.min.js')}}"></script>
			<script>
        $("#notifi").on('click', function(){
           
            $.ajax({
                url:'{{path('youdev_seen_notification')}}',
                type: "GET",
                dataType: "json",

 
                data: {
                },
                async: true,
                success:function(){
        $('notifi').html(); // rafraichi toute ta DIV "bien sur il lui faut un id "
    }
            });
           $("#youdev").load(location.href+" #youdev>*","");
           
         return false;
            

}); 


    </script>  
                                    </div>
                                </li>
                                <li>
                                    <div class="notif-scroll scrollbar-outer">
                                        <div class="notif-center">
                                            
                                            
                                            
                                           {{ mgilet_notification_render(app.user) }} 
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="see-all" href="{{path('youdev_notificationbyusers', {'identifier':app.user.id})}}">See all notifications<i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </li>
						<li class="nav-item dropdown hidden-caret">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
								<div class="avatar-sm">
								{% if app.user.photoname != null %}
									<img src="{{asset('uploads/img/experts/')}}{{app.user.photoname}}" alt="..." class="avatar-img rounded-circle">
								{% else %}
							<img src="{{asset('template2/images/guest.jfif')}}" class="avatar-img rounded-circle" >
                             {% endif %}
								
								</div>
							</a>
							<ul class="dropdown-menu dropdown-user animated fadeIn">
								<li>
									<div class="user-box">
										<div class="avatar-lg">{% if app.user.photoname != null %}
									<img src="{{asset('uploads/img/experts/')}}{{app.user.photoname}}" alt="..." class="avatar-img rounded-circle">
								{% else %}
							<img src="{{asset('template2/images/guest.jfif')}}" class="avatar-img rounded-circle" >
                             {% endif %}</div>
										<div class="u-text">
											<h4>{{app.user.username}}</h4>
											<p class="text-muted">{{app.user.email}}</p><a href="{{path('cms_user_profil')}}" class="btn btn-rounded btn-danger btn-sm">{% trans %}View Profil{% endtrans %}</a>
										</div>
									</div>
								</li>
								<li>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{ path('fos_user_profile_edit',{'id':app.user.id})}}">{% trans %}Edit Profil{% endtrans %}</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{path('fos_user_security_logout')}}">{% trans %}Logout{% endtrans %}</a>
								</li>
							</ul>
						</li>
						
							<li class="nav-item dropdown hidden-caret">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
								<div class="avatar-sm">
                                    {% for locale in locales %}
									{% if locale == app.session.get('_locale') %}	
								
										<img src="{{asset('images/'~locale~'2.png')}}" alt="..." class="" width="40" height="40">
                                         
								       {% endif %}
									   {% endfor %}
								
								</div>
							</a>
							<ul class="dropdown-menu dropdown-user animated fadeIn">
							   {% for locale in locales %}
									{% if locale != app.session.get('_locale') %}	
								<li>
									<div class="user-box">
										<div class="avatar-lg">
										     <a href="{{ path('change_locale', {'locale': locale}) }}">
										<img src="{{asset('images/'~locale~'2.png')}}" alt=" {{locale}} longuage" class="avatar-img rounded" height="100"></a></div>
										
									</div>
								</li>
								<li>
									<div class="dropdown-divider"></div>
									
								</li>
								  {% endif %}
									   {% endfor %}
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<!-- End Navbar -->
		</div>

		<!-- Sidebar -->
		<div class="sidebar">
			
			<div class="sidebar-background"></div>
			<div class="sidebar-wrapper scrollbar-inner">
				<div class="sidebar-content">
					<div class="user">
						<div class="avatar-sm float-left mr-2">
                         {% if app.user.photoname != null %}
						 <img src="{{asset('uploads/img/experts/')}}{{app.user.photoname}}" alt="..." class="avatar-img rounded-circle">
						 {% else %}
						 <img src="{{asset('template2/images/guest.jfif')}}" class="avatar-img rounded-circle" >
                         {% endif %}						
						</div>
					<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{app.user.username}}
									<span class="user-level">Administrator</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="{{path('cms_user_profil')}}">
											<span class="link-collapse">{% trans %}My Profil {% endtrans %}</span>
										</a>
									</li>
									<li>
										<a href="{{ path('fos_user_profile_edit',{'id':app.user.id})}}">
											<span class="link-collapse">{% trans %}Edit Profil {% endtrans %}</span>
										</a>
									</li>
									<li>
										<a href="{{path('fos_user_security_logout')}}">
											<span class="link-collapse">{% trans %}Logout{% endtrans %}</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						{% block userprofile%}
                        {% endblock %}
					
					</div>
					<ul class="nav">
		              {% block projests %}
                      {% endblock %}
                      {% block page %}
                      {% endblock %}
					  {% block FAQ %}
                      {% endblock %}
					  {% block blocks_site %}
                      {% endblock %}
					  {% block blocks %}
                      {% endblock %}
					  
					  {% block blog %}
                      {% endblock %}
					   {% block news %}
                      {% endblock %}
					    {% block forum %}
                      {% endblock %}


					</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->
<div id="swup">
		<div class="main-panel">
			<div class="content" >
		
				 {% block content %}
                  {% endblock %}
			</div>
			
		</div>
		</div>
		
		<!-- Custom template | don't include it in your project! -->
		<div class="custom-template">
			<div class="title">Settings</div>
			<div class="custom-content">
				<div class="switcher">
					<div class="switch-block">
						<h4>Topbar</h4>
						<div class="btnSwitch">
							<button type="button" class="changeMainHeaderColor" data-color="blue"></button>
							<button type="button" class="selected changeMainHeaderColor" data-color="purple"></button>
							<button type="button" class="changeMainHeaderColor" data-color="light-blue"></button>
							<button type="button" class="changeMainHeaderColor" data-color="green"></button>
							<button type="button" class="changeMainHeaderColor" data-color="orange"></button>
							<button type="button" class="changeMainHeaderColor" data-color="red"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Background</h4>
						<div class="btnSwitch">
							<button type="button" class="changeBackgroundColor" data-color="bg2"></button>
							<button type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
							<button type="button" class="changeBackgroundColor" data-color="bg3"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="custom-toggle">
				<i class="flaticon-settings"></i>
			</div>
		</div>
		<!-- End Custom template -->
	</div>
	  	  {{ encore_entry_script_tags('app') }}

 {% block javascripts %}

  <link rel="stylesheet" href="{{asset('/build/app.js')}}">
   
 {% endblock %}
 
 
</body>
</html>