{% extends 'frontend/base_template3.html.twig' %}
{% block title%} Blog {% endblock title%}
{% block stylesheet%}
    <meta charset="UTF-8">
    <meta name="description" content="Loanday Template">
    <meta name="keywords" content="Loanday, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{asset('template3/css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/elegant-icons.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/nice-select.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/magnific-popup.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/jquery-ui.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/slicknav.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/style.css')}}" type="text/css">


 <link rel="stylesheet" href="{{ asset('assets2/dist/sweetalert2.min.css')}}">


<link href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.min.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_editor.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/code_view.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/colors.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/emoticons.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image_manager.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/line_breaker.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/table.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/char_counter.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/video.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/fullscreen.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css')}}">
      <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/themes/dark.css')}}">
<style>
.dsd{
    margin-left:2px;
    
}
.dsl{
    margin-top:10px;
    
}
</style>
{% endblock %}



{% block header %}



   <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__search">
            <i class="fa fa-search search-switch"></i>
        </div>
        <div class="offcanvas__logo">
            <a href="#"><img src="{{asset('template3/img/logo.png')}}" alt=""></a>
        </div>
        <nav class="offcanvas__menu mobile-menu">
            <ul>
              	 {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

<ul>
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}" >FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>  
            </ul>
        </nav>
  
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
   
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                          {% if site.logo != null %}
                        <a href="#"><img  height="60" width="70" src="{{ vich_uploader_asset(site,'imageFile') }}" alt=""></a>

                         {% else %}
                       <a href="#" class="dsl">{{site.name}}</a>
                        {% endif %}          
                        </div>
                </div>
                <div class="col-lg-9">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul>
                             <li class="dsd"> <form class="navbar-s" method="get" action="{{path('cms_search_page',{'id':site.id})}}">
							<div class="input-group">
								
								<input type="text" id="zz" placeholder="Search ..." class="form-control" name="search">
                                <button type="submit" class="btn btn-search pr-1">
	<font color="black"><i class="fa fa-search search-icon"></i></font>
									</button>
							</div>
						</form> </li> 
                            <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>
                             
                              {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li> 
                  {% if youdev_cms_forum(site) %}
                <li><a href="{{path('list_forum_front',{'id':site.id})}}">Forum</a> </li> 
                {% endif %} 
                          {% if site.news|length >0 %}
         <li><a href="{{path('list_news_front',{'name':site.name,'id':site.id})}}">News</a> </li> 
                {% endif %}

                           {% for menu in site.menus %}
                          {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

            <ul class="dropdown">
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               
                            </ul>
                        </nav>
                        <div class="header__search">
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->


{% endblock header %}

    {% block content %}

 <section class="blog-hero set-bg" data-setbg="{{asset('template3/img/blog/details/details-hero.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="blog__hero__text">
                        <h2>{{art.titre}}</h2>
                        <ul>
                            <li><i class="fa fa-user"></i> {{art.users.username}}</li>
                            <li><i class="fa fa-calendar-o"></i> {{art.created_at|date('D m,Y')}}</li>
                            <li><i class="fa fa-comment-o"></i> Comment</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Hero Section End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
         
        <div class="blog__details__slider owl-carousel">
            <div class="blog__details__slider__img set-bg" data-setbg="{{ vich_uploader_asset(art,'imageFile') }}"></div>
            <div class="blog__details__slider__img set-bg" data-setbg="{{ vich_uploader_asset(art,'imageFile') }}"></div>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__text">
                        <h4>{{art.titre}}</h4>
                        <p class="first-para">{{art.contenu}}</p>
                        
                    </div>
                    <div class="blog__details__tag__share">
                        <div class="row">
                            <div class="col-lg-7 col-md-7">
                                <div class="blog__details__tag">
                                    <span>Tags:</span>
                                 {% for motcles in art.mots_cles %}
                                  <a href="#">{{motcles.mot_cle}}</a>
                                  {% endfor %}
                                  
                                </div>
                            </div>
                          
                        </div>
                    </div>
                
                    <div class="blog__details__comment">
                        <h4>Comment ({{art.commentaire|length}})</h4>
                        <br><br>
                        {% for commentaire in commentaires %}
                        <div class="blog__details__comment__item">
                            <div class="blog__details__comment__item__img">
                               {% if commentaire.users != null %}
                    <img src="{{asset('uploads/img/experts/')}}{{commentaire.users.photoname}}" width="50" height="50" alt="Free Website Template by Free-Template.co">
                   {% else %}
                  <img src="{{asset('template2/images/guest.jfif')}}" width="50" height="50" alt="Free Website Template by Free-Template.co">
                 
                 {% endif %}
                            </div>
                            <div class="blog__details__comment__item__text">
                                <span>{{commentaire.created_at|date("D m,Y")}}</span>
                                <h6>{{commentaire.pseudo}}</h6>
                                <p><div class="fr-view">
                        <p>{{froala_display(commentaire.contenu)}}</p></div></p>
                               
                               	{% if app.request.server.get("REMOTE_ADDR") == commentaire.ip or ( app.user!= null and app.user.id == commentaire.users.id) %}
                    <p><a class=" btn-sm btn-danger" id="{{commentaire.id}}" onClick="swal({
  title: 'Are you sure!',
  text: 'you want to delete this comment ?',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'yes, I confirm',
  cancelButtonText: 'No',
  confirmButtonClass: 'btn-success',
  cancelButtonClass: 'btn-danger',
  buttonsStyling: true
}).then(function () {
  swal(
    'Deleted',
    '{{ commentaire.contenu}}',
    'success'
  ).then(function (){window.location.replace('{{path('cms_delete_comment_post',{'id':commentaire.id,'idt':art.id,'ids':site.id})}}')})
}, function (dismiss) {
  // dismiss can be 'cancel', 'overlay',
  // 'close', and 'timer'
  if (dismiss === 'cancel') {
    swal(
      'cancel',
      'No comments deleted :)',
      'error'
    )
  }
})">Delete</a>
							  <a class="btn-sm btn-default" href="{{path('cms_update_comment_form',{'id':commentaire.id,'idt':art.id,'ids':site.id})}}">Update</a></p>



                    {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                         <div class="navigation">
            {{knp_pagination_render(commentaires)}}
               </div>
                    </div>
                    <div class="blog__details__comment__form">
                    <br>
                        <h4>Leave A Reply</h4>
                        	{% if idc != 0 %}
			{% for com in art.commentaire %}
			{% if com.id== idc %}
              <form action="{{path('cms_update_comment_post',{'id':idc,'idt':art.id,'ids':site.id})}}" method="post">
                            
			 		  <div class="form-group">
                    <label for="message">Message</label>
			  <textarea id='edit' value="{{com.contenu}}" name="contenu" class="form-control" rows="1" placeholder="What are you thinking?" style="margin-top: 0px; margin-bottom: 0px; height: 61px;">{{com.contenu}}</textarea>
    </div>
                            <button type="submit" class="site-btn">update Comment</button>
                        </form>
                
               {% endif %}{% endfor %}
               {% else %}
               
               
               
               {% if art.commentstate == true %}
                <form action="{{path('cms_add_comment_post',{'id':art.id,'ids':site.id})}}" method="post">
                 
                     <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" required class="form-control" name="name" placeholder="Your Name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" required class="form-control" name="email" placeholder="Your Email">
                  </div>
                  <div class="form-group">
                 <label for="email">Message</label>

                    <textarea name="contenu" required  id="edit" value="contenu" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <br>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Post Comment</button>
                  </div>

                </form>
                 {% else %}
     <h3 class="form-control">The Commets are disabled</h3>
    {% endif %}
                {% endif %}
                      
                    </div>
                </div>
            </div>
        </div>
    </section>



   {% endblock content%}
{% block footer %}

   {% if (site.footers|length) > 0 %}

  <br>
 <div class="contact-widget set-bg" data-setbg="{{asset('template3/img/contact-widget.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__widget__item">
                            {% for footer in site.footers %}
                                <h4>Adresse</h4>
                                <p>{{footer.adresse}}</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__widget__item">
                                <h4>Email Contact</h4>
                                <p>{{footer.emailcontact}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__widget__phone">
                        <span>Contact Us Now!</span>
                        <h2>{{footer.phone}}</h2>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="footer__about">
                        <div class="footer__logo">
                            {% if site.logo != null %}
          <img src="{{ vich_uploader_asset(site,'imageFile') }}" width="70" />
          {% else %}
            <h3>{{site.name}}</h3>
            {% endif %}
                        </div>
                        <p>{{site.description}}</p>
                    </div>
                </div>
                <div class="col-lg-2  col-md-1 col-sm-2">
                    <div class="footer__widget">
                        <h5>Useful Links</h5>
                        <div class="footer__widget">
                            <ul>
         <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>

             {% for menu in site.menus %}
           {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

<ul>
        {% for sub in item.subItems %}
           
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}" >{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li> <a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
              
                            </ul>
                        </div>
                    </div>
                </div>
                  {% if ((site.services)|length >0) %}
                 <div class="col-lg-2 offset-lg-1 col-md-1 col-sm-2">
                    <div class="footer__widget">
                        <h5>Services</h5>
                        <div class="footer__widget">
                            <ul>
                                            {% for service in site.services %}
       
                <li><a href="#">{{service.name}}</a></li>
                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-md-2">
                    <div class="footer__widget">
                        <h5>Socials</h5>
                        <div class="footer__widget footer__widget--social">
                            <ul>
                                {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
      {% if footer.linktwitter != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linktwitter}}" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></li>
                {% endif %}
                {% if footer.linkfacebook != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linkfacebook}}"  target="_blank"><i class="fa fa-facebook"></i>Facebbok</a></li>
                {% endif %}
                 {% if footer.linklinkedin != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linklinkedin}}"  target="_blank"><i class="fa fa-linkedin"></i>Linkedin</a></li>
                {% endif %}
                 {% if footer.linkgithub != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linkgithub}}"  target="_blank"><i class="fa fa-github"></i>Github</a></li>
                {% endif %}
                  {% endfor %}
                    {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer__widget footer__widget--address">
                        <h5>Join Our Newsletter</h5>
                        <form action="#" class="d-flex" class="subscribe">
                  <input type="text" class="form-control" placeholder="Email" size="8">
                  <input type="submit" value="Subscribe" class="btn btn-primary">
                </form>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                   
                    <div class="col-lg-6 col-md-6">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <div class="footer__copyright__text">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |<i class="fa fa-heart" aria-hidden="true"></i>  <a href="#" target="_blank">{{site.name}}</a></p>
                        </div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
   {% endif %}
   

{% endblock footer %}
    {% block javascript %}
    <script src="{{asset('template3/js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{asset('template3/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('template3/js/jquery.nice-select.min.js')}}"></script>
    <script src="{{asset('template3/js/jquery-ui.min.js')}}"></script>
    <script src="{{asset('template3/js/jquery.nicescroll.min.js')}}"></script>
    <script src="{{asset('template3/js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('template3/js/jquery.slicknav.js')}}"></script>
    <script src="{{asset('template3/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('template3/js/main.js')}}"></script>




    <script src="{{ asset('assets2/dist/sweetalert2.js')}}"></script>






    
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
 <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/froala_editor.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/align.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_beautifier.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_view.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/colors.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/draggable.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/emoticons.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_size.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_family.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image_manager.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/line_breaker.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/link.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/lists.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_format.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/video.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/table.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/url.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/entities.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/char_counter.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/inline_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/save.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/fullscreen.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/languages/ro.js')}}"></script>
<script>
    (function () {
      new FroalaEditor("#edit", {
        enter: FroalaEditor.ENTER_P,
        initOnClick: false,
		theme: 'dark',

        toolbarButtons: [ ['bold', 'italic', 'underline', 'strikeThrough', 'textColor', 'backgroundColor', 'emoticons'], ['paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent'], ['insertImage', 'insertLink', 'insertFile', 'insertVideo', 'undo', 'redo', 'insertTable', 'insertBlock'] ]
      })
    })()
  </script>
{% endblock javascript %}