{% extends 'frontend/base_template3.html.twig' %}
{% block title%} Blog {% endblock title%}
{% block stylesheet%}
    <meta charset="UTF-8">
    <meta name="description" content="Loanday Template">
    <meta name="keywords" content="Loanday, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{asset('template3/css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/elegant-icons.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/nice-select.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/magnific-popup.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/jquery-ui.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/slicknav.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/style.css')}}" type="text/css">




{% endblock %}




{% block header %}



   <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__search">
            <i class="fa fa-search search-switch"></i>
        </div>
        <div class="offcanvas__logo">
            <a href="#"><img src="{{asset('template3/img/logo.png')}}" alt=""></a>
        </div>
        <nav class="offcanvas__menu mobile-menu">
            <ul>
              	 {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

<ul>
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}" >FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li> 
                 {% if youdev_cms_forum(site) %}
                <li><a href="{{path('list_forum_front',{'id':site.id})}}">Forum</a> </li> 
                {% endif %} 
 
            </ul>
        </nav>
  
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
   
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <div class="header__logo">
                        {% if site.logo != null %}
                        <a href="#"><img  height="60" width="70" src="{{ vich_uploader_asset(site,'imageFile') }}" alt=""></a>

                         {% else %}
                      <a href="#">{{site.name}}</a>
                        {% endif %}  
                        </div>
                </div>
                <div class="col-lg-11">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul>
                             <li> <form class="navbar-right" method="get" action="{{path('cms_search_page',{'id':site.id})}}">
							<div class="input-group">
								
								<input type="text" id="zz" placeholder="Search ..." class="form-control" name="search">
                                <button type="submit" class="btn btn-search pr-1">
	<font color="black"><i class="fa fa-search search-icon"></i></font>
									</button>
							</div>
						</form> </li> 
                         <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>

                 {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
                 {% if youdev_cms_forum(site) %}
                <li><a href="{{path('list_forum_front',{'id':site.id})}}">Forum</a> </li> 
                {% endif %}   
                        {% if site.news|length >0 %}
         <li><a href="{{path('list_news_front',{'name':site.name,'id':site.id})}}">News</a> </li> 
                {% endif %}
              
                         {% for menu in site.menus %}
                        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

            <ul class="dropdown">
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

              
                            </ul>
                        </nav>
                        <div class="header__search">
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->


{% endblock header %}

    {% block content %}

  
 <div class="breadcrumb-option set-bg" data-setbg="{{asset('template3/img/breadcrumb/breadcrumb-bg.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Our Blog</h2>
                        <div class="breadcrumb__links">
                            <a href="#">Home</a>
                            <span>Blog</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->
 <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                {% for art in list_art %}
                    <div class="blog__item">
                        <div class="blog__item__img">
                            <img src="{{ vich_uploader_asset(art,'imageFile') }}"  width="80" height="300" alt="">
                        </div>
                        <div class="blog__item__text">
                            <h3><a href="./blog-details.html">{{art.titre}}</a></h3>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>  {{art.created_at|date('M j,y')}}</li>
                                <li><i class="fa fa-user"></i>{{art.users.username}}</li>
                            </ul>
                            <p>{{art.contenu}}</p>
                            <a href="{{path('cms_article_read_more',{'id':art.id,'ids':site.id})}}" class="btn btn-dark">Continue Reading <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                  
                      <div class="navigation">
       {{ knp_pagination_render(list_art) }}
                   </div>                 
  
 
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__search">
                            <h5>Search</h5>
                            <form action="#">
                                <input type="text" placeholder="Searching...">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="blog__sidebar__categories">
                            <h5>Categories</h5>
                            <ul>
                            {% for cat in list_cat%}
                                <li><a href="#">{{cat.name}}<span>{{cat.articles|length}}</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                   <div class="blog__sidebar__recent">
                            <h5>Recent Post</h5>
                            {% for rec in recent %}
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="{{ vich_uploader_asset(rec,'imageFile') }}" width="50" height="50" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>{{rec.titre}}</h6>
                                    <p><i class="fa fa-clock-o"></i> {{rec.created_at|date('d m,Y')}}</p>
                                </div>
                            </a>
                            {% endfor %}
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>



   {% endblock content%}
{% block footer %}

  {% if (site.footers|length) > 0 %}

  <br>
 <div class="contact-widget set-bg" data-setbg="{{asset('template3/img/contact-widget.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__widget__item">
                            {% for footer in site.footers %}
                                <h4>Adresse</h4>
                                <p>{{footer.adresse}}</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__widget__item">
                                <h4>Email Contact</h4>
                                <p>{{footer.emailcontact}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__widget__phone">
                        <span>Contact Us Now!</span>
                        <h2>{{footer.phone}}</h2>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="footer__about">
                        <div class="footer__logo">
                            {% if site.logo != null %}
          <img src="{{ vich_uploader_asset(site,'imageFile') }}" width="70" />
          {% else %}
            <h3>{{site.name}}</h3>
            {% endif %}
                        </div>
                        <p>{{site.description}}</p>
                    </div>
                </div>
                <div class="col-lg-2  col-md-1 col-sm-2">
                    <div class="footer__widget">
                        <h5>Useful Links</h5>
                        <div class="footer__widget">
                            <ul>
                <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>

            {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

<ul>
        {% for sub in item.subItems %}
           
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}" >{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li> <a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                  {% if ((site.services)|length >0) %}
                 <div class="col-lg-2 offset-lg-1 col-md-1 col-sm-2">
                    <div class="footer__widget">
                        <h5>Services</h5>
                        <div class="footer__widget">
                            <ul>
                                            {% for service in site.services %}
       
                <li><a href="#">{{service.name}}</a></li>
                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-md-2">
                    <div class="footer__widget">
                        <h5>Socials</h5>
                        <div class="footer__widget footer__widget--social">
                            <ul>
                                {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
      {% if footer.linktwitter != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linktwitter}}" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></li>
                {% endif %}
                {% if footer.linkfacebook != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linkfacebook}}"  target="_blank"><i class="fa fa-facebook"></i>Facebbok</a></li>
                {% endif %}
                 {% if footer.linklinkedin != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linklinkedin}}"  target="_blank"><i class="fa fa-linkedin"></i>Linkedin</a></li>
                {% endif %}
                 {% if footer.linkgithub != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linkgithub}}"  target="_blank"><i class="fa fa-github"></i>Github</a></li>
                {% endif %}
                  {% endfor %}
                    {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer__widget footer__widget--address">
                        <h5>Join Our Newsletter</h5>
                        <form action="#" class="d-flex" class="subscribe">
                  <input type="text" class="form-control" placeholder="Email" size="8">
                  <input type="submit" value="Subscribe" class="btn btn-primary">
                </form>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                   
                    <div class="col-lg-6 col-md-6">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <div class="footer__copyright__text">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |<i class="fa fa-heart" aria-hidden="true"></i>  <a href="#" target="_blank">{{site.name}}</a></p>
                        </div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
   {% endif %}
   

{% endblock footer %}
    {% block javascript %}
    <script src="{{asset('template3/js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{asset('template3/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('template3/js/jquery.nice-select.min.js')}}"></script>
    <script src="{{asset('template3/js/jquery-ui.min.js')}}"></script>
    <script src="{{asset('template3/js/jquery.nicescroll.min.js')}}"></script>
    <script src="{{asset('template3/js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('template3/js/jquery.slicknav.js')}}"></script>
    <script src="{{asset('template3/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('template3/js/main.js')}}"></script>
{% endblock javascript %}