{% extends 'frontend/base_template3.html.twig' %}
{% block title%} {{page.name}} {% endblock title%}
{% block stylesheet%}
    <meta charset="UTF-8">
    <meta name="description" content="Loanday Template">
    <meta name="keywords" content="Loanday, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{asset('template3/css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/elegant-icons.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/nice-select.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/magnific-popup.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/jquery-ui.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/slicknav.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{asset('template3/css/style.css')}}" type="text/css">






    <link href="{{asset('template4/assets/img/favicon.png')}}" rel="icon">
  <link href="{{asset('template4/assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{asset('template4/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/aos/aos.css')}}" rel="stylesheet">
<link href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.min.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_editor.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/code_view.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/colors.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/emoticons.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image_manager.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/line_breaker.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/table.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/char_counter.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/video.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/fullscreen.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/themes/dark.css')}}">
  <!-- Template Main CSS File -->
  <link href="{{asset('template4/assets/css/style.css')}}" rel="stylesheet">
  <style>
.navbar-right{
    margin-left:330px;
}
.contact__form{
     margin-top:5px;
}

.dsd{
    margin-left:2px;
    
}
.dsl{
    margin-top:10px;
    
}



</style>
{% endblock %}




{% block header %}



 

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__search">
            <i class="fa fa-search search-switch"></i>
        </div>
        <div class="offcanvas__logo">
            <a href="#"><img src="{{asset('template3/img/logo.png')}}" alt=""></a>
        </div>
        <nav class="offcanvas__menu mobile-menu">
            <ul>
            <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>

              	 {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

<ul>
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}" >FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>  
            </ul>
        </nav>
  
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
   
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <div class="header__logo">
                        {% if site.logo != null %}
                        <a href="#"><img  height="60" width="70" src="{{ vich_uploader_asset(site,'imageFile') }}" alt=""></a>

                         {% else %}
             <a href="#">{{site.name}}</a>{% endif %}              
                   </div>
                </div>
                <div class="col-lg-11">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul>
                             <li> <form class="navbar-s" method="get" action="{{path('cms_search_page',{'id':site.id})}}">
							<div class="input-group">
								
								<input type="text" id="zz" placeholder="Search ..." class="form-control" name="search">
                                <button type="submit" class="btn btn-search pr-1">
	<font color="black"><i class="fa fa-search search-icon"></i></font>
									</button>
							</div>
						</form> </li> 
                             <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>
                             
                             {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li> 
                  {% if youdev_cms_forum(site) %}
                <li><a href="{{path('list_forum_front',{'id':site.id})}}">Forum</a> </li> 
                {% endif %} 
                    {% if site.news|length >0 %}
         <li><a href="{{path('list_news_front',{'name':site.name,'id':site.id})}}">News</a> </li> 
                {% endif %}

                            {% for menu in site.menus %}
                            {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

            <ul class="dropdown">
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               
                
                            </ul>
                        </nav>
                        <div class="header__search">
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->


{% endblock header %}

    {% block content %}

  {% if page.headers|length >0 %}
    {% for header in page.headers %}
 <section class="hero set-bg" data-setbg="{{vich_uploader_asset(header,'imageFile')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="hero__text">
                        {{froala_display(header.titre)}}
                        {{froala_display(header.contenu)}}

                    </div>
                </div>
               
            </div>
        </div>
    </section>

{% endfor %}
{% endif %}
{% if page.content != null %}
 <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

<br>
        <div class="faq-list">
    {{ froala_display(page.content) }}
        </div>

      </div>
    </section>
    {% endif %}
    
 {% if page.teamMembres|length >0 %}

 <div class="testimonial spad set-bg" data-setbg="{{asset('template3/img/testimonial/testimonial-bg.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Team & Membre</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial__carousel">
        <div class="container">
            <div class="row">
                <div class="testimonial__slider owl-carousel">
                {% for team in page.teamMembres %}
                    <div class="col-lg-4">
                        <div class="testimonial__item">
                            <img src="{{vich_uploader_asset(team,'imageFile')}}" width="80" height="80" alt="">
                            <h5>{{froala_display(team.name)}}</h5>
                            <span>{{froala_display(team.metier)}}</span>
                            <p>{{team.description}}</p>
                        </div>
                    </div>
                   
                   {% endfor %}
                    </div>
                  
                </div>
            </div>
        </div>

{% endif %}

  {% if page.pricings|length >0 %}

 <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
        </div>

        <div class="row">
        {% for pricing in page.pricings %}
          <div class="col-lg-4 col-md-6 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3><img src="{{vich_uploader_asset(pricing,'imageFile')}}" width="300" height="250"></h3>
              <h4><sup>$</sup>{{pricing.prix}}<span> / {{pricing.type}}</span></h4>
             
               {{froala_display(pricing.options)}}
             
              <div class="btn-wrap">
                   <button id="checkout-button" class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div>

         

         {% endfor %}

        </div>

      </div>
    </section>
{% endif %}

{% if page.features|length >0 %}
 <div class="testimonial spad set-bg" data-setbg="{{asset('template3/img/testimonial/testimonial-bg.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Feature</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial__carousel">
        <div class="container">
            <div class="row">
                <div class="testimonial__slider owl-carousel">
                {% for feature in page.features %}
                    <div class="col-lg-4">
                        <div class="testimonial__item">
                            <img src=" {{vich_uploader_asset(feature,'imageFile')}}" alt="">
                            <h5> {{feature.titre}}</h5>
                            <p>{{froala_display(feature.description)}}</p>
                        </div>
                    </div>
                {% endfor %}
                   
                
                </div>
            </div>
        </div>
    </div>


    {% endif %}
    {% if page.ImageVideos|length >0 %}
<section class="services-details spad">
        <div class="container">
         <div class="section-title">
                        <h2>Images & Videos</h2>
                    </div>
            <div class="row">
                <div class="col-lg-12">
                  
                    <div class="services__details__img">
                        <div class="row">
                        {% for imgvideo in page.ImageVideos %}
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              {{froala_display(imgvideo.content)}}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}









{% if page.pageServices|length >0 %}
 <section class="services spad">
        <div class="container">
        <div class="section-title">
          <h2>Services</h2>
        </div>

            <div class="row">
            {% for  service in page.pageServices %}
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="services__item">
                        <div class="services__item__img">
                            <img src="{{vich_uploader_asset(service,'imageFile')}}" width="400" height="200" alt="">
                        </div>
                        <div class="services__item__text">
                            <h4>{{service.name}}</h4>
                            <p>{{service.description}}</p>
                        </div>
                    </div>
                </div>
                
               {% endfor %}
               
                
               
            </div>
        </div>
    </section>

{% endif %}

{% if page.galleries|length >0 %}
 <section class="services spad">
        <div class="container">
        <div class="section-title">
          <h2>Gallery</h2>
        </div>

            <div class="row">
            {% for  gallery in page.galleries %}
                        {% for  image in gallery.images %}

                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="services__item">
                        <div class="services__item__img">
                            <img src="{{ asset('/upload/'~ image.name) }}" width="400" height="200" alt="">
                        </div>
                       
                    </div>
                </div>
                
               {% endfor %}
                              {% endfor %}

                
               
            </div>
        </div>
    </section>

{% endif %}



{% if page.contacts|length >0 %}
<section class="contact spad">
        <div class="container">
           <div class="section-title">
          <h2>Contact</h2>
        </div>
       
            <div class="contact__form">
                <div class="row">
                <br>
                    <div class="col-lg-12">
                        <div class="contact__form__text">
                            <div class="contact__form__title">
                                <h2>Get In Touch</h2>
                                <p>Please contact us or send us an email.</p>
                                 {% for label, messages in app.flashes('messagesent',[]) %}
                        {% for message in messages %}
                            <div class="alert alert-success flash-notice ">
                                {{ message }}
                            </div>
                         {% endfor %}
                        {% endfor %}
                            </div>
                            <form action="{{path('send_mail',{'id':page.id,'ids':site.id})}}" method="post">
                           <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" required/>
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" required />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
			  <textarea id='edit'  name="message" class="form-control" rows="10" ></textarea>
                <div class="validate"></div>
              </div>
             
                                <button type="submit" class="site-btn">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="contact__address__item">
                        <h4>Adresse</h4>
                        <ul>
                            <li><i class="fa fa-map-marker"></i>{{footer.adresse}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="contact__address__item">
                        <h4>Email</h4>
                        <ul>
                            
                            <li><i class="fa fa-envelope"></i> {{footer.emailcontact}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="contact__address__item">
                        <h4>Phone</h4>
                        <ul>
                           
                            <li><i class="fa fa-phone"></i>+216 {{footer.phone}}</li>
                          
                        </ul>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}
   {% endblock content%}
{% block footer %}


    {% if (site.footers|length) > 0 %}

  <br>
 <div class="contact-widget set-bg" data-setbg="{{asset('template3/img/contact-widget.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__widget__item">
                                {% if (site.footers|length) > 0 %}
                            {% for footer in site.footers %}
                                <h4>Adresse</h4>
                                <p>{{footer.adresse}}</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__widget__item">
                                <h4>Email Contact</h4>
                                <p>{{footer.emailcontact}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__widget__phone">
                        <span>Contact Us Now!</span>
                        <h2>{{footer.phone}}</h2>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="footer__about">
                        <div class="footer__logo">
                            {% if site.logo != null %}
          <img src="{{ vich_uploader_asset(site,'imageFile') }}" width="70" />
          {% else %}
            <h3>{{site.name}}</h3>
            {% endif %}
                        </div>
                        <p>{{site.description}}</p>
                    </div>
                </div>
                <div class="col-lg-2  col-md-1 col-sm-2">
                    <div class="footer__widget">
                        <h5>Useful Links</h5>
                        <div class="footer__widget">
                            <ul>
              <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>

               {% for menu in site.menus %}
               {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

<ul>
        {% for sub in item.subItems %}
           
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}" >{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li> <a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                  {% if ((site.services)|length >0) %}
                 <div class="col-lg-2 offset-lg-1 col-md-1 col-sm-2">
                    <div class="footer__widget">
                        <h5>Services</h5>
                        <div class="footer__widget">
                            <ul>
                                            {% for service in site.services %}
       
                <li><a href="#">{{service.name}}</a></li>
                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-md-2">
                    <div class="footer__widget">
                        <h5>Socials</h5>
                        <div class="footer__widget footer__widget--social">
                            <ul>
                                {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
      {% if footer.linktwitter != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linktwitter}}" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></li>
                {% endif %}
                {% if footer.linkfacebook != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linkfacebook}}"  target="_blank"><i class="fa fa-facebook"></i>Facebbok</a></li>
                {% endif %}
                 {% if footer.linklinkedin != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linklinkedin}}"  target="_blank"><i class="fa fa-linkedin"></i>Linkedin</a></li>
                {% endif %}
                 {% if footer.linkgithub != "" %}
                <li class="ftco-animate"><a href="https://{{footer.linkgithub}}"  target="_blank"><i class="fa fa-github"></i>Github</a></li>
                {% endif %}
                  {% endfor %}
                    {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer__widget footer__widget--address">
                        <h5>Join Our Newsletter</h5>
                        <form action="#" class="d-flex" class="subscribe">
                  <input type="text" class="form-control" placeholder="Email" size="8">
                  <input type="submit" value="Subscribe" class="btn btn-primary">
                </form>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                   
                    <div class="col-lg-6 col-md-6">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <div class="footer__copyright__text">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |<i class="fa fa-heart" aria-hidden="true"></i>  <a href="#" target="_blank">{{site.name}}</a></p>
                        </div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
   {% endif %}

{% endblock footer %}
    {% block javascript %}
    <script src="{{asset('template3/js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{asset('template3/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('template3/js/jquery.nice-select.min.js')}}"></script>
    <script src="{{asset('template3/js/jquery-ui.min.js')}}"></script>
    <script src="{{asset('template3/js/jquery.nicescroll.min.js')}}"></script>
    <script src="{{asset('template3/js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('template3/js/jquery.slicknav.js')}}"></script>
    <script src="{{asset('template3/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('template3/js/main.js')}}"></script>




  <script src="{{asset('template4/assets/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/waypoints/jquery.waypoints.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/venobox/venobox.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('template4/assets/js/main.js')}}"></script>
   <script src="https://js.stripe.com/v3/"></script>


     <script type="text/javascript">
      // Create an instance of the Stripe object with your publishable API key
      var stripe = Stripe('pk_test_51IfYN7FoJvPd8QoJ5sFw5nsEVq9PTPVIzaI5H4bDD8q4AZe2JRbJHBNJ4Z9BaWAK8KVpb43kiFBloUhnf2AeWYQe00zeUHVmcT');
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch('/create-checkout-session', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });
    </script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
 <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/froala_editor.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/align.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_beautifier.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_view.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/colors.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/draggable.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/emoticons.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_size.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_family.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image_manager.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/line_breaker.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/link.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/lists.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_format.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/video.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/table.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/url.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/entities.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/char_counter.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/inline_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/save.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/fullscreen.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/languages/ro.js')}}"></script>
<script>
    (function () {
      new FroalaEditor("#edit", {
        enter: FroalaEditor.ENTER_P,
        toolbarInline: false,
        initOnClick: true,
	

        toolbarButtons: [ ['bold', 'italic', 'underline', 'strikeThrough', 'textColor', 'backgroundColor'], ['paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent'], ['insertImage', 'insertLink','undo', 'redo'] ]
      })
    })()
  </script>

{% endblock javascript %}