{% extends 'frontend/base_template4.html.twig' %}



{% block title %} Blog Detail Post {% endblock %}
{% block stylesheet %}
 
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{asset('template4/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/aos/aos.css')}}" rel="stylesheet">
    	<link rel="stylesheet" href="{{asset('assets/css/azzara.min.css')}}">

  <!-- Template Main CSS File -->
  <link href="{{asset('template4/assets/css/style.css')}}" rel="stylesheet">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{asset('template2/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('template3/css/font-awesome.min.css')}}" type="text/css">







     <link rel="stylesheet" href="{{ asset('assets2/dist/sweetalert2.min.css')}}">


<link href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.min.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_editor.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/code_view.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/colors.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/emoticons.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image_manager.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/line_breaker.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/table.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/char_counter.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/video.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/fullscreen.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css')}}">
      <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/themes/dark.css')}}">

<style>
#header{

    background-Color: rgba(40, 58, 90, 0.9);;
}

.navbar-right{
    margin-left:80px;
   }


</style>




{% endblock stylesheet %}
{% block header %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="#">{{site.name}}</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>
            {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li> 
                                {% if youdev_cms_forum(site) %}

                <li><a href="{{path('list_forum_front',{'id':site.id})}}">Forum</a> </li>
                {% endif %}
                 {% if site.news|length >0 %}
               <li><a href="{{path('list_news_front',{'name':site.name,'id':site.id})}}">News</a> </li>
                {% endif %}
 
          {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

              <ul>
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               
 <form class="navbar-right" method="get" action="{{path('cms_search_page',{'id':site.id})}}">
							<div class="input-group">
								<div class="input-group-prepend">
									
								</div>
								<input type="text" placeholder="Search ..." class="form-control" name="search">
                                <button type="submit" class="btn btn-search pr-1">
	<font color="white">	<i class="fa fa-search search-icon"></i>	</font>
									</button>
							</div>
						</form>
        </ul>
      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->
{% endblock %}
  {% block content %}
<br>
<br>
 <main id="main">
 <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
      
        <h2>Post Details</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="{{ vich_uploader_asset(art,'imageFile') }}" class="img-fluid" alt="">
                      <img src="{{ vich_uploader_asset(art,'imageFile') }}" class="img-fluid" alt="">
            <img src="{{ vich_uploader_asset(art,'imageFile') }}" class="img-fluid" alt="">

          </div>

          <div class="portfolio-info">
            <h3>Post information</h3>
            <ul>
              <li><strong>Category</strong>:
              {% for cat in art.categories %}
              
              
             <span class="badge badge-default"> {{cat.name}}</span>
              
              {% endfor %}
              
              
              </li>
              <li><strong>Author</strong>:{{art.users.username}}</li>
              <li><strong>Published date</strong>: {{art.created_at|date('D m,Y')}}</li>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>{{art.titre}}</h2>
          <p>
           {{art.contenu}}
          </p>
        </div>

      </div>
    
    </section><!-- End Portfolio Details Section -->
<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 blog-content">
         


            <div class="pt-5">
              <h3 class="mb-5">{{art.commentaire|length}} comments</h3>
              <ul class="comment-list">
              {% for commentaire in commentaires %}
                <li class="comment">
                  <div class="vcard bio">
                  {% if commentaire.users != null %}
                    <img src="{{asset('uploads/img/experts/')}}{{commentaire.users.photoname}}" alt="Free Website Template by Free-Template.co">
                   {% else %}
                  <img src="{{asset('template2/images/guest.jfif')}}" alt="Free Website Template by Free-Template.co">
                 
                 {% endif %}
                  </div>
                  <div class="comment-body">
                    <h3>{{commentaire.pseudo}}</h3>
                    <div class="meta"> {{commentaire.created_at|date("D m,Y")}} at {{commentaire.created_at|date("H:i")}}</div>
                    <p>	<div class="fr-view">
                        <p>{{froala_display(commentaire.contenu)}}</p></div></p>
                        	{% if app.request.server.get("REMOTE_ADDR") == commentaire.ip or ( app.user!= null and app.user.id == commentaire.users.id) %}
                    <p><a class=" btn-sm btn-danger" id="{{commentaire.id}}" onClick="swal({
  title: 'Are you sure!',
  text: 'you want to delete this comment ?',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'yes, I confirm',
  cancelButtonText: 'No',
  confirmButtonClass: 'btn-success',
  cancelButtonClass: 'btn-danger',
  buttonsStyling: true
}).then(function () {
  swal(
    'Deleted',
    '{{ commentaire.contenu}}',
    'success'
  ).then(function (){window.location.replace('{{path('cms_delete_comment_post',{'id':commentaire.id,'idt':art.id,'ids':site.id})}}')})
}, function (dismiss) {
  // dismiss can be 'cancel', 'overlay',
  // 'close', and 'timer'
  if (dismiss === 'cancel') {
    swal(
      'cancel',
      'No comments deleted :)',
      'error'
    )
  }
})">Delete</a>
							  <a class="btn-sm btn-default" href="{{path('cms_update_comment_form',{'id':commentaire.id,'idt':art.id,'ids':site.id})}}">Update</a></p>



                    {% endif %}
                  </div>
                </li>

               {% endfor %}
               
                  </ul>
               
 
                
            
              <!-- END comment-list -->
              
              <div class="comment-form-wrap pt-5">
              <div class="navigation">
            {{knp_pagination_render(commentaires)}}
               </div>
                </br>
                <h3 class="mb-5">Leave a comment</h3>
                	{% if idc != 0 %}
			{% for com in art.commentaire %}
			{% if com.id== idc %}
                <form method="POST" action="{{path('cms_update_comment_post',{'id':idc,'idt':art.id,'ids':site.id})}}">
			  <div class="editor">
			  <div class="form-group">
                    <label for="message">Message</label>
			  <textarea id='edit' value="{{com.contenu}}" name="contenu" class="form-control" rows="1" placeholder="What are you thinking?" style="margin-top: 0px; margin-bottom: 0px; height: 61px;">{{com.contenu}}</textarea>
    </div>
            </div><br>    
               <div class="form-group">
                    <input type="submit" value="Update Comment" class="btn btn-primary">
                  </div>
               {% endif %}{% endfor %}
               {% else %}
               
               
               
               {% if art.commentstate == true %}
                <form action="{{path('cms_add_comment_post',{'id':art.id,'ids':site.id})}}" method="post">
                 
                     <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" required class="form-control" name="name" placeholder="Your Name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" required  class="form-control" name="email" placeholder="Your Email">
                  </div>
                  <div class="form-group">
                 <label for="email">Message</label>

                    <textarea name="contenu" required id="edit" value="contenu" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn btn-primary">
                  </div>

                </form>
                 {% else %}
     <h3 class="form-control">The Commets are disabled</h3>
    {% endif %}
                {% endif %}
              </div>
            </div>

          </div>
        
          
        </div>
      </div>
    </div>

 </main>


 {% endblock content %}
 {% block footer %}
  {% if (site.footers|length) > 0 %}

  <br>
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>{{site.name}}</h3>
            {% for footer in site.footers %}
            <p>
            {{footer.adresse}} <br><br>
              <strong>Phone:</strong>{{footer.phone}}<br>
              <strong>Email:</strong>{{footer.emailcontact}}<br>
            </p>
            {% endfor %}
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
            
        {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><i class="bx bx-chevron-right"></i> <a href="">{{item.name}}</a>

          <ul>
        {% for sub in item.subItems %}
           
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><i class="bx bx-chevron-right"></i> <a href="https://{{item.url}}" target="_blank">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><i class="bx bx-chevron-right"></i> <a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li> <i class="bx bx-chevron-right"></i> <a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
            </ul>
          </div>
          {% if ((site.services)|length >0) %}
<div class="col-lg-3 col-md-6 footer-links">
            <h4>Services</h4>
            <ul>
            
        {% for service in site.services %}
                   
                 
                <li class="drop-down"><i class="bx bx-chevron-right"></i> <a href="#">{{service.name}}</a></li>
             {% endfor %}
        
            </ul>
          </div>
          {% endif %}

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
                               {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
      {% if footer.linktwitter != "" %}
               <a href="https://{{footer.linktwitter}}" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                {% endif %}
                {% if footer.linkfacebook != "" %}
             <a href="https://{{footer.linkfacebook}}"  target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                {% endif %}
                 {% if footer.linklinkedin != "" %}
              <a href="https://{{footer.linklinkedin}}"  target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                {% endif %}
                 {% if footer.linkgithub != "" %}
               <a href="https://{{footer.linkgithub}}"  target="_blank" class="github"><i class="bx bxl-github"></i></a>
                {% endif %}
                  {% endfor %}
                    {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>{{site.name}}</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        by <a href="https://bootstrapmade.com/">{{site.name}}</a>
      </div>
    </div>
  </footer>
  {% endif %}
{% endblock footer  %}
{% block javascript %}
  <!-- Vendor JS Files -->
  <script src="{{asset('template4/assets/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/waypoints/jquery.waypoints.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/venobox/venobox.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('template4/assets/js/main.js')}}"></script>
   <script src="{{ asset('assets2/dist/sweetalert2.js')}}"></script>






    
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
 <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/froala_editor.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/align.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_beautifier.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_view.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/colors.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/draggable.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/emoticons.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_size.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_family.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image_manager.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/line_breaker.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/link.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/lists.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_format.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/video.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/table.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/url.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/entities.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/char_counter.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/inline_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/save.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/fullscreen.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/languages/ro.js')}}"></script>
<script>
    (function () {
      new FroalaEditor("#edit", {
        enter: FroalaEditor.ENTER_P,
        initOnClick: false,
		theme: 'dark',

        toolbarButtons: [ ['bold', 'italic', 'underline', 'strikeThrough', 'textColor', 'backgroundColor', 'emoticons'], ['paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent'], ['insertImage', 'insertLink', 'insertFile', 'insertVideo', 'undo', 'redo', 'insertTable', 'insertBlock'] ]
      })
    })()
  </script>

{% endblock javascript %}