{% extends 'frontend/base_template4.html.twig' %}



{% block title %} {{page.name}} {% endblock %}
{% block stylesheet %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

 <link href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.min.css')}}" rel="stylesheet" type="text/css" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{asset('template4/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{asset('template4/assets/css/style.css')}}" rel="stylesheet">


    <link rel="stylesheet" href="{{asset('template3/css/font-awesome.min.css')}}" type="text/css">

<style>
#header{
  background-color: #37517e;
}
.team section-bg{

margin-top:30%;}


.navbar-right{
    margin-left:80px;
   }
#zz{
 height:40px;
}

</style>
 <link rel="stylesheet" href="{{asset('template2/css/style.css')}}">
<link href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.min.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_editor.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/froala_style.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/code_view.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/colors.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/emoticons.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image_manager.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/image.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/line_breaker.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/table.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/char_counter.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/video.css')}}">
  <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/plugins/fullscreen.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/kmsfroalaeditor/froala_editor/css/themes/dark.css')}}">

{% endblock stylesheet %}
{% block header %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="#">{{site.name}}</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
         <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>
           {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
                                {% if youdev_cms_forum(site) %}

                <li><a href="{{path('list_forum_front',{'id':site.id})}}">Forum</a> </li>
                {% endif %}
                 {% if site.news|length >0 %}
               <li><a href="{{path('list_news_front',{'name':site.name,'id':site.id})}}">News</a> </li>
                {% endif %}

        {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

            <ul>
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

                  
 <form class="navbar-right" method="get" action="{{path('cms_search_page',{'id':site.id})}}">
							<div class="input-group">
								<div class="input-group-prepend">
									
								</div>
								<input type="text" placeholder="Search ..." class="form-control" id="zz" name="search">
                                <button type="submit" class="btn btn-search pr-1">
	<font color="white">	<i class="fa fa-search search-icon"></i>	</font>
									</button>
							</div>
						</form>
        </ul>
      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->
{% endblock %}
  {% block content %}
    {% if page.headers|length >0 %}
    {% for header in page.headers %}
  <div class="ftco-blocks-cover-1">
      <div class="site-section-cover " data-stellar-background-ratio="0.5" style="background-image: url('{{vich_uploader_asset(header,'imageFile')}}')">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10">
            {{froala_display(header.titre)}}
               <p>  {{froala_display(header.contenu)}}   </p>
            </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>


    <link rel="stylesheet" href="{{asset('template2/css/style.css')}}">





    {% endfor %}
    {% endif %}


    <br>
 <main id="main">

{% if page.content != null %}
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">
<div class="section-title">
          <h2>{{page.name}}</h2>
        </div>
            <br>           
       <div id="accordion" class="accordion-secondary">
		 <br>  
      
	<div class="card">
    {{ froala_display(page.content) }}
	
	</div>               
   <br>
     	</div> </div>
</section>
{% endif %}

  </main>
 {% if page.teamMembres|length >0 %}
  
  <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team & Membres</h2>
        </div>

        <div class="row">
 {% for team in page.teamMembres %}
          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="{{ vich_uploader_asset(team,'imageFile') }}" class="img-fluid" alt=""></div>
              <div class="member-info">
               {{froala_display(team.name)}}
               {{froala_display(team.metier)}}
                <p>{{team.description}}</p>
                
              </div>
            </div>
          </div>

        {% endfor %}

        </div>

      </div>
    </section>

{% endif %}
{% if page.pricings|length >0 %}

 <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
        </div>

        <div class="row">
{% for pricing in page.pricings %}
          <div class="col-lg-4 col-md-6 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3><img src="{{vich_uploader_asset(pricing,'imageFile')}}" width="300" height="250"></h3>
              <h4><sup>$</sup>{{pricing.prix}}<span> / {{pricing.type}}</span></h4>
             
               {{froala_display(pricing.options)}}
             
              <div class="btn-wrap">
                <button id="checkout-button" class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div>

         

         {% endfor %}

        </div>

      </div>
    </section>
{% endif %}

{% if page.features|length >0 %}
<section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Features</h2>
        </div>

        <div class="row">
        {% for feature in page.features %}
          <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
              {% if feature.image != null %}
              <img src="{{vich_uploader_asset(feature,'imageFile')}}" width="300" height="200">
              {% endif %}
              </div>
              <h4 class="title">{{feature.titre}}</h4>
              {{froala_display(feature.description)}}
            </div>
          </div>

          {% endfor %}

          

        </div>

      </div>
    </section>
    {% endif %}
    {% if page.ImageVideos|length >0 %}    
<section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Image & Videos</h2>
        </div>
        <div class="row">
        {% for imgvideo in page.ImageVideos %}
          <div class="col-lg-12 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
           {{froala_display(imgvideo.content)}}
          </div>
          
        </div>
{% endfor %}
      </div>
    </section>
{% endif %}
   {% if page.pageServices|length >0 %}
 <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
        </div>

        <div class="row">
        {% for service in page.pageServices %}
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="{{vich_uploader_asset(service,'imageFile')}}" width="300" height="200"></div>
              <h4 class="title"><a href="">{{service.name}}</a></h4>
              <p class="description">{{service.description}}</p>
            </div>
          </div>

         
{% endfor %}

         

        </div>

      </div>
    </section>


{% endif %}
{% if page.galleries|length >0 %}
 <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
        </div>

      
        <div class="row portfolio-container">
         {% for gallery in page.galleries %}
                  {% for image in gallery.images %}

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ asset('/upload/'~ image.name) }}" class="img-fluid" alt="">
              <div class="portfolio-info">
              
                <div class="portfolio-links">
                  <a href="{{ asset('/upload/'~ image.name) }}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
  {% endfor %}
        {% endfor %}     

        </div>

      </div>
    </section>

{% endif %}





{% if page.contacts|length >0 %}
 <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>
      
        <div class="row">
          {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h5>Location:</h5>
                <p>{{footer.adresse}}</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h5>Email:</h5>
                <p>{{footer.emailcontact}}</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h5>Phone:</h5>
                <p>{{footer.phone}}</p>
              </div>

            </div>

          </div>
          {% endfor %}
          {% endif %}
          <div class="col-lg-8 ">
           {% for label, messages in app.flashes('messagesent',[]) %}
                        {% for message in messages %}
                            <div class="alert alert-success flash-notice ">
                                {{ message }}
                            </div>
                         {% endfor %}
                        {% endfor %}
           <form action="{{path('send_mail',{'id':page.id,'ids':site.id})}}" method="post" >
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" required/>
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" required />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
			  <textarea id='edit'  name="message" class="form-control" rows="10" ></textarea>
                <div class="validate"></div>
              </div>
             
              <div class="text-center"><button type="submit" class="btn btn-primary">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
{% endif %}
 {% endblock content %}

 {% block footer %}
  {% if (site.footers|length) > 0 %}

  <br>
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>{{site.name}}</h3>
            {% for footer in site.footers %}
            <p>
            {{footer.adresse}} <br><br>
              <strong>Phone:</strong>{{footer.phone}}<br>
              <strong>Email:</strong>{{footer.emailcontact}}<br>
            </p>
            {% endfor %}
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
            
        {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><i class="bx bx-chevron-right"></i> <a href="">{{item.name}}</a>

          <ul>
        {% for sub in item.subItems %}
           
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><i class="bx bx-chevron-right"></i> <a href="https://{{item.url}}" target="_blank">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><i class="bx bx-chevron-right"></i> <a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li> <i class="bx bx-chevron-right"></i> <a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
            </ul>
          </div>

                  {% if ((site.services)|length >0) %}
<div class="col-lg-3 col-md-6 footer-links">
            <h4>Services</h4>
            <ul>
            
        {% for service in site.services %}
                   
                 
                <li class="drop-down"><i class="bx bx-chevron-right"></i> <a href="#">{{service.name}}</a></li>
             {% endfor %}
        
            </ul>
          </div>
          {% endif %}

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
                               {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
      {% if footer.linktwitter != "" %}
               <a href="https://{{footer.linktwitter}}" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                {% endif %}
                {% if footer.linkfacebook != "" %}
             <a href="https://{{footer.linkfacebook}}"  target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                {% endif %}
                 {% if footer.linklinkedin != "" %}
              <a href="https://{{footer.linklinkedin}}"  target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                {% endif %}
                 {% if footer.linkgithub != "" %}
               <a href="https://{{footer.linkgithub}}"  target="_blank" class="github"><i class="bx bxl-github"></i></a>
                {% endif %}
                  {% endfor %}
                    {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>{{site.name}}</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        by <a href="https://bootstrapmade.com/">{{site.name}}</a>
      </div>
    </div>
  </footer>
  {% endif %}
{% endblock footer  %}
{% block javascript %}
  <!-- Vendor JS Files -->
  <script src="{{asset('template4/assets/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/waypoints/jquery.waypoints.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/venobox/venobox.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('template4/assets/js/main.js')}}"></script>
<script>
 $('.set-bg').each(function () {
        var bg = $(this).data('setbg');
        $(this).css('background-image', 'url(' + bg + ')');
    });</script>




    <script src="https://js.stripe.com/v3/"></script>


     <script type="text/javascript">
      // Create an instance of the Stripe object with your publishable API key
      var stripe = Stripe('pk_test_51IfYN7FoJvPd8QoJ5sFw5nsEVq9PTPVIzaI5H4bDD8q4AZe2JRbJHBNJ4Z9BaWAK8KVpb43kiFBloUhnf2AeWYQe00zeUHVmcT');
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch('/create-checkout-session', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });
    </script>




    

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
 <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/froala_editor.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/align.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_beautifier.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/code_view.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/colors.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/draggable.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/emoticons.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_size.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/font_family.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/image_manager.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/line_breaker.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/link.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/lists.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_format.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/paragraph_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/video.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/table.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/url.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/entities.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/char_counter.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/inline_style.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/save.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/plugins/fullscreen.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('bundles/kmsfroalaeditor/froala_editor/js/languages/ro.js')}}"></script>
<script>
    (function () {
      new FroalaEditor("#edit", {
        enter: FroalaEditor.ENTER_P,
        toolbarInline: false,
        initOnClick: true,
	

        toolbarButtons: [ ['bold', 'italic', 'underline', 'strikeThrough', 'textColor', 'backgroundColor'], ['paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent'], ['insertImage', 'insertLink','undo', 'redo'] ]
      })
    })()
  </script>
{% endblock javascript %}