{% extends 'frontend/base_template4.html.twig' %}



{% block title %} Home {% endblock %}
{% block stylesheet %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

 
  <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->

  <!-- Vendor CSS Files -->
  <link href="{{asset('template4/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{asset('template4/assets/css/style.css')}}" rel="stylesheet">
    	<link rel="stylesheet" href="{{asset('assets/css/azzara.min.css')}}">
    <link rel="stylesheet" href="{{asset('template3/css/font-awesome.min.css')}}" type="text/css">
   


<style>
#header{
  background-color: #37517e;
}
.team section-bg{

margin-top:30%;

}

.navbar-right{
    margin-left:80px;
   }



</style>


{% endblock stylesheet %}
{% block header %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="#">{{site.name}}</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
         <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>
            {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
                                {% if youdev_cms_forum(site) %}

                <li><a href="{{path('list_forum_front',{'id':site.id})}}">Forum</a> </li>
                {% endif %}
                {% if site.news|length >0 %}
               <li><a href="{{path('list_news_front',{'name':site.name,'id':site.id})}}">News</a> </li>
                {% endif %}

        {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><a href="">{{item.name}}</a>

           <ul>
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

                 
                 
 <form class="navbar-right" method="get" action="{{path('cms_search_page',{'id':site.id})}}">
							<div class="input-group">
								<div class="input-group-prepend">
									
								</div>
								<input type="text" placeholder="Search ..." class="form-control" name="search">
                                <button type="submit" class="btn btn-search pr-1">
	<font color="white">	<i class="fa fa-search search-icon"></i>	</font>
									</button>
							</div>
						</form> 
        </ul>
      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->
{% endblock %}
  {% block content %}
 {% if page!= null %}


{% if page.headers|length >0 %}
    {% for header in page.headers %}
  <div class="ftco-blocks-cover-1">
      <div class="site-section-cover " data-stellar-background-ratio="0.5" style="background-image: url('{{vich_uploader_asset(header,'imageFile')}}')">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10">
            {{froala_display(header.titre)}}
               <p>  {{froala_display(header.contenu)}}   </p>
            </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>


    <link rel="stylesheet" href="{{asset('template2/css/style.css')}}">





    {% endfor %}
    {% endif %}


    <br>
 <main id="main">

{% if page.content != null %}
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">
<div class="section-title">
          <h2>{{page.name}}</h2>
        </div>
            <br>           
       <div id="accordion" class="accordion-secondary">
		 <br>  
      
	<div class="card">
    {{ froala_display(page.content) }}
	
	</div>               
   <br>
     	</div> </div>
</section>
{% endif %}

  </main>
 {% if page.teamMembres|length >0 %}
  
  <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team & Membres</h2>
        </div>

        <div class="row">
 {% for team in page.teamMembres %}
          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="{{ vich_uploader_asset(team,'imageFile') }}" class="img-fluid" alt=""></div>
              <div class="member-info">
               {{froala_display(team.name)}}
               {{froala_display(team.metier)}}
                <p>{{team.description}}</p>
                
              </div>
            </div>
          </div>

        {% endfor %}

        </div>

      </div>
    </section>

{% endif %}
{% if page.pricings|length >0 %}

 <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
        </div>

        <div class="row">
{% for pricing in page.pricings %}
          <div class="col-lg-4 col-md-6 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3><img src="{{vich_uploader_asset(pricing,'imageFile')}}" width="300" height="250"></h3>
              <h4><sup>$</sup>{{pricing.prix}}<span> / {{pricing.type}}</span></h4>
             
               {{froala_display(pricing.options)}}
             
              <div class="btn-wrap">
                <button id="checkout-button" class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div>

         

         {% endfor %}

        </div>

      </div>
    </section>
{% endif %}

{% if page.features|length >0 %}
<section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Features</h2>
        </div>

        <div class="row">
        {% for feature in page.features %}
          <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
              {% if feature.image != null %}
              <img src="{{vich_uploader_asset(feature,'imageFile')}}" width="300" height="200">
              {% endif %}
              </div>
              <h4 class="title">{{feature.titre}}</h4>
              {{froala_display(feature.description)}}
            </div>
          </div>

          {% endfor %}

          

        </div>

      </div>
    </section>
    {% endif %}
    {% if page.ImageVideos|length >0 %}    
<section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Image & Videos</h2>
        </div>
        <div class="row">
        {% for imgvideo in page.ImageVideos %}
          <div class="col-lg-12 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
           {{froala_display(imgvideo.content)}}
          </div>
          
        </div>
{% endfor %}
      </div>
    </section>
{% endif %}
   {% if page.pageServices|length >0 %}
 <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
        </div>

        <div class="row">
        {% for service in page.pageServices %}
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="{{vich_uploader_asset(service,'imageFile')}}" width="300" height="200"></div>
              <h4 class="title"><a href="">{{service.name}}</a></h4>
              <p class="description">{{service.description}}</p>
            </div>
          </div>

         
{% endfor %}

         

        </div>

      </div>
    </section>


{% endif %}
{% if page.galleries|length >0 %}
 <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
        </div>

      
        <div class="row portfolio-container">
         {% for gallery in page.galleries %}
                  {% for image in gallery.images %}

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ asset('/upload/'~ image.name) }}" width="200" height="200" alt="">
              <div class="portfolio-info">
              
                <div class="portfolio-links">
                  <a href="{{ asset('/upload/'~ image.name) }}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
  {% endfor %}
        {% endfor %}     

        </div>

      </div>
    </section>

{% endif %}





{% if page.contacts|length >0 %}
 <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>
      
        <div class="row">
          {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h5>Location:</h5>
                <p>{{footer.adresse}}</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h5>Email:</h5>
                <p>{{footer.emailcontact}}</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h5>Phone:</h5>
                <p>{{footer.phone}}</p>
              </div>

            </div>

          </div>
          {% endfor %}
          {% endif %}
          <div class="col-lg-8 ">
           {% for label, messages in app.flashes('messagesent',[]) %}
                        {% for message in messages %}
                            <div class="alert alert-success flash-notice ">
                                {{ message }}
                            </div>
                         {% endfor %}
                        {% endfor %}
           <form action="{{path('send_mail',{'id':page.id,'ids':site.id})}}" method="post" >
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" required/>
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" required />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
			  <textarea id='edit'  name="message" class="form-control" rows="10" ></textarea>
                <div class="validate"></div>
              </div>
             
              <div class="text-center"><button type="submit" class="btn btn-primary">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
{% endif %}










{% endif %}

    <br>
 <main id="main">

{% if (list_art|length >0) %}
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Blog</h2>
        </div>

        <div class="row">
 {% for art in list_art %}
          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="{{ vich_uploader_asset(art,'imageFile') }}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>{{art.titre}}</h4>
                <span><h5>Posted by {{art.users.username}},{{art.created_at|date('M j,Y')}}</h5></span>
                <p>{{art.contenu}}</p>
                <div>
       <a href="{{path('cms_article_read_more',{'id':art.id,'ids':site.id})}}" class="btn btn-default">Continue Reading <i class="fa fa-long-arrow-right"></i></a>

                </div>
              </div>
            </div>
          </div>

        {% endfor %}

  <br>       

   

        </div>
          <br>       

     <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-6">
        <div class="navigation">
       {{ knp_pagination_render(list_art) }}
                   </div>
        </div></div>
      </div>
      
    </section>
{% endif %}
{% if (faqs|length >0) %}
<section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>Find Answer To Your Question Here </p>
        </div>

        <div class="faq-list">
          <ul>
                    {% for faq in faqs %}

            <li>
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#ttt{{faq.id}}">{{faq.question}} <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="ttt{{faq.id}}" class="collapse show" data-parent=".faq-list">
                <p>
                {{faq.reponse}}
                </p>
              </div>
            </li>

{% endfor %}           

          </ul>
        

      </div>
      <br>
      <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div class="navigation">
       {{ knp_pagination_render(faqs) }}
                   </div>
        </div></div></div>
    </section>
{% endif %}
  </main>


 {% endblock content %}

 {% block footer %}
  {% if (site.footers|length) > 0 %}

  <br>
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>{{site.name}}</h3>
            {% for footer in site.footers %}
            <p>
            {{footer.adresse}} <br><br>
              <strong>Phone:</strong>{{footer.phone}}<br>
              <strong>Email:</strong>{{footer.emailcontact}}<br>
            </p>
            {% endfor %}
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
            
        {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><i class="bx bx-chevron-right"></i> <a href="">{{item.name}}</a>

          <ul>
        {% for sub in item.subItems %}
           
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><i class="bx bx-chevron-right"></i> <a href="https://{{item.url}}" target="_blank">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><i class="bx bx-chevron-right"></i> <a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li> <i class="bx bx-chevron-right"></i> <a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
            </ul>
          </div>

                  {% if ((site.services)|length >0) %}
<div class="col-lg-3 col-md-6 footer-links">
            <h4>Services</h4>
            <ul>
            
        {% for service in site.services %}
                   
                 
                <li class="drop-down"><i class="bx bx-chevron-right"></i> <a href="#">{{service.name}}</a></li>
             {% endfor %}
        
            </ul>
          </div>
          {% endif %}

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
                               {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
      {% if footer.linktwitter != "" %}
               <a href="https://{{footer.linktwitter}}" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                {% endif %}
                {% if footer.linkfacebook != "" %}
             <a href="https://{{footer.linkfacebook}}"  target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                {% endif %}
                 {% if footer.linklinkedin != "" %}
              <a href="https://{{footer.linklinkedin}}"  target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                {% endif %}
                 {% if footer.linkgithub != "" %}
               <a href="https://{{footer.linkgithub}}"  target="_blank" class="github"><i class="bx bxl-github"></i></a>
                {% endif %}
                  {% endfor %}
                    {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>{{site.name}}</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        by <a href="https://bootstrapmade.com/">{{site.name}}</a>
      </div>
    </div>
  </footer>
  {% endif %}
{% endblock footer  %}
{% block javascript %}
  <!-- Vendor JS Files -->
  <script src="{{asset('template4/assets/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/waypoints/jquery.waypoints.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/venobox/venobox.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('template4/assets/js/main.js')}}"></script>

{% endblock javascript %}