{% extends 'frontend/base_template4.html.twig' %}

{% block title %} Lists Topics {% endblock %}
{% block stylesheet %}
 
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{asset('template4/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{asset('template4/assets/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{asset('template4/assets/css/style.css')}}" rel="stylesheet">
    	<link rel="stylesheet" href="{{asset('assets/css/azzara.min.css')}}">
    <link rel="stylesheet" href="{{asset('template3/css/font-awesome.min.css')}}" type="text/css">

  <!-- =======================================================
  * Template Name: Arsha - v2.3.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->


  <style>
.navbar-right{
    margin-left:80px;
   }
#header{

    background-Color: rgba(40, 58, 90, 0.9);;
}
</style>
{% endblock stylesheet %}
{% block header %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="#">{{site.name}}</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                        <nav class="nav-menu d-none d-lg-block">
                  <ul>
                  <li><a href="{{ path('cms_site_view',{'name':site.name})}}">Home</a></li>
                {% if (site.fAQs|length ) >0 %}

                <li><a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li><a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
                                 {% if youdev_cms_forum(site) %}

                <li><a href="{{path('list_forum_front',{'id':site.id})}}">Forum</a> </li>
                {% endif %}
                 {% if site.news|length >0 %}
               <li><a href="{{path('list_news_front',{'name':site.name,'id':site.id})}}">News</a> </li>
                {% endif %}

                  {% for menu in site.menus %}
                  {% for item in menu.items %}

                  {% if (item.subItems|length ) >0 %}
                  <li class="drop-down"><a href="">{{item.name}}</a>

                  <ul>
        {% for sub in item.subItems %}
             {% if (sub.url_page|length) >0 %}
                
                  <li><a href="{{ path('cms_view_page',{'id':sub.url_page.id,'idsite':site.id})}}">{{sub.name}}</a></li>
                  {% else %}
                <li><a href="https://{{sub.url}}" target="_blank">{{sub.name}}</a></li>
               {% endif %}
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><a href="https://{{item.url}}">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

                  
 <form class="navbar-right" method="get" action="{{path('cms_search_page',{'id':site.id})}}">
							<div class="input-group">
								<div class="input-group-prepend">
									
								</div>
								<input type="text" placeholder="Search ..." class="form-control" name="search">
                                <button type="submit" class="btn btn-search pr-1">
	<font color="white">	<i class="fa fa-search search-icon"></i>	</font>
									</button>
							</div>
						</form>
        </ul>
      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->
{% endblock %}
  {% block content %}
<!-- End Hero -->

 <br>
 <main id="main">


    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Topics</h2>
        </div>

        <div class="row">
 {% for topic in list_topics %}
          <div class="col-lg-12">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="member-info">
                <h4>{{topic.titre}}</h4>
                <span><h5>Posted by {{topic.createdby}},{{topic.createdat|date('M j,Y')}}</h5></span>
                <div>
                <p>{{froala_display(topic.contenu)}}</p>
       <a href="{{path('cms_view_messages_topic',{'id':topic.id,'ids':site.id})}}" class="btn btn-default">View messages<i class="fa fa-long-arrow-right"></i></a>
        
                </div>
              </div>
            </div>
          </div>

        {% endfor %}

  <br>       

   

        </div>
          <br>       

     <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-6">
        <div class="navigation">
       {{ knp_pagination_render(list_topics) }}
                   </div>
        </div></div>
      </div>
      
    </section>



  </main>




 {% endblock content %}
 {% block footer %}
  {% if (site.footers|length) > 0 %}

  <br>
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>{{site.name}}</h3>
            {% for footer in site.footers %}
            <p>
            {{footer.adresse}} <br><br>
              <strong>Phone:</strong>{{footer.phone}}<br>
              <strong>Email:</strong>{{footer.emailcontact}}<br>
            </p>
            {% endfor %}
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
            
        {% for menu in site.menus %}
        {% for item in menu.items %}
                   
                  {% if (item.subItems|length ) >0 %}
                <li class="drop-down"><i class="bx bx-chevron-right"></i> <a href="">{{item.name}}</a>

          <ul>
        {% for sub in item.subItems %}
           
                  {% endfor %}
                </ul> </li>
                {% else %}
                 {% if  (item.url_page|length) >0  %}
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('cms_view_page',{'id':item.url_page.id,'idsite':site.id})}}">{{item.name}}</a></li>
               {% else %}
                <li><i class="bx bx-chevron-right"></i> <a href="https://{{item.url}}" target="_blank">{{item.name}}</a></li>  {% endif %}
              {% endif %}
             {% endfor %}
             {% endfor %} 

               {% if (site.fAQs|length ) >0 %}

                <li><i class="bx bx-chevron-right"></i> <a href="{{path('list_faq_front',{'id':site.id})}}">FAQ</a> </li>

               {% endif %}
                <li> <i class="bx bx-chevron-right"></i> <a href="{{path('list_blog_front',{'id':site.id})}}">Blog</a> </li>
            </ul>
          </div>

                 {% if ((site.services)|length >0) %}
<div class="col-lg-3 col-md-6 footer-links">
            <h4>Services</h4>
            <ul>
            
        {% for service in site.services %}
                   
                 
                <li class="drop-down"><i class="bx bx-chevron-right"></i> <a href="#">{{service.name}}</a></li>
             {% endfor %}
        
            </ul>
          </div>
          {% endif %}

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
                               {% if (site.footers|length) > 0 %}
            {% for footer in site.footers %}
      {% if footer.linktwitter != "" %}
               <a href="https://{{footer.linktwitter}}" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                {% endif %}
                {% if footer.linkfacebook != "" %}
             <a href="https://{{footer.linkfacebook}}"  target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                {% endif %}
                 {% if footer.linklinkedin != "" %}
              <a href="https://{{footer.linklinkedin}}"  target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                {% endif %}
                 {% if footer.linkgithub != "" %}
               <a href="https://{{footer.linkgithub}}"  target="_blank" class="github"><i class="bx bxl-github"></i></a>
                {% endif %}
                  {% endfor %}
                    {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>{{site.name}}</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        by <a href="https://bootstrapmade.com/">{{site.name}}</a>
      </div>
    </div>
  </footer>
  {% endif %}
{% endblock footer  %}
{% block javascript %}
  <!-- Vendor JS Files -->
  <script src="{{asset('template4/assets/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/waypoints/jquery.waypoints.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/venobox/venobox.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{asset('template4/assets/vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('template4/assets/js/main.js')}}"></script>

{% endblock javascript %}